In [1]:
import numpy as np
import pandas as pd

In [2]:
emp=pd.read_csv('employees.csv')
emp.sample(n=5)

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
299,Emily,Female,1/13/1988,6:42 AM,36711,19.028,True,Human Resources
60,Paula,NaN,11/23/2005,2:01 PM,48866,4.271,False,Distribution
760,Shawn,Male,12/29/2006,3:05 AM,57871,4.020,True,Human Resources
148,Patrick,NaN,7/14/1991,2:24 AM,124488,14.837,True,Sales
885,Juan,Male,10/6/1993,8:52 AM,85871,9.160,False,Product

In [5]:
emp['First Name'].values

array(['Douglas', 'Thomas', 'Maria', 'Jerry', 'Larry', 'Dennis', 'Ruby',
       nan, 'Angela', 'Frances', 'Louise', 'Julie', 'Brandon', 'Gary',
       'Kimberly', 'Lillian', 'Jeremy', 'Shawn', 'Diana', 'Donna', 'Lois',
       'Matthew', 'Joshua', nan, 'John', nan, 'Craig', 'Scott', 'Terry',
       'Benjamin', 'Christina', 'Joyce', nan, 'Jean', 'Jerry', 'Theresa',
       'Rachel', 'Linda', 'Stephanie', nan, 'Michael', 'Christine',
       'Beverly', 'Marilyn', 'Cynthia', 'Roger', 'Bruce', 'Kathy',
       'Clarence', 'Chris', 'Nancy', nan, 'Todd', 'Alan', 'Sara', 'Karen',
       'Carl', 'Henry', 'Theresa', 'Irene', 'Paula', 'Denise', nan,
       'Matthew', 'Kathleen', 'Steve', 'Nancy', 'Rachel', 'Jose', 'Irene',
       'Todd', 'Johnny', 'Bobby', 'Frances', 'Thomas', 'Bonnie',
       'Margaret', 'Charles', 'Robin', 'Bonnie', 'Gerald', 'Christopher',
       'Steven', 'Shawn', 'Doris', 'Jeremy', 'Annie', 'Annie', 'Donna',
       'Janice', 'Janice', 'James', 'Linda', 'Virginia', 'Harry',
       'Heather', 'Cynthia', 'Laura', 'Tina', 'Harold', 'Melissa',
       'Aaron', 'Jack', 'Phyllis', 'John', 'Kathy', 'Paul', 'Steven',
       'Russell', 'Christopher', 'Shirley', 'Bonnie', 'Willie', 'Tina',
       'Ashley', 'Pamela', nan, 'Steven', 'Andrea', 'Paul', 'Peter',
       'Kathleen', 'Christina', 'Helen', 'Marilyn', 'Patricia',
       'Michelle', 'William', 'Kenneth', 'Antonio', 'Shirley', 'Rebecca',
       'Carlos', 'Lois', 'Carolyn', 'Gloria', 'Henry', 'Adam', 'Ashley',
       nan, 'Shirley', 'Adam', 'Elizabeth', 'Teresa', 'Nicole',
       'Jennifer', 'Patricia', 'Philip', 'Patrick', nan, 'Sean',
       'Brandon', 'Ruth', 'Victor', 'Rebecca', 'Marie', 'Howard', nan,
       'Norma', 'James', 'Kathy', 'Marilyn', 'Arthur', 'Terry', 'Mary',
       nan, nan, 'Christopher', 'Peter', 'Michelle', 'Irene', 'Patrick',
       'Sara', 'Lillian', nan, 'Willie', 'Victor', 'Wayne', 'Jane',
       'Jessica', 'Mark', 'Randy', 'Lillian', 'Ruth', 'Jerry', 'Sandra',
       nan, 'Roger', 'Charles', 'Clarence', 'Carol', 'Lois', 'Barbara',
       'Rebecca', 'Irene', 'Ronald', 'Steven', 'Carolyn', 'Maria',
       'Jonathan', 'Gary', 'Kimberly', 'Roger', 'Diana', 'Willie',
       'Brandon', 'Patricia', 'Katherine', 'Jonathan', 'Emily', 'Ruth',
       'Linda', 'Lisa', 'Evelyn', 'Julie', 'Mary', 'Matthew', 'Douglas',
       'Gregory', 'Billy', nan, 'Gregory', 'Jason', 'Daniel', 'Sarah',
       'Harry', 'Kathy', 'Todd', 'Bobby', 'Jeremy', 'George', 'Diane',
       'Marilyn', 'Kathryn', 'Irene', 'Norma', 'Laura', 'Cheryl', 'Kevin',
       'Lillian', 'Phyllis', 'Walter', 'Robert', 'Jimmy', 'Clarence',
       'Victor', 'Fred', 'Brenda', 'Justin', 'Betty', 'Randy', 'Sharon',
       'Ralph', nan, 'Edward', 'Denise', 'Debra', nan, 'Michael', 'Henry',
       'Gloria', 'Marie', 'Anne', 'Sarah', 'Stephanie', 'Roy', nan, nan,
       'Irene', nan, 'Thomas', 'Frank', 'Fred', 'Nicholas', 'Howard',
       'Debra', 'Christine', 'Brenda', 'Betty', 'Ruby', 'Kevin', 'Arthur',
       'Carl', 'Todd', 'Brenda', 'Judy', 'Todd', 'Lois', 'Walter',
       'Jessica', 'Jeremy', 'Tammy', 'Anne', 'Jesse', 'Virginia', 'Jesse',
       'Jeremy', 'Daniel', 'Patrick', 'Emily', 'Alan', 'James', 'Adam',
       'Joan', 'Jeremy', 'Margaret', 'Mark', 'Marilyn', 'Cheryl',
       'Benjamin', 'Harold', 'Ernest', 'Gerald', 'Judy', 'Bobby', 'Bobby',
       'Marie', 'Kathy', 'Roy', 'Jacqueline', nan, 'Julie', 'Douglas',
       'Linda', 'Ruby', 'Russell', 'Jeffrey', 'Aaron', 'Samuel', nan,
       'Randy', 'Evelyn', 'Fred', 'Shirley', 'Todd', 'Robert', 'Mark',
       'Earl', 'Richard', 'Michael', 'Steven', 'Carlos', 'Marie',
       'Ronald', 'Scott', 'Steven', 'James', 'Lori', 'Philip', 'Phyllis',
       'Thomas', 'Cynthia', nan, nan, 'Elizabeth', 'Andrea', 'Judy',
       'Russell', 'Scott', 'Sarah', 'Susan', 'Margaret', 'Joshua',
       'Justin', 'Juan', 'Gloria', 'Jennifer', 'Edward', 'Marilyn',
       'Mary', 'Linda', 'Larry', 'Albert', 'Kenneth', nan, 'Gregory',
       'Brandon', 'Stephen', 'Russell', nan, 'Pamela', 'Scott', nan,
       'Carlos', 'Jack', 'Debra', 'Phyllis', 'Robert', 'Gloria', 'Sharon',
       'Barbara', 'Marilyn', 'Ralph', 'Harry', 'Robin', 'Kathy', 'Rose',
       'Clarence', 'Doris', 'Kathryn', 'Billy', 'Norma', 'Richard',
       'Craig', 'Sarah', 'Sharon', 'Mary', 'Steve', 'Joe', 'Jeremy',
       'Ernest', 'Kevin', 'Jacqueline', 'Johnny', 'Gary', 'Shirley', nan,
       'Sarah', 'Julia', 'Dorothy', 'Justin', 'Kevin', 'Victor',
       'Deborah', 'Matthew', 'Alice', 'Todd', 'Frank', 'Christopher',
       'Rose', 'Andrea', 'Charles', 'Jessica', 'Wanda', 'Joyce', 'Billy',
       'Kathryn', 'Denise', 'Jason', 'Nicholas', 'Aaron', 'Louise',
       'Julie', 'Kathy', nan, 'Chris', 'Cheryl', 'Gregory', 'Wayne',
       'Beverly', 'Willie', 'Terry', 'Scott', 'Annie', nan, 'Ruth',
       'Deborah', 'Patricia', 'Albert', 'Charles', 'Tina', 'Jeremy',
       'Craig', 'Jose', 'Lawrence', 'Helen', 'Walter', 'Amy', 'Janice',
       'Stephen', 'Ryan', 'Sharon', 'Joshua', 'Clarence', 'Jonathan',
       'Stephanie', 'Kathy', 'Albert', 'Michael', 'Richard', 'Amy', nan,
       'Beverly', nan, 'Joe', 'Ashley', 'Howard', 'Cheryl', 'Robert',
       'Sharon', 'Judith', 'Nicholas', 'Jerry', 'Craig', 'Barbara',
       'Eugene', 'Johnny', 'Benjamin', 'Diana', 'Barbara', 'Christine',
       'Sean', 'Sarah', 'Roger', nan, nan, 'Donald', 'Clarence', 'Scott',
       'Ann', 'Frank', 'Joe', 'Wanda', 'Jimmy', 'Amy', 'Larry', 'Gloria',
       'Ruth', 'Diana', 'Raymond', 'Peter', nan, 'Catherine', 'Diane',
       'Peter', 'Steve', 'Barbara', 'Helen', 'Jimmy', 'Christopher',
       'Kathleen', 'Virginia', 'Lisa', 'Earl', 'Gerald', 'Louise',
       'Clarence', 'Cynthia', 'Adam', 'Justin', nan, 'Ruby', 'Amanda',
       'Anna', 'Roger', 'Julie', 'Joseph', 'Evelyn', 'Janice', 'Sara',
       'Gregory', 'Philip', 'Barbara', 'Amanda', 'Phyllis', 'Anne',
       'Arthur', 'Jane', 'Linda', 'Ashley', 'Shawn', 'Kathleen', 'Sara',
       'Randy', 'Andrew', 'Marilyn', 'Johnny', nan, 'Susan', 'Ruby',
       'Kelly', 'Jonathan', 'Raymond', 'Kimberly', nan, 'John', 'Michael',
       'Jerry', 'Amanda', 'Harold', 'Harry', 'Ernest', 'Harry', 'Diane',
       'Jack', 'Shirley', 'Rose', 'Cheryl', 'Cynthia', 'Sandra', 'Andrea',
       'Rachel', 'Justin', 'Marie', 'Louis', 'Nancy', 'Mark', 'Teresa',
       'Frances', nan, 'Barbara', 'Christine', 'Bobby', 'Carl', 'Bruce',
       'Rose', 'Mildred', nan, nan, 'Todd', 'Alan', 'Elizabeth', 'Julie',
       'Teresa', 'Eric', 'Edward', 'Kimberly', 'Kathy', 'Peter',
       'Beverly', 'Ralph', 'Justin', 'Irene', 'Irene', 'Jeremy',
       'Cynthia', nan, 'Anne', nan, 'Debra', 'Michael', 'Jason',
       'Rebecca', 'Andrea', 'Carl', 'Randy', 'Marilyn', 'Wayne',
       'Frances', 'Amanda', 'Kathleen', 'Amanda', 'Amanda', 'Shawn',
       'Katherine', 'Anna', 'Elizabeth', 'Donald', 'Gregory', 'Ruth',
       'Cynthia', 'Deborah', 'Willie', 'Debra', 'Carl', 'Walter', 'Lisa',
       'Rebecca', 'Jessica', 'Steve', 'Mary', 'Craig', 'Katherine',
       'Andrea', 'Timothy', 'Anthony', 'Harold', 'Douglas', 'James',
       'Joseph', 'Martha', 'Laura', 'Robert', 'Ralph', nan, 'Diane',
       'Annie', 'Jacqueline', 'Brenda', 'Lori', 'Albert', 'Frank',
       'Deborah', 'Robin', 'Alice', nan, 'Paul', nan, 'Brian', 'Julie',
       'Bruce', 'Joan', 'Harold', 'Alice', 'Barbara', 'Sarah', 'Samuel',
       nan, 'Barbara', 'Amy', 'Frank', 'Robin', 'Debra', 'Brandon',
       'Thomas', 'Harry', 'Todd', 'Patricia', 'Steve', nan, 'Edward',
       'Karen', 'Martin', 'Ann', 'Jonathan', 'Peter', 'Eric', 'Jason',
       'Terry', 'John', 'Marie', 'Harold', 'Joshua', 'Brandon', 'Andrea',
       'Jeremy', 'Daniel', 'Roy', 'Dorothy', 'Steven', 'Nicole', 'Ann',
       'Henry', nan, nan, 'Barbara', 'Judy', 'Lawrence', 'Joseph',
       'Carlos', 'Russell', 'Jane', 'Martin', 'Steven', 'Judy', 'James',
       'Gloria', 'Ernest', 'Martha', 'Janet', 'Louis', 'Tina', 'Henry',
       'Antonio', 'Lisa', 'Denise', 'Stephen', 'Benjamin', 'Carl', 'Ruth',
       'Shawn', 'Jennifer', 'Terry', 'Jacqueline', 'Roger', 'Alice',
       'Justin', 'Janet', 'Robin', 'Samuel', 'Katherine', 'Peter',
       'Lillian', nan, nan, 'Rose', 'Bobby', 'Kimberly', 'Antonio',
       'Doris', 'Steven', 'Lawrence', nan, nan, 'Stephanie', nan,
       'Sandra', 'Kevin', 'Michelle', 'Lisa', 'Fred', 'Joseph', 'Anne',
       'Andrea', 'Nicole', 'Theresa', 'Catherine', 'Rose', 'Lawrence',
       'Raymond', 'Clarence', 'Ryan', 'Jane', 'Lois', 'Shawn', 'Thomas',
       'Kathryn', 'Mary', 'Julie', 'George', 'Ralph', 'Judith', nan,
       'Evelyn', 'Rachel', 'Maria', 'Kelly', 'Ruby', 'Ann', 'Kenneth',
       'William', nan, 'Deborah', nan, 'Julia', 'Robert', nan, 'Jesse',
       'Cynthia', 'Johnny', 'Michael', 'Kenneth', 'Keith', 'Gerald',
       'Carl', 'Douglas', 'Carolyn', 'Joseph', 'Billy', 'Joyce',
       'Lillian', 'Ruby', 'Sandra', 'Louise', 'Maria', 'Brenda',
       'Stephen', 'Nicole', 'Bobby', 'Ernest', 'Charles', 'Bobby',
       'Diana', 'Mildred', 'Harry', 'Phillip', 'Bonnie', 'Marie', 'Sean',
       'Robin', 'Phillip', 'Jerry', 'Ronald', 'Phillip', 'Ryan', 'Karen',
       'Bonnie', 'Earl', 'Katherine', 'Matthew', 'Cynthia', 'Gerald',
       'Brenda', 'Jason', 'Melissa', 'Beverly', 'Terry', nan,
       'Jacqueline', 'Amy', 'Robert', 'Ruby', 'Sara', 'Kathryn', 'Lisa',
       'Juan', 'Anthony', 'David', 'Marilyn', 'Margaret', nan, 'Timothy',
       'Brandon', 'Frank', 'Betty', 'Janice', 'Victor', 'Kenneth', 'Jane',
       'Walter', 'Christina', 'Patricia', nan, 'Heather', 'Stephanie',
       'Alice', 'Frances', 'Elizabeth', 'Janice', 'Donald', 'Melissa',
       'Carl', 'Joe', 'Lois', 'Ann', 'Todd', 'Marilyn', 'Shawn', 'Ryan',
       'Sean', 'Rose', 'George', 'Arthur', 'Irene', 'Deborah', nan,
       'Judith', 'Philip', 'Jeffrey', 'Theresa', 'Nancy', 'Harold',
       'Bonnie', 'Doris', 'Samuel', 'Alice', 'Maria', 'Aaron', 'Mark',
       'Ralph', 'Andrew', 'William', 'Lori', 'Wayne', 'Kenneth', 'Gerald',
       nan, nan, 'Ashley', 'Scott', 'Paula', nan, 'Teresa', 'Randy',
       'Joe', 'Sarah', 'Beverly', 'Jeffrey', 'Gloria', 'Albert',
       'Stephen', 'Antonio', 'Jonathan', 'Ann', 'Bruce', 'Catherine',
       'Louis', 'Thomas', 'Louise', 'Linda', 'Alice', 'Patrick', 'Victor',
       'Russell', 'Harry', 'Susan', 'Denise', 'Sarah', 'Sean', 'Ernest',
       'Kimberly', 'James', 'Rose', 'John', 'Maria', 'Stephen', 'Donna',
       'Gloria', 'Alice', 'Justin', 'Robin', 'Rose', 'Anthony', 'Tina',
       'George', 'Henry', 'Phillip', 'Russell', 'Larry', 'Albert'],
      dtype=object)

In [6]:
for index in emp.index:
    print(emp['First Name'][index], emp['Gender'][index], emp['Team'][index])

Douglas Male Marketing
Thomas Male nan
Maria Female Finance
Jerry Male Finance
Larry Male Client Services
Dennis Male Legal
Ruby Female Product
nan Female Finance
Angela Female Engineering
Frances Female Business Development
Louise Female nan
Julie Female Legal
Brandon Male Human Resources
Gary Male Sales
Kimberly Female Finance
Lillian Female Product
Jeremy Male Human Resources
Shawn Male Product
Diana Female Client Services
Donna Female Product
Lois nan Legal
Matthew Male Marketing
Joshua nan Client Services
nan Male nan
John Male Client Services
nan Male Client Services
Craig Male Marketing
Scott nan Legal
Terry Male Client Services
Benjamin Male Legal
Christina Female Engineering
Joyce nan Product
nan Male nan
Jean Female Business Development
Jerry Male Client Services
Theresa Female Sales
Rachel Female Business Development
Linda Female Client Services
Stephanie Female Business Development
nan Male Client Services
Michael Male Distribution
Christine nan Business Development
Beverly Female Legal
Marilyn Female Marketing
Cynthia Female Product
Roger Male Sales
Bruce Male Finance
Kathy Female Client Services
Clarence Male Business Development
Chris nan Sales
Nancy Female Engineering
nan nan Sales
Todd Male Human Resources
Alan nan Finance
Sara Female Engineering
Karen Female Product
Carl Male Finance
Henry Male Human Resources
Theresa Female Engineering
Irene Female Engineering
Paula nan Distribution
Denise Female Business Development
nan Female Marketing
Matthew Male Human Resources
Kathleen nan Business Development
Steve Male Distribution
Nancy Female Business Development
Rachel Female Finance
Jose Male Finance
Irene nan Finance
Todd nan Client Services
Johnny Male Sales
Bobby Male Product
Frances Female Sales
Thomas Male Marketing
Bonnie Female Human Resources
Margaret Female Distribution
Charles Male Marketing
Robin Female Sales
Bonnie Female Product
Gerald nan Sales
Christopher Male Legal
Steven Male Client Services
Shawn Male Finance
Doris Female Finance
Jeremy Male Client Services
Annie nan Business Development
Annie Female Sales
Donna Female Legal
Janice Female Legal
Janice nan Legal
James nan nan
Linda Female Business Development
Virginia nan Legal
Harry Male Legal
Heather Female Client Services
Cynthia Female Finance
Laura nan Marketing
Tina Female Marketing
Harold Male Business Development
Melissa Female Finance
Aaron Male Marketing
Jack Male Client Services
Phyllis Female Finance
John Male Marketing
Kathy Female Finance
Paul Male Legal
Steven Male Legal
Russell nan Legal
Christopher Male nan
Shirley Female Legal
Bonnie Female Business Development
Willie Male Marketing
Tina Female Engineering
Ashley Female Business Development
Pamela Female Product
nan Male Legal
Steven Male Finance
Andrea Female Business Development
Paul Male Marketing
Peter Male Business Development
Kathleen nan Product
Christina Female Engineering
Helen Female Product
Marilyn Female Product
Patricia Female Human Resources
Michelle Female Human Resources
William Male Human Resources
Kenneth Male Client Services
Antonio Male Business Development
Shirley Female Human Resources
Rebecca Female Product
Carlos Male Human Resources
Lois Female Client Services
Carolyn Female Business Development
Gloria Female Legal
Henry Male Legal
Adam Male Distribution
Ashley Female Engineering
nan Female nan
Shirley Female Marketing
Adam Male Product
Elizabeth Female Finance
Teresa nan Engineering
Nicole nan Sales
Jennifer Female Client Services
Patricia Female Product
Philip Male Legal
Patrick nan Sales
nan Female Distribution
Sean Male Marketing
Brandon nan Business Development
Ruth Female Client Services
Victor nan Finance
Rebecca Female Product
Marie Female Business Development
Howard Male Human Resources
nan Female Product
Norma Female Marketing
James nan Marketing
Kathy Female Finance
Marilyn nan Distribution
Arthur Male Legal
Terry Male Client Services
Mary Female Business Development
nan Female Legal
nan Female Sales
Christopher Male Sales
Peter nan Marketing
Michelle Female Product
Irene Female Sales
Patrick Male Engineering
Sara Female Finance
Lillian Female Engineering
nan nan Client Services
Willie Male Engineering
Victor Male Product
Wayne Male Distribution
Jane Female Product
Jessica Female Finance
Mark Male Business Development
Randy Male Distribution
Lillian Female Business Development
Ruth nan Distribution
Jerry Male Client Services
Sandra Female Legal
nan Female Sales
Roger Male Marketing
Charles Male Legal
Clarence Male Sales
Carol Female Finance
Lois Female Engineering
Barbara nan Legal
Rebecca Female Legal
Irene Female Distribution
Ronald Male Product
Steven Male Client Services
Carolyn Female Client Services
Maria Female Product
Jonathan Male nan
Gary Male Finance
Kimberly Female Marketing
Roger Male Sales
Diana Female Business Development
Willie Male Marketing
Brandon Male Finance
Patricia Female Client Services
Katherine Female Client Services
Jonathan Male Human Resources
Emily Female Engineering
Ruth Female Legal
Linda Female Human Resources
Lisa Female Client Services
Evelyn Female Engineering
Julie Female Engineering
Mary Female Client Services
Matthew Male Marketing
Douglas Male Client Services
Gregory nan Finance
Billy Male Finance
nan Female Marketing
Gregory Male Legal
Jason Male Finance
Daniel Male Legal
Sarah Female Distribution
Harry Male Sales
Kathy Female Finance
Todd Male Client Services
Bobby Male Engineering
Jeremy Male Distribution
George nan Legal
Diane Female Product
Marilyn Female Human Resources
Kathryn Female Sales
Irene Female Client Services
Norma Female Engineering
Laura Female Product
Cheryl Female Legal
Kevin Male Legal
Lillian nan Human Resources
Phyllis nan Distribution
Walter Male Finance
Robert Male Engineering
Jimmy Male Product
Clarence Male Client Services
Victor Male Engineering
Fred nan Human Resources
Brenda nan Product
Justin Male Distribution
Betty Female Business Development
Randy nan Sales
Sharon nan Business Development
Ralph Male Marketing
nan nan Sales
Edward Male Client Services
Denise Female Human Resources
Debra Female Legal
nan Male Sales
Michael Male nan
Henry Male Human Resources
Gloria Female Distribution
Marie Female Product
Anne Female Engineering
Sarah nan Engineering
Stephanie Female Human Resources
Roy Male Client Services
nan Female Distribution
nan Male Distribution
Irene Female Finance
nan Female Human Resources
Thomas Male Human Resources
Frank nan Marketing
Fred Male Product
Nicholas Male Product
Howard Male Marketing
Debra Female Business Development
Christine Female Finance
Brenda nan Sales
Betty Female Distribution
Ruby Female Business Development
Kevin Male Business Development
Arthur Male Human Resources
Carl nan Client Services
Todd Male Engineering
Brenda Female Client Services
Judy Female Human Resources
Todd Male Finance
Lois Female Client Services
Walter nan Distribution
Jessica Female Legal
Jeremy Male nan
Tammy Female Client Services
Anne Female Client Services
Jesse Male Marketing
Virginia Female Distribution
Jesse Male Legal
Jeremy nan Sales
Daniel Male Human Resources
Patrick nan Marketing
Emily Female Human Resources
Alan Male Engineering
James Male Engineering
Adam Male Human Resources
Joan nan Client Services
Jeremy Male Finance
Margaret Female Marketing
Mark Male Business Development
Marilyn Female Distribution
Cheryl Female Legal
Benjamin Male Marketing
Harold Male Legal
Ernest nan Finance
Gerald Male Sales
Judy Female Legal
Bobby Male nan
Bobby nan Client Services
Marie Female Product
Kathy Female Business Development
Roy Male Finance
Jacqueline Female Marketing
nan Female Sales
Julie Female Sales
Douglas Male Product
Linda Female Sales
Ruby Female Business Development
Russell Male Client Services
Jeffrey Male Product
Aaron Male Marketing
Samuel Male Finance
nan Male Engineering
Randy Male Client Services
Evelyn Female Marketing
Fred Male Product
Shirley Female Client Services
Todd Male Client Services
Robert Male Finance
Mark Male Legal
Earl Male Sales
Richard Male Product
Michael Male Human Resources
Steven Male Sales
Carlos Male Finance
Marie Female Product
Ronald Male Engineering
Scott Male Business Development
Steven Male Human Resources
James Male Human Resources
Lori Female Sales
Philip Male Finance
Phyllis Female Sales
Thomas nan Sales
Cynthia Female Sales
nan Male Engineering
nan Male Marketing
Elizabeth Female Legal
Andrea Female Legal
Judy Female Distribution
Russell Male Engineering
Scott Male Product
Sarah Female Client Services
Susan Female Sales
Margaret Female Sales
Joshua Male Distribution
Justin nan Finance
Juan Male Product
Gloria nan Human Resources
Jennifer nan Client Services
Edward Male nan
Marilyn Female Business Development
Mary Female Product
Linda Female Business Development
Larry Male Sales
Albert Male Engineering
Kenneth Male Sales
nan Female Distribution
Gregory nan Sales
Brandon Male Engineering
Stephen Male Human Resources
Russell Male Product
nan Female Marketing
Pamela nan Sales
Scott Male Engineering
nan Female nan
Carlos Male Product
Jack Male Product
Debra Female Client Services
Phyllis Female Sales
Robert Male Client Services
Gloria Female Product
Sharon nan Client Services
Barbara nan Sales
Marilyn Female Sales
Ralph Male Client Services
Harry nan Engineering
Robin Female Product
Kathy Female Sales
Rose Female Human Resources
Clarence Male Distribution
Doris Female Human Resources
Kathryn Female Finance
Billy nan Marketing
Norma Female Business Development
Richard nan Engineering
Craig Male Marketing
Sarah nan Sales
Sharon Female Finance
Mary Female Business Development
Steve nan Distribution
Joe Male Client Services
Jeremy Male Human Resources
Ernest Male Sales
Kevin Male Business Development
Jacqueline Female Legal
Johnny Male Marketing
Gary Male Business Development
Shirley nan Finance
nan Male Distribution
Sarah nan Human Resources
Julia Female Finance
Dorothy Female Business Development
Justin Male Finance
Kevin Male Sales
Victor Male Product
Deborah Female Client Services
Matthew nan Human Resources
Alice Female Finance
Todd Male Human Resources
Frank Male Sales
Christopher Male Finance
Rose Female Human Resources
Andrea Female Distribution
Charles Male Legal
Jessica nan Client Services
Wanda Female Legal
Joyce Female nan
Billy Male Distribution
Kathryn Female Finance
Denise Female Sales
Jason Male nan
Nicholas Male Human Resources
Aaron Male Client Services
Louise Female Business Development
Julie Female Finance
Kathy Female Sales
nan Male Distribution
Chris Male nan
Cheryl Female Marketing
Gregory Male Engineering
Wayne Male Client Services
Beverly Female Human Resources
Willie Male Legal
Terry nan Marketing
Scott Male Marketing
Annie Female Human Resources
nan Male Marketing
Ruth Female Human Resources
Deborah nan Engineering
Patricia Female Legal
Albert Male Finance
Charles nan Marketing
Tina Female Legal
Jeremy Male Marketing
Craig Male Engineering
Jose Male Product
Lawrence Male Marketing
Helen Female Legal
Walter Male Sales
Amy Female Engineering
Janice Female Marketing
Stephen Male Legal
Ryan Male Distribution
Sharon Female Human Resources
Joshua Male Client Services
Clarence Male Business Development
Jonathan Male Engineering
Stephanie Female Engineering
Kathy Female Human Resources
Albert Male Business Development
Michael Male Business Development
Richard Male nan
Amy Female Sales
nan Female Business Development
Beverly nan Product
nan Female Human Resources
Joe Male Marketing
Ashley Female Finance
Howard Male Distribution
Cheryl Female Business Development
Robert Male Legal
Sharon Female Client Services
Judith Female Marketing
Nicholas nan Distribution
Jerry Male Business Development
Craig Male Finance
Barbara Female Sales
Eugene Male Sales
Johnny Male Marketing
Benjamin Male Client Services
Diana Female Business Development
Barbara nan Distribution
Christine Female Legal
Sean Male Distribution
Sarah Female Client Services
Roger Male Marketing
nan Female Distribution
nan Male Engineering
Donald Male Client Services
Clarence Male Engineering
Scott Male Human Resources
Ann Female Business Development
Frank Male Legal
Joe Male Business Development
Wanda Female nan
Jimmy Male nan
Amy nan Product
Larry Male Sales
Gloria Female Legal
Ruth Female Human Resources
Diana Female Product
Raymond Male Human Resources
Peter Male nan
nan nan Engineering
Catherine Female Distribution
Diane Female Sales
Peter nan Client Services
Steve Male Human Resources
Barbara Female Finance
Helen nan Product
Jimmy nan Product
Christopher Male Client Services
Kathleen Female Distribution
Virginia Female Marketing
Lisa Female Product
Earl Male Product
Gerald nan Legal
Louise Female Marketing
Clarence Male Business Development
Cynthia Female Business Development
Adam Male Human Resources
Justin Male Sales
nan Female Finance
Ruby Female Engineering
Amanda Female Distribution
Anna Female Client Services
Roger Male Marketing
Julie nan Product
Joseph Male Product
Evelyn Female Finance
Janice Female Sales
Sara Female Finance
Gregory Male Marketing
Philip Male Engineering
Barbara Female Product
Amanda Female Engineering
Phyllis nan Client Services
Anne Female Product
Arthur Male Marketing
Jane Female Distribution
Linda Female Engineering
Ashley Female Human Resources
Shawn Male Client Services
Kathleen Female Engineering
Sara nan Legal
Randy Male Engineering
Andrew Male Client Services
Marilyn Female Human Resources
Johnny Male Distribution
nan Female nan
Susan Female Marketing
Ruby Female Client Services
Kelly Female Product
Jonathan Male Marketing
Raymond Male Human Resources
Kimberly Female nan
nan Female Client Services
John Male Product
Michael Male Product
Jerry Male Client Services
Amanda Female Product
Harold Male Legal
Harry Male nan
Ernest Male Marketing
Harry Male Finance
Diane Female Business Development
Jack Male Legal
Shirley Female Marketing
Rose Female Marketing
Cheryl Female Client Services
Cynthia Female Human Resources
Sandra Female Human Resources
Andrea Female Business Development
Rachel Female Distribution
Justin Male Sales
Marie Female Sales
Louis Male Business Development
Nancy Female Finance
Mark Male Business Development
Teresa Female Distribution
Frances Female Product
nan Female Human Resources
Barbara nan Distribution
Christine nan Marketing
Bobby nan Engineering
Carl nan Business Development
Bruce Male Engineering
Rose Female Client Services
Mildred Female Client Services
nan Male Sales
nan Female Engineering
Todd Male Sales
Alan Male Product
Elizabeth nan Marketing
Julie nan Distribution
Teresa nan Finance
Eric Male Distribution
Edward Male Engineering
Kimberly Female Distribution
Kathy Female Marketing
Peter Male Finance
Beverly Female Engineering
Ralph Male Finance
Justin Male Client Services
Irene Female Sales
Irene Female Legal
Jeremy Male Sales
Cynthia Female Marketing
nan Female nan
Anne Female Marketing
nan nan Distribution
Debra Female Marketing
Michael Male Legal
Jason nan Client Services
Rebecca Female Engineering
Andrea Female Engineering
Carl Male nan
Randy Male nan
Marilyn Female Engineering
Wayne Male Human Resources
Frances Female Business Development
Amanda nan Client Services
Kathleen Female Distribution
Amanda Female Sales
Amanda nan Finance
Shawn Male Human Resources
Katherine Female Finance
Anna nan Marketing
Elizabeth Female Finance
Donald Male nan

Gregory Male Business Development
Ruth Female Finance
Cynthia Female Finance
Deborah Female Client Services
Willie Male Engineering
Debra Female Product
Carl Male Legal
Walter Male Client Services
Lisa Female Marketing
Rebecca Female Sales
Jessica Female Client Services
Steve nan Marketing
Mary nan Distribution
Craig Male Engineering
Katherine Female Distribution
Andrea Female Distribution
Timothy Male Legal
Anthony Male Distribution
Harold nan Business Development
Douglas nan Marketing
James Male Legal
Joseph nan nan
Martha Female Client Services
Laura Female Distribution
Robert Male Human Resources
Ralph Male Business Development
nan Male Human Resources
Diane Female Marketing
Annie Female Marketing
Jacqueline Female Client Services
Brenda Female Product
Lori Female Client Services
Albert Male Engineering
Frank Male Product
Deborah Female Product
Robin nan Distribution
Alice Female nan
nan Male Finance
Paul nan Finance
nan Male Distribution
Brian Male Legal
Julie nan Finance
Bruce Male Sales
Joan Female Finance
Harold Male Sales
Alice Female Sales
Barbara Female Client Services
Sarah Female Human Resources
Samuel Male Marketing
nan Male Distribution
Barbara nan Legal
Amy nan Distribution
Frank Male Distribution
Robin nan Legal
Debra Female Finance
Brandon nan Human Resources
Thomas Male Distribution
Harry Male Engineering
Todd Male nan
Patricia Female Engineering
Steve Male Legal
nan Male Human Resources
Edward Male Finance
Karen Female Engineering
Martin nan Engineering
Ann Female Distribution
Jonathan Male Distribution
Peter Male Engineering
Eric Male Business Development
Jason nan Human Resources
Terry Male Engineering
John Male Engineering
Marie Female Human Resources
Harold Male Business Development
Joshua Male Marketing
Brandon nan Legal
Andrea Female Engineering
Jeremy Male Finance
Daniel Male nan
Roy Male Sales
Dorothy Female Client Services
Steven Male Client Services
Nicole Female Marketing
Ann Female Finance
Henry Male Finance
nan Male Business Development
nan Female Human Resources
Barbara Female Business Development
Judy Female Product
Lawrence Male Product
Joseph Male Business Development
Carlos Male Sales
Russell nan Marketing
Jane Female Legal
Martin Male Client Services
Steven Male Human Resources
Judy nan Finance
James Male Business Development
Gloria Female Business Development
Ernest Male Business Development
Martha Female Business Development
Janet nan Legal
Louis nan Product
Tina Female Client Services
Henry Male Business Development
Antonio Male nan
Lisa Female Legal
Denise Female Client Services
Stephen Male Distribution
Benjamin Male Product
Carl nan Legal
Ruth Female Distribution
Shawn Male Human Resources
Jennifer Female Engineering
Terry Male Distribution
Jacqueline Female Legal
Roger Male Sales
Alice nan Finance
Justin Male Human Resources
Janet Female Client Services
Robin Female Sales
Samuel nan Marketing
Katherine Female Product
Peter Male Product
Lillian Female Business Development
nan Male Finance
nan Female nan
Rose Female Finance
Bobby Male Human Resources
Kimberly Female Sales
Antonio Male Distribution
Doris Female Business Development
Steven Male Human Resources
Lawrence Male nan
nan Male Client Services
nan nan Product
Stephanie Female Sales
nan Female Marketing
Sandra Female Product
Kevin Male Sales
Michelle nan Business Development
Lisa Female Product
Fred Male Finance
Joseph Male Legal
Anne nan Distribution
Andrea Female Distribution
Nicole Female nan
Theresa nan Human Resources
Catherine Female Client Services
Rose Female Engineering
Lawrence Male Marketing
Raymond Male Product
Clarence Male Product
Ryan Male Human Resources
Jane Female Business Development
Lois Female Product
Shawn Male Distribution
Thomas Male Engineering
Kathryn Female Sales
Mary Female Finance
Julie Female Engineering
George Male Finance
Ralph Male Business Development
Judith Female Marketing
nan Male Product
Evelyn Female Marketing
Rachel Female Distribution
Maria nan Human Resources
Kelly Female Engineering
Ruby Female Marketing
Ann Female Distribution
Kenneth Male Legal
William Male Human Resources
nan Female Distribution
Deborah Female Business Development
nan Male Engineering
Julia Female Marketing
Robert nan Sales
nan nan nan
Jesse nan Legal
Cynthia Female Product
Johnny Male Human Resources
Michael Male Distribution
Kenneth Male Finance
Keith Male Legal
Gerald Male Human Resources
Carl nan Business Development
Douglas Male Engineering
Carolyn Female Finance
Joseph Male Finance
Billy Male Distribution
Joyce Female Human Resources
Lillian Female Distribution
Ruby Female Business Development
Sandra Female Product
Louise Female Sales
Maria nan Legal
Brenda Female Client Services
Stephen Male Human Resources
Nicole nan Finance
Bobby Male Product
Ernest Male Product
Charles Male nan
Bobby Male nan
Diana Female Business Development
Mildred Female nan
Harry Male Finance
Phillip nan nan
Bonnie nan Finance
Marie Female Product
Sean Male Human Resources
Robin Female Business Development
Phillip Male Marketing
Jerry Male Finance
Ronald Male Sales
Phillip Male Human Resources
Ryan Male nan
Karen Female Legal
Bonnie Female Client Services
Earl Male Marketing
Katherine Female Product
Matthew Male Business Development
Cynthia nan Marketing
Gerald Male Engineering
Brenda Female Business Development
Jason Male Sales
Melissa Female Human Resources
Beverly Female Engineering
Terry nan Marketing
nan Male Client Services
Jacqueline Female Distribution
Amy Female Client Services
Robert nan Finance
Ruby Female Marketing
Sara nan Distribution
Kathryn Female Marketing
Lisa Female Finance
Juan Male Product
Anthony Male Sales
David Male Legal
Marilyn Female Legal
Margaret Female Finance
nan Male Finance
Timothy Male Finance
Brandon Male Sales
Frank Male Business Development
Betty Female Marketing
Janice nan Business Development
Victor Male Sales
Kenneth nan Finance
Jane Female Business Development
Walter Male Marketing
Christina Female Human Resources
Patricia Female Distribution
nan Male Distribution
Heather Female Human Resources
Stephanie Female Human Resources
Alice Female Finance
Frances Female Sales
Elizabeth Female Finance
Janice Female Engineering
Donald Male Product
Melissa Female Legal
Carl Male Business Development
Joe Male nan
Lois Female Marketing
Ann Female Distribution
Todd Male Client Services
Marilyn Female Business Development
Shawn Male Product
Ryan Male Client Services
Sean Male Distribution
Rose Female Client Services
George Male Sales
Arthur Male Business Development
Irene nan Business Development
Deborah Female Client Services
nan Female Sales
Judith Female Distribution
Philip Male Business Development
Jeffrey Male Business Development
Theresa Female Legal
Nancy Female Marketing
Harold Male Distribution
Bonnie Female Client Services
Doris Female Business Development
Samuel Male Engineering
Alice Female Engineering
Maria Female Business Development
Aaron nan Client Services
Mark nan Client Services
Ralph nan Client Services
Andrew Male Distribution
William Male Engineering
Lori Female Marketing
Wayne Male Engineering
Kenneth Male Distribution
Gerald nan Distribution
nan Female Distribution
nan Male Marketing
Ashley Female Engineering
Scott Male Business Development
Paula Female Business Development
nan Female nan
Teresa Female Human Resources
Randy Male Product
Joe Male Finance
Sarah Female Legal
Beverly Female Engineering
Jeffrey Male Sales
Gloria Female Engineering
Albert Male Business Development
Stephen Male Business Development
Antonio nan Legal
Jonathan Male Product
Ann Female Sales
Bruce Male Sales
Catherine Female Client Services
Louis Male Human Resources
Thomas Male Engineering
Louise Female Distribution
Linda Female Engineering
Alice Female Product
Patrick Male Business Development
Victor nan Sales
Russell Male Business Development
Harry Male Client Services
Susan Female Sales
Denise Female Legal
Sarah Female Product
Sean Male Human Resources
Ernest Male Product
Kimberly Female Engineering
James Male Legal
Rose Female Human Resources
John Male Engineering
Maria Female Engineering
Stephen nan Legal
Donna Female Marketing
Gloria Female Finance
Alice Female Human Resources
Justin nan Legal
Robin Female Client Services
Rose Female Marketing
Anthony Male Finance
Tina Female Engineering
George Male Marketing
Henry nan Distribution
Phillip Male Finance
Russell Male Product
Larry Male Business Development
Albert Male Sales

In [7]:
len(emp)

1000

In [12]:
for i in range(len(emp)): #runs till 0 to 999.
    print(emp.loc[i, 'First Name'], emp.loc[i, 'Gender'])

Douglas Male
Thomas Male
Maria Female
Jerry Male
Larry Male
Dennis Male
Ruby Female
nan Female
Angela Female
Frances Female
Louise Female
Julie Female
Brandon Male
Gary Male
Kimberly Female
Lillian Female
Jeremy Male
Shawn Male
Diana Female
Donna Female
Lois nan
Matthew Male
Joshua nan
nan Male
John Male
nan Male
Craig Male
Scott nan
Terry Male
Benjamin Male
Christina Female
Joyce nan
nan Male
Jean Female
Jerry Male
Theresa Female
Rachel Female
Linda Female
Stephanie Female
nan Male
Michael Male
Christine nan
Beverly Female
Marilyn Female
Cynthia Female
Roger Male
Bruce Male
Kathy Female
Clarence Male
Chris nan
Nancy Female
nan nan
Todd Male
Alan nan
Sara Female
Karen Female
Carl Male
Henry Male
Theresa Female
Irene Female
Paula nan
Denise Female
nan Female
Matthew Male
Kathleen nan
Steve Male
Nancy Female
Rachel Female
Jose Male
Irene nan
Todd nan
Johnny Male
Bobby Male
Frances Female
Thomas Male
Bonnie Female
Margaret Female
Charles Male
Robin Female
Bonnie Female
Gerald nan
Christopher Male
Steven Male
Shawn Male
Doris Female
Jeremy Male
Annie nan
Annie Female
Donna Female
Janice Female
Janice nan
James nan
Linda Female
Virginia nan
Harry Male
Heather Female
Cynthia Female
Laura nan
Tina Female
Harold Male
Melissa Female
Aaron Male
Jack Male
Phyllis Female
John Male
Kathy Female
Paul Male
Steven Male
Russell nan
Christopher Male
Shirley Female
Bonnie Female
Willie Male
Tina Female
Ashley Female
Pamela Female
nan Male
Steven Male
Andrea Female
Paul Male
Peter Male
Kathleen nan
Christina Female
Helen Female
Marilyn Female
Patricia Female
Michelle Female
William Male
Kenneth Male
Antonio Male
Shirley Female
Rebecca Female
Carlos Male
Lois Female
Carolyn Female
Gloria Female
Henry Male
Adam Male
Ashley Female
nan Female
Shirley Female
Adam Male
Elizabeth Female
Teresa nan
Nicole nan
Jennifer Female
Patricia Female
Philip Male
Patrick nan
nan Female
Sean Male
Brandon nan
Ruth Female
Victor nan
Rebecca Female
Marie Female
Howard Male
nan Female
Norma Female
James nan
Kathy Female
Marilyn nan
Arthur Male
Terry Male
Mary Female
nan Female
nan Female
Christopher Male
Peter nan
Michelle Female
Irene Female
Patrick Male
Sara Female
Lillian Female
nan nan
Willie Male
Victor Male
Wayne Male
Jane Female
Jessica Female
Mark Male
Randy Male
Lillian Female
Ruth nan
Jerry Male
Sandra Female
nan Female
Roger Male
Charles Male
Clarence Male
Carol Female
Lois Female
Barbara nan
Rebecca Female
Irene Female
Ronald Male
Steven Male
Carolyn Female
Maria Female
Jonathan Male
Gary Male
Kimberly Female
Roger Male
Diana Female
Willie Male
Brandon Male
Patricia Female
Katherine Female
Jonathan Male
Emily Female
Ruth Female
Linda Female
Lisa Female
Evelyn Female
Julie Female
Mary Female
Matthew Male
Douglas Male
Gregory nan
Billy Male
nan Female
Gregory Male
Jason Male
Daniel Male
Sarah Female
Harry Male
Kathy Female
Todd Male
Bobby Male
Jeremy Male
George nan
Diane Female
Marilyn Female
Kathryn Female
Irene Female
Norma Female
Laura Female
Cheryl Female
Kevin Male
Lillian nan
Phyllis nan
Walter Male
Robert Male
Jimmy Male
Clarence Male
Victor Male
Fred nan
Brenda nan
Justin Male
Betty Female
Randy nan
Sharon nan
Ralph Male
nan nan
Edward Male
Denise Female
Debra Female
nan Male
Michael Male
Henry Male
Gloria Female
Marie Female
Anne Female
Sarah nan
Stephanie Female
Roy Male
nan Female
nan Male
Irene Female
nan Female
Thomas Male
Frank nan
Fred Male
Nicholas Male
Howard Male
Debra Female
Christine Female
Brenda nan
Betty Female
Ruby Female
Kevin Male
Arthur Male
Carl nan
Todd Male
Brenda Female
Judy Female
Todd Male
Lois Female
Walter nan
Jessica Female
Jeremy Male
Tammy Female
Anne Female
Jesse Male
Virginia Female
Jesse Male
Jeremy nan
Daniel Male
Patrick nan
Emily Female
Alan Male
James Male
Adam Male
Joan nan
Jeremy Male
Margaret Female
Mark Male
Marilyn Female
Cheryl Female
Benjamin Male
Harold Male
Ernest nan
Gerald Male
Judy Female
Bobby Male
Bobby nan
Marie Female
Kathy Female
Roy Male
Jacqueline Female
nan Female
Julie Female
Douglas Male
Linda Female
Ruby Female
Russell Male
Jeffrey Male
Aaron Male
Samuel Male
nan Male
Randy Male
Evelyn Female
Fred Male
Shirley Female
Todd Male
Robert Male
Mark Male
Earl Male
Richard Male
Michael Male
Steven Male
Carlos Male
Marie Female
Ronald Male
Scott Male
Steven Male
James Male
Lori Female
Philip Male
Phyllis Female
Thomas nan
Cynthia Female
nan Male
nan Male
Elizabeth Female
Andrea Female
Judy Female
Russell Male
Scott Male
Sarah Female
Susan Female
Margaret Female
Joshua Male
Justin nan
Juan Male
Gloria nan
Jennifer nan
Edward Male
Marilyn Female
Mary Female
Linda Female
Larry Male
Albert Male
Kenneth Male
nan Female
Gregory nan
Brandon Male
Stephen Male
Russell Male
nan Female
Pamela nan
Scott Male
nan Female
Carlos Male
Jack Male
Debra Female
Phyllis Female
Robert Male
Gloria Female
Sharon nan
Barbara nan
Marilyn Female
Ralph Male
Harry nan
Robin Female
Kathy Female
Rose Female
Clarence Male
Doris Female
Kathryn Female
Billy nan
Norma Female
Richard nan
Craig Male
Sarah nan
Sharon Female
Mary Female
Steve nan
Joe Male
Jeremy Male
Ernest Male
Kevin Male
Jacqueline Female
Johnny Male
Gary Male
Shirley nan
nan Male
Sarah nan
Julia Female
Dorothy Female
Justin Male
Kevin Male
Victor Male
Deborah Female
Matthew nan
Alice Female
Todd Male
Frank Male
Christopher Male
Rose Female
Andrea Female
Charles Male
Jessica nan
Wanda Female
Joyce Female
Billy Male
Kathryn Female
Denise Female
Jason Male
Nicholas Male
Aaron Male
Louise Female
Julie Female
Kathy Female
nan Male
Chris Male
Cheryl Female
Gregory Male
Wayne Male
Beverly Female
Willie Male
Terry nan
Scott Male
Annie Female
nan Male
Ruth Female
Deborah nan
Patricia Female
Albert Male
Charles nan
Tina Female
Jeremy Male
Craig Male
Jose Male
Lawrence Male
Helen Female
Walter Male
Amy Female
Janice Female
Stephen Male
Ryan Male
Sharon Female
Joshua Male
Clarence Male
Jonathan Male
Stephanie Female
Kathy Female
Albert Male
Michael Male
Richard Male
Amy Female
nan Female
Beverly nan
nan Female
Joe Male
Ashley Female
Howard Male
Cheryl Female
Robert Male
Sharon Female
Judith Female
Nicholas nan
Jerry Male
Craig Male
Barbara Female
Eugene Male
Johnny Male
Benjamin Male
Diana Female
Barbara nan
Christine Female
Sean Male
Sarah Female
Roger Male
nan Female
nan Male
Donald Male
Clarence Male
Scott Male
Ann Female
Frank Male
Joe Male
Wanda Female
Jimmy Male
Amy nan
Larry Male
Gloria Female
Ruth Female
Diana Female
Raymond Male
Peter Male
nan nan
Catherine Female
Diane Female
Peter nan
Steve Male
Barbara Female
Helen nan
Jimmy nan
Christopher Male
Kathleen Female
Virginia Female
Lisa Female
Earl Male
Gerald nan
Louise Female
Clarence Male
Cynthia Female
Adam Male
Justin Male
nan Female
Ruby Female
Amanda Female
Anna Female
Roger Male
Julie nan
Joseph Male
Evelyn Female
Janice Female
Sara Female
Gregory Male
Philip Male
Barbara Female
Amanda Female
Phyllis nan
Anne Female
Arthur Male
Jane Female
Linda Female
Ashley Female
Shawn Male
Kathleen Female
Sara nan
Randy Male
Andrew Male
Marilyn Female
Johnny Male
nan Female
Susan Female
Ruby Female
Kelly Female
Jonathan Male
Raymond Male
Kimberly Female
nan Female
John Male
Michael Male
Jerry Male
Amanda Female
Harold Male
Harry Male
Ernest Male
Harry Male
Diane Female
Jack Male
Shirley Female
Rose Female
Cheryl Female
Cynthia Female
Sandra Female
Andrea Female
Rachel Female
Justin Male
Marie Female
Louis Male
Nancy Female
Mark Male
Teresa Female
Frances Female
nan Female
Barbara nan
Christine nan
Bobby nan
Carl nan
Bruce Male
Rose Female
Mildred Female
nan Male
nan Female
Todd Male
Alan Male
Elizabeth nan
Julie nan
Teresa nan
Eric Male
Edward Male
Kimberly Female
Kathy Female
Peter Male
Beverly Female
Ralph Male
Justin Male
Irene Female
Irene Female
Jeremy Male
Cynthia Female
nan Female
Anne Female
nan nan
Debra Female
Michael Male
Jason nan
Rebecca Female
Andrea Female
Carl Male
Randy Male
Marilyn Female
Wayne Male
Frances Female
Amanda nan
Kathleen Female
Amanda Female
Amanda nan
Shawn Male
Katherine Female
Anna nan
Elizabeth Female
Donald Male
Gregory Male
Ruth Female
Cynthia Female
Deborah Female
Willie Male
Debra Female
Carl Male
Walter Male
Lisa Female
Rebecca Female
Jessica Female
Steve nan
Mary nan
Craig Male
Katherine Female
Andrea Female
Timothy Male
Anthony Male
Harold nan
Douglas nan
James Male
Joseph nan
Martha Female
Laura Female
Robert Male
Ralph Male
nan Male
Diane Female
Annie Female
Jacqueline Female
Brenda Female
Lori Female
Albert Male
Frank Male
Deborah Female
Robin nan
Alice Female
nan Male
Paul nan
nan Male
Brian Male
Julie nan
Bruce Male
Joan Female
Harold Male
Alice Female
Barbara Female
Sarah Female
Samuel Male
nan Male
Barbara nan
Amy nan
Frank Male
Robin nan
Debra Female
Brandon nan
Thomas Male
Harry Male
Todd Male
Patricia Female
Steve Male
nan Male
Edward Male
Karen Female
Martin nan
Ann Female
Jonathan Male
Peter Male
Eric Male
Jason nan
Terry Male
John Male
Marie Female
Harold Male
Joshua Male
Brandon nan
Andrea Female
Jeremy Male
Daniel Male
Roy Male
Dorothy Female
Steven Male
Nicole Female
Ann Female
Henry Male
nan Male
nan Female
Barbara Female
Judy Female
Lawrence Male
Joseph Male
Carlos Male
Russell nan
Jane Female
Martin Male
Steven Male
Judy nan
James Male
Gloria Female
Ernest Male
Martha Female
Janet nan
Louis nan
Tina Female
Henry Male
Antonio Male
Lisa Female
Denise Female
Stephen Male
Benjamin Male
Carl nan
Ruth Female
Shawn Male
Jennifer Female
Terry Male
Jacqueline Female
Roger Male
Alice nan
Justin Male
Janet Female
Robin Female
Samuel nan
Katherine Female
Peter Male
Lillian Female
nan Male
nan Female
Rose Female
Bobby Male
Kimberly Female
Antonio Male
Doris Female
Steven Male
Lawrence Male
nan Male
nan nan
Stephanie Female
nan Female
Sandra Female
Kevin Male
Michelle nan
Lisa Female
Fred Male
Joseph Male
Anne nan
Andrea Female
Nicole Female
Theresa nan
Catherine Female
Rose Female
Lawrence Male
Raymond Male
Clarence Male
Ryan Male
Jane Female
Lois Female
Shawn Male
Thomas Male
Kathryn Female
Mary Female
Julie Female
George Male
Ralph Male
Judith Female
nan Male
Evelyn Female
Rachel Female
Maria nan
Kelly Female
Ruby Female
Ann Female
Kenneth Male
William Male
nan Female
Deborah Female
nan Male
Julia Female
Robert nan
nan nan
Jesse nan
Cynthia Female
Johnny Male
Michael Male
Kenneth Male
Keith Male
Gerald Male
Carl nan
Douglas Male
Carolyn Female
Joseph Male
Billy Male
Joyce Female
Lillian Female
Ruby Female
Sandra Female
Louise Female
Maria nan
Brenda Female
Stephen Male
Nicole nan
Bobby Male
Ernest Male
Charles Male
Bobby Male
Diana Female
Mildred Female
Harry Male
Phillip nan
Bonnie nan
Marie Female
Sean Male
Robin Female
Phillip Male
Jerry Male
Ronald Male
Phillip Male
Ryan Male
Karen Female
Bonnie Female
Earl Male
Katherine Female
Matthew Male
Cynthia nan
Gerald Male
Brenda Female
Jason Male
Melissa Female
Beverly Female
Terry nan
nan Male
Jacqueline Female
Amy Female
Robert nan
Ruby Female
Sara nan
Kathryn Female
Lisa Female
Juan Male
Anthony Male
David Male
Marilyn Female
Margaret Female
nan Male
Timothy Male
Brandon Male
Frank Male
Betty Female
Janice nan
Victor Male
Kenneth nan
Jane Female
Walter Male
Christina Female
Patricia Female
nan Male
Heather Female
Stephanie Female
Alice Female
Frances Female
Elizabeth Female
Janice Female
Donald Male
Melissa Female
Carl Male
Joe Male
Lois Female
Ann Female
Todd Male
Marilyn Female
Shawn Male
Ryan Male
Sean Male

Rose Female
George Male
Arthur Male
Irene nan
Deborah Female
nan Female
Judith Female
Philip Male
Jeffrey Male
Theresa Female
Nancy Female
Harold Male
Bonnie Female
Doris Female
Samuel Male
Alice Female
Maria Female
Aaron nan
Mark nan
Ralph nan
Andrew Male
William Male
Lori Female
Wayne Male
Kenneth Male
Gerald nan
nan Female
nan Male
Ashley Female
Scott Male
Paula Female
nan Female
Teresa Female
Randy Male
Joe Male
Sarah Female
Beverly Female
Jeffrey Male
Gloria Female
Albert Male
Stephen Male
Antonio nan
Jonathan Male
Ann Female
Bruce Male
Catherine Female
Louis Male
Thomas Male
Louise Female
Linda Female
Alice Female
Patrick Male
Victor nan
Russell Male
Harry Male
Susan Female
Denise Female
Sarah Female
Sean Male
Ernest Male
Kimberly Female
James Male
Rose Female
John Male
Maria Female
Stephen nan
Donna Female
Gloria Female
Alice Female
Justin nan
Robin Female
Rose Female
Anthony Male
Tina Female
George Male
Henry nan
Phillip Male
Russell Male
Larry Male
Albert Male

In [15]:
pd.set_option('display.max_rows', None)
emp.loc[:, ['First Name', 'Gender']]

      First Name  Gender
0        Douglas    Male
1         Thomas    Male
2          Maria  Female
3          Jerry    Male
4          Larry    Male
5         Dennis    Male
6           Ruby  Female
7            NaN  Female
8         Angela  Female
9        Frances  Female
10        Louise  Female
11         Julie  Female
12       Brandon    Male
13          Gary    Male
14      Kimberly  Female
15       Lillian  Female
16        Jeremy    Male
17         Shawn    Male
18         Diana  Female
19         Donna  Female
20          Lois     NaN
21       Matthew    Male
22        Joshua     NaN
23           NaN    Male
24          John    Male
25           NaN    Male
26         Craig    Male
27         Scott     NaN
28         Terry    Male
29      Benjamin    Male
30     Christina  Female
31         Joyce     NaN
32           NaN    Male
33          Jean  Female
34         Jerry    Male
35       Theresa  Female
36        Rachel  Female
37         Linda  Female
38     Stephanie  Female
39           NaN    Male
40       Michael    Male
41     Christine     NaN
42       Beverly  Female
43       Marilyn  Female
44       Cynthia  Female
45         Roger    Male
46         Bruce    Male
47         Kathy  Female
48      Clarence    Male
49         Chris     NaN
50         Nancy  Female
51           NaN     NaN
52          Todd    Male
53          Alan     NaN
54          Sara  Female
55         Karen  Female
56          Carl    Male
57         Henry    Male
58       Theresa  Female
59         Irene  Female
60         Paula     NaN
61        Denise  Female
62           NaN  Female
63       Matthew    Male
64      Kathleen     NaN
65         Steve    Male
66         Nancy  Female
67        Rachel  Female
68          Jose    Male
69         Irene     NaN
70          Todd     NaN
71        Johnny    Male
72         Bobby    Male
73       Frances  Female
74        Thomas    Male
75        Bonnie  Female
76      Margaret  Female
77       Charles    Male
78         Robin  Female
79        Bonnie  Female
80        Gerald     NaN
81   Christopher    Male
82        Steven    Male
83         Shawn    Male
84         Doris  Female
85        Jeremy    Male
86         Annie     NaN
87         Annie  Female
88         Donna  Female
89        Janice  Female
90        Janice     NaN
91         James     NaN
92         Linda  Female
93      Virginia     NaN
94         Harry    Male
95       Heather  Female
96       Cynthia  Female
97         Laura     NaN
98          Tina  Female
99        Harold    Male
100      Melissa  Female
101        Aaron    Male
102         Jack    Male
103      Phyllis  Female
104         John    Male
105        Kathy  Female
106         Paul    Male
107       Steven    Male
108      Russell     NaN
109  Christopher    Male
110      Shirley  Female
111       Bonnie  Female
112       Willie    Male
113         Tina  Female
114       Ashley  Female
115       Pamela  Female
116          NaN    Male
117       Steven    Male
118       Andrea  Female
119         Paul    Male
120        Peter    Male
121     Kathleen     NaN
122    Christina  Female
123        Helen  Female
124      Marilyn  Female
125     Patricia  Female
126     Michelle  Female
127      William    Male
128      Kenneth    Male
129      Antonio    Male
130      Shirley  Female
131      Rebecca  Female
132       Carlos    Male
133         Lois  Female
134      Carolyn  Female
135       Gloria  Female
136        Henry    Male
137         Adam    Male
138       Ashley  Female
139          NaN  Female
140      Shirley  Female
141         Adam    Male
142    Elizabeth  Female
143       Teresa     NaN
144       Nicole     NaN
145     Jennifer  Female
146     Patricia  Female
147       Philip    Male
148      Patrick     NaN
149          NaN  Female
150         Sean    Male
151      Brandon     NaN
152         Ruth  Female
153       Victor     NaN
154      Rebecca  Female
155        Marie  Female
156       Howard    Male
157          NaN  Female
158        Norma  Female
159        James     NaN
160        Kathy  Female
161      Marilyn     NaN
162       Arthur    Male
163        Terry    Male
164         Mary  Female
165          NaN  Female
166          NaN  Female
167  Christopher    Male
168        Peter     NaN
169     Michelle  Female
170        Irene  Female
171      Patrick    Male
172         Sara  Female
173      Lillian  Female
174          NaN     NaN
175       Willie    Male
176       Victor    Male
177        Wayne    Male
178         Jane  Female
179      Jessica  Female
180         Mark    Male
181        Randy    Male
182      Lillian  Female
183         Ruth     NaN
184        Jerry    Male
185       Sandra  Female
186          NaN  Female
187        Roger    Male
188      Charles    Male
189     Clarence    Male
190        Carol  Female
191         Lois  Female
192      Barbara     NaN
193      Rebecca  Female
194        Irene  Female
195       Ronald    Male
196       Steven    Male
197      Carolyn  Female
198        Maria  Female
199     Jonathan    Male
200         Gary    Male
201     Kimberly  Female
202        Roger    Male
203        Diana  Female
204       Willie    Male
205      Brandon    Male
206     Patricia  Female
207    Katherine  Female
208     Jonathan    Male
209        Emily  Female
210         Ruth  Female
211        Linda  Female
212         Lisa  Female
213       Evelyn  Female
214        Julie  Female
215         Mary  Female
216      Matthew    Male
217      Douglas    Male
218      Gregory     NaN
219        Billy    Male
220          NaN  Female
221      Gregory    Male
222        Jason    Male
223       Daniel    Male
224        Sarah  Female
225        Harry    Male
226        Kathy  Female
227         Todd    Male
228        Bobby    Male
229       Jeremy    Male
230       George     NaN
231        Diane  Female
232      Marilyn  Female
233      Kathryn  Female
234        Irene  Female
235        Norma  Female
236        Laura  Female
237       Cheryl  Female
238        Kevin    Male
239      Lillian     NaN
240      Phyllis     NaN
241       Walter    Male
242       Robert    Male
243        Jimmy    Male
244     Clarence    Male
245       Victor    Male
246         Fred     NaN
247       Brenda     NaN
248       Justin    Male
249        Betty  Female
250        Randy     NaN
251       Sharon     NaN
252        Ralph    Male
253          NaN     NaN
254       Edward    Male
255       Denise  Female
256        Debra  Female
257          NaN    Male
258      Michael    Male
259        Henry    Male
260       Gloria  Female
261        Marie  Female
262         Anne  Female
263        Sarah     NaN
264    Stephanie  Female
265          Roy    Male
266          NaN  Female
267          NaN    Male
268        Irene  Female
269          NaN  Female
270       Thomas    Male
271        Frank     NaN
272         Fred    Male
273     Nicholas    Male
274       Howard    Male
275        Debra  Female
276    Christine  Female
277       Brenda     NaN
278        Betty  Female
279         Ruby  Female
280        Kevin    Male
281       Arthur    Male
282         Carl     NaN
283         Todd    Male
284       Brenda  Female
285         Judy  Female
286         Todd    Male
287         Lois  Female
288       Walter     NaN
289      Jessica  Female
290       Jeremy    Male
291        Tammy  Female
292         Anne  Female
293        Jesse    Male
294     Virginia  Female
295        Jesse    Male
296       Jeremy     NaN
297       Daniel    Male
298      Patrick     NaN
299        Emily  Female
300         Alan    Male
301        James    Male
302         Adam    Male
303         Joan     NaN
304       Jeremy    Male
305     Margaret  Female
306         Mark    Male
307      Marilyn  Female
308       Cheryl  Female
309     Benjamin    Male
310       Harold    Male
311       Ernest     NaN
312       Gerald    Male
313         Judy  Female
314        Bobby    Male
315        Bobby     NaN
316        Marie  Female
317        Kathy  Female
318          Roy    Male
319   Jacqueline  Female
320          NaN  Female
321        Julie  Female
322      Douglas    Male
323        Linda  Female
324         Ruby  Female
325      Russell    Male
326      Jeffrey    Male
327        Aaron    Male
328       Samuel    Male
329          NaN    Male
330        Randy    Male
331       Evelyn  Female
332         Fred    Male
333      Shirley  Female
334         Todd    Male
335       Robert    Male
336         Mark    Male
337         Earl    Male
338      Richard    Male
339      Michael    Male
340       Steven    Male
341       Carlos    Male
342        Marie  Female
343       Ronald    Male
344        Scott    Male
345       Steven    Male
346        James    Male
347         Lori  Female
348       Philip    Male
349      Phyllis  Female
350       Thomas     NaN
351      Cynthia  Female
352          NaN    Male
353          NaN    Male
354    Elizabeth  Female
355       Andrea  Female
356         Judy  Female
357      Russell    Male
358        Scott    Male
359        Sarah  Female
360        Susan  Female
361     Margaret  Female
362       Joshua    Male
363       Justin     NaN
364         Juan    Male
365       Gloria     NaN
366     Jennifer     NaN
367       Edward    Male
368      Marilyn  Female
369         Mary  Female
370        Linda  Female
371        Larry    Male
372       Albert    Male
373      Kenneth    Male
374          NaN  Female
375      Gregory     NaN
376      Brandon    Male
377      Stephen    Male
378      Russell    Male
379          NaN  Female
380       Pamela     NaN
381        Scott    Male
382          NaN  Female
383       Carlos    Male
384         Jack    Male
385        Debra  Female
386      Phyllis  Female
387       Robert    Male
388       Gloria  Female
389       Sharon     NaN
390      Barbara     NaN
391      Marilyn  Female
392        Ralph    Male
393        Harry     NaN
394        Robin  Female
395        Kathy  Female
396         Rose  Female
397     Clarence    Male
398        Doris  Female
399      Kathryn  Female
400        Billy     NaN
401        Norma  Female
402      Richard     NaN
403        Craig    Male
404        Sarah     NaN
405       Sharon  Female
406         Mary  Female
407        Steve     NaN
408          Joe    Male
409       Jeremy    Male
410       Ernest    Male
411        Kevin    Male
412   Jacqueline  Female
413       Johnny    Male
414         Gary    Male
415      Shirley     NaN
416          NaN    Male
417        Sarah     NaN
418        Julia  Female
419      Dorothy  Female
420       Justin    Male
421        Kevin    Male
422       Victor    Male
423      Deborah  Female
424      Matthew     NaN
425        Alice  Female
426         Todd    Male
427        Frank    Male
428  Christopher    Male
429         Rose  Female
430       Andrea  Female
431      Charles    Male
432      Jessica     NaN
433        Wanda  Female
434        Joyce  Female
435        Billy    Male
436      Kathryn  Female
437       Denise  Female
438        Jason    Male
439     Nicholas    Male
440        Aaron    Male
441       Louise  Female
442        Julie  Female
443        Kathy  Female
444          NaN    Male
445        Chris    Male
446       Cheryl  Female
447      Gregory    Male
448        Wayne    Male
449      Beverly  Female
450       Willie    Male
451        Terry     NaN
452        Scott    Male
453        Annie  Female
454          NaN    Male
455         Ruth  Female
456      Deborah     NaN
457     Patricia  Female
458       Albert    Male
459      Charles     NaN
460         Tina  Female
461       Jeremy    Male
462        Craig    Male
463         Jose    Male
464     Lawrence    Male
465        Helen  Female
466       Walter    Male
467          Amy  Female
468       Janice  Female
469      Stephen    Male
470         Ryan    Male
471       Sharon  Female
472       Joshua    Male
473     Clarence    Male
474     Jonathan    Male
475    Stephanie  Female
476        Kathy  Female
477       Albert    Male
478      Michael    Male
479      Richard    Male
480          Amy  Female
481          NaN  Female
482      Beverly     NaN
483          NaN  Female
484          Joe    Male
485       Ashley  Female
486       Howard    Male
487       Cheryl  Female
488       Robert    Male
489       Sharon  Female
490       Judith  Female
491     Nicholas     NaN
492        Jerry    Male
493        Craig    Male
494      Barbara  Female
495       Eugene    Male
496       Johnny    Male
497     Benjamin    Male
498        Diana  Female
499      Barbara     NaN
500    Christine  Female
501         Sean    Male
502        Sarah  Female
503        Roger    Male
504          NaN  Female
505          NaN    Male
506       Donald    Male
507     Clarence    Male
508        Scott    Male
509          Ann  Female
510        Frank    Male
511          Joe    Male
512        Wanda  Female
513        Jimmy    Male
514          Amy     NaN
515        Larry    Male
516       Gloria  Female
517         Ruth  Female
518        Diana  Female
519      Raymond    Male
520        Peter    Male
521          NaN     NaN
522    Catherine  Female
523        Diane  Female
524        Peter     NaN
525        Steve    Male
526      Barbara  Female
527        Helen     NaN
528        Jimmy     NaN
529  Christopher    Male
530     Kathleen  Female
531     Virginia  Female
532         Lisa  Female
533         Earl    Male
534       Gerald     NaN
535       Louise  Female
536     Clarence    Male
537      Cynthia  Female
538         Adam    Male
539       Justin    Male
540          NaN  Female
541         Ruby  Female
542       Amanda  Female
543         Anna  Female
544        Roger    Male
545        Julie     NaN
546       Joseph    Male
547       Evelyn  Female
548       Janice  Female
549         Sara  Female
550      Gregory    Male
551       Philip    Male
552      Barbara  Female
553       Amanda  Female
554      Phyllis     NaN
555         Anne  Female
556       Arthur    Male
557         Jane  Female
558        Linda  Female
559       Ashley  Female
560        Shawn    Male
561     Kathleen  Female
562         Sara     NaN
563        Randy    Male
564       Andrew    Male
565      Marilyn  Female
566       Johnny    Male
567          NaN  Female
568        Susan  Female
569         Ruby  Female
570        Kelly  Female
571     Jonathan    Male
572      Raymond    Male
573     Kimberly  Female
574          NaN  Female
575         John    Male
576      Michael    Male
577        Jerry    Male
578       Amanda  Female
579       Harold    Male
580        Harry    Male
581       Ernest    Male
582        Harry    Male
583        Diane  Female
584         Jack    Male
585      Shirley  Female
586         Rose  Female
587       Cheryl  Female
588      Cynthia  Female
589       Sandra  Female
590       Andrea  Female
591       Rachel  Female
592       Justin    Male
593        Marie  Female
594        Louis    Male
595        Nancy  Female
596         Mark    Male
597       Teresa  Female
598      Frances  Female
599          NaN  Female
600      Barbara     NaN
601    Christine     NaN
602        Bobby     NaN
603         Carl     NaN
604        Bruce    Male
605         Rose  Female
606      Mildred  Female
607          NaN    Male
608          NaN  Female
609         Todd    Male
610         Alan    Male
611    Elizabeth     NaN
612        Julie     NaN
613       Teresa     NaN
614         Eric    Male
615       Edward    Male
616     Kimberly  Female
617        Kathy  Female
618        Peter    Male
619      Beverly  Female
620        Ralph    Male
621       Justin    Male
622        Irene  Female
623        Irene  Female
624       Jeremy    Male
625      Cynthia  Female
626          NaN  Female
627         Anne  Female
628          NaN     NaN
629        Debra  Female
630      Michael    Male
631        Jason     NaN
632      Rebecca  Female
633       Andrea  Female
634         Carl    Male
635        Randy    Male
636      Marilyn  Female
637        Wayne    Male
638      Frances  Female
639       Amanda     NaN
640     Kathleen  Female
641       Amanda  Female
642       Amanda     NaN
643        Shawn    Male
644    Katherine  Female
645         Anna     NaN
646    Elizabeth  Female
647       Donald    Male
648      Gregory    Male
649         Ruth  Female
650      Cynthia  Female
651      Deborah  Female
652       Willie    Male
653        Debra  Female
654         Carl    Male
655       Walter    Male
656         Lisa  Female
657      Rebecca  Female
658      Jessica  Female
659        Steve     NaN
660         Mary     NaN
661        Craig    Male
662    Katherine  Female
663       Andrea  Female
664      Timothy    Male
665      Anthony    Male
666       Harold     NaN
667      Douglas     NaN
668        James    Male
669       Joseph     NaN
670       Martha  Female
671        Laura  Female
672       Robert    Male
673        Ralph    Male
674          NaN    Male
675        Diane  Female
676        Annie  Female
677   Jacqueline  Female
678       Brenda  Female
679         Lori  Female
680       Albert    Male
681        Frank    Male
682      Deborah  Female
683        Robin     NaN
684        Alice  Female
685          NaN    Male
686         Paul     NaN
687          NaN    Male
688        Brian    Male
689        Julie     NaN
690        Bruce    Male
691         Joan  Female
692       Harold    Male
693        Alice  Female
694      Barbara  Female
695        Sarah  Female
696       Samuel    Male
697          NaN    Male
698      Barbara     NaN
699          Amy     NaN
700        Frank    Male
701        Robin     NaN
702        Debra  Female
703      Brandon     NaN
704       Thomas    Male
705        Harry    Male
706         Todd    Male
707     Patricia  Female
708        Steve    Male
709          NaN    Male
710       Edward    Male
711        Karen  Female
712       Martin     NaN
713          Ann  Female
714     Jonathan    Male
715        Peter    Male
716         Eric    Male
717        Jason     NaN
718        Terry    Male
719         John    Male
720        Marie  Female
721       Harold    Male
722       Joshua    Male
723      Brandon     NaN
724       Andrea  Female
725       Jeremy    Male
726       Daniel    Male
727          Roy    Male
728      Dorothy  Female
729       Steven    Male
730       Nicole  Female
731          Ann  Female
732        Henry    Male
733          NaN    Male
734          NaN  Female
735      Barbara  Female
736         Judy  Female
737     Lawrence    Male
738       Joseph    Male
739       Carlos    Male
740      Russell     NaN
741         Jane  Female
742       Martin    Male
743       Steven    Male
744         Judy     NaN
745        James    Male
746       Gloria  Female
747       Ernest    Male
748       Martha  Female
749        Janet     NaN
750        Louis     NaN
751         Tina  Female
752        Henry    Male
753      Antonio    Male
754         Lisa  Female
755       Denise  Female
756      Stephen    Male
757     Benjamin    Male
758         Carl     NaN
759         Ruth  Female
760        Shawn    Male
761     Jennifer  Female
762        Terry    Male
763   Jacqueline  Female
764        Roger    Male
765        Alice     NaN
766       Justin    Male
767        Janet  Female
768        Robin  Female
769       Samuel     NaN
770    Katherine  Female
771        Peter    Male
772      Lillian  Female
773          NaN    Male
774          NaN  Female
775         Rose  Female
776        Bobby    Male
777     Kimberly  Female
778      Antonio    Male
779        Doris  Female
780       Steven    Male
781     Lawrence    Male
782          NaN    Male
783          NaN     NaN
784    Stephanie  Female
785          NaN  Female
786       Sandra  Female
787        Kevin    Male
788     Michelle     NaN
789         Lisa  Female
790         Fred    Male
791       Joseph    Male
792         Anne     NaN
793       Andrea  Female
794       Nicole  Female
795      Theresa     NaN
796    Catherine  Female
797         Rose  Female
798     Lawrence    Male

In [50]:
emp.head()

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services

In [70]:
for key, value in emp.iteritems(): 
    print(key, value)
    print(key)
    print(value)

First Name 0      Douglas
1       Thomas
2        Maria
3        Jerry
4        Larry
        ...
995      Henry
996    Phillip
997    Russell
998      Larry
999     Albert
Name: First Name, Length: 1000, dtype: object
First Name
0      Douglas
1       Thomas
2        Maria
3        Jerry
4        Larry
        ...
995      Henry
996    Phillip
997    Russell
998      Larry
999     Albert
Name: First Name, Length: 1000, dtype: object
Gender 0        Male
1        Male
2      Female
3        Male
4        Male
        ...
995       NaN
996      Male
997      Male
998      Male
999      Male
Name: Gender, Length: 1000, dtype: object
Gender
0        Male
1        Male
2      Female
3        Male
4        Male
        ...
995       NaN
996      Male
997      Male
998      Male
999      Male
Name: Gender, Length: 1000, dtype: object
Start Date 0        8/6/1993
1       3/31/1996
2       4/23/1993
3        3/4/2005
4       1/24/1998
          ...
995    11/23/2014
996     1/31/1984
997     5/20/2013
998     4/20/2013
999     5/15/2012
Name: Start Date, Length: 1000, dtype: object
Start Date
0        8/6/1993
1       3/31/1996
2       4/23/1993
3        3/4/2005
4       1/24/1998
          ...
995    11/23/2014
996     1/31/1984
997     5/20/2013
998     4/20/2013
999     5/15/2012
Name: Start Date, Length: 1000, dtype: object
Last Login Time 0      12:42 PM
1       6:53 AM
2      11:17 AM
3       1:00 PM
4       4:47 PM
         ...
995     6:09 AM
996     6:30 AM
997    12:39 PM
998     4:45 PM
999     6:24 PM
Name: Last Login Time, Length: 1000, dtype: object
Last Login Time
0      12:42 PM
1       6:53 AM
2      11:17 AM
3       1:00 PM
4       4:47 PM
         ...
995     6:09 AM
996     6:30 AM
997    12:39 PM
998     4:45 PM
999     6:24 PM
Name: Last Login Time, Length: 1000, dtype: object
Salary 0       97308
1       61933
2      130590
3      138705
4      101004
        ...
995    132483
996     42392
997     96914
998     60500
999    129949
Name: Salary, Length: 1000, dtype: int64
Salary
0       97308
1       61933
2      130590
3      138705
4      101004
        ...
995    132483
996     42392
997     96914
998     60500
999    129949
Name: Salary, Length: 1000, dtype: int64
Bonus % 0       6.945
1       4.170
2      11.858
3       9.340
4       1.389
        ...
995    16.655
996    19.675
997     1.421
998    11.985
999    10.169
Name: Bonus %, Length: 1000, dtype: float64
Bonus %
0       6.945
1       4.170
2      11.858
3       9.340
4       1.389
        ...
995    16.655
996    19.675
997     1.421
998    11.985
999    10.169
Name: Bonus %, Length: 1000, dtype: float64
Senior Management 0       True
1       True
2      False
3       True
4       True
       ...
995    False
996    False
997    False
998    False
999     True
Name: Senior Management, Length: 1000, dtype: object
Senior Management
0       True
1       True
2      False
3       True
4       True
       ...
995    False
996    False
997    False
998    False
999     True
Name: Senior Management, Length: 1000, dtype: object
Team 0                 Marketing
1                       NaN
2                   Finance
3                   Finance
4           Client Services
               ...
995            Distribution
996                 Finance
997                 Product
998    Business Development
999                   Sales
Name: Team, Length: 1000, dtype: object
Team
0                 Marketing
1                       NaN
2                   Finance
3                   Finance
4           Client Services
               ...
995            Distribution
996                 Finance
997                 Product
998    Business Development
999                   Sales
Name: Team, Length: 1000, dtype: object

In [60]:
for key, value in emp.iteritems(): 
    print(key, value[0])

First Name Douglas
Gender Male
Start Date 8/6/1993
Last Login Time 12:42 PM
Salary 97308
Bonus % 6.945
Senior Management True
Team Marketing

In [69]:
for index, row in emp.iterrows(): 
    print(index, row)
#     print(index)
#     print(row)

0 First Name             Douglas
Gender                    Male
Start Date            8/6/1993
Last Login Time       12:42 PM
Salary                   97308
Bonus %                  6.945
Senior Management         True
Team                 Marketing
Name: 0, dtype: object
1 First Name              Thomas
Gender                    Male
Start Date           3/31/1996
Last Login Time        6:53 AM
Salary                   61933
Bonus %                   4.17
Senior Management         True
Team                       NaN
Name: 1, dtype: object
2 First Name               Maria
Gender                  Female
Start Date           4/23/1993
Last Login Time       11:17 AM
Salary                  130590
Bonus %                 11.858
Senior Management        False
Team                   Finance
Name: 2, dtype: object
3 First Name              Jerry
Gender                   Male
Start Date           3/4/2005
Last Login Time       1:00 PM
Salary                 138705
Bonus %                  9.34
Senior Management        True
Team                  Finance
Name: 3, dtype: object
4 First Name                     Larry
Gender                          Male
Start Date                 1/24/1998
Last Login Time              4:47 PM
Salary                        101004
Bonus %                        1.389
Senior Management               True
Team                 Client Services
Name: 4, dtype: object
5 First Name              Dennis
Gender                    Male
Start Date           4/18/1987
Last Login Time        1:35 AM
Salary                  115163
Bonus %                 10.125
Senior Management        False
Team                     Legal
Name: 5, dtype: object
6 First Name                Ruby
Gender                  Female
Start Date           8/17/1987
Last Login Time        4:20 PM
Salary                   65476
Bonus %                 10.012
Senior Management         True
Team                   Product
Name: 6, dtype: object
7 First Name                 NaN
Gender                  Female
Start Date           7/20/2015
Last Login Time       10:43 AM
Salary                   45906
Bonus %                 11.598
Senior Management          NaN
Team                   Finance
Name: 7, dtype: object
8 First Name                Angela
Gender                    Female
Start Date            11/22/2005
Last Login Time          6:29 AM
Salary                     95570
Bonus %                   18.523
Senior Management           True
Team                 Engineering
Name: 8, dtype: object
9 First Name                        Frances
Gender                             Female
Start Date                       8/8/2002
Last Login Time                   6:51 AM
Salary                             139852
Bonus %                             7.524
Senior Management                    True
Team                 Business Development
Name: 9, dtype: object
10 First Name              Louise
Gender                  Female
Start Date           8/12/1980
Last Login Time        9:01 AM
Salary                   63241
Bonus %                 15.132
Senior Management         True
Team                       NaN
Name: 10, dtype: object
11 First Name                Julie
Gender                   Female
Start Date           10/26/1997
Last Login Time         3:19 PM
Salary                   102508
Bonus %                  12.637
Senior Management          True
Team                      Legal
Name: 11, dtype: object
12 First Name                   Brandon
Gender                          Male
Start Date                 12/1/1980
Last Login Time              1:08 AM
Salary                        112807
Bonus %                       17.492
Senior Management               True
Team                 Human Resources
Name: 12, dtype: object
13 First Name                Gary
Gender                    Male
Start Date           1/27/2008
Last Login Time       11:40 PM
Salary                  109831
Bonus %                  5.831
Senior Management        False
Team                     Sales
Name: 13, dtype: object
14 First Name            Kimberly
Gender                  Female
Start Date           1/14/1999
Last Login Time        7:13 AM
Salary                   41426
Bonus %                 14.543
Senior Management         True
Team                   Finance
Name: 14, dtype: object
15 First Name            Lillian
Gender                 Female
Start Date           6/5/2016
Last Login Time       6:09 AM
Salary                  59414
Bonus %                 1.256
Senior Management       False
Team                  Product
Name: 15, dtype: object
16 First Name                    Jeremy
Gender                          Male
Start Date                 9/21/2010
Last Login Time              5:56 AM
Salary                         90370
Bonus %                        7.369
Senior Management              False
Team                 Human Resources
Name: 16, dtype: object
17 First Name               Shawn
Gender                    Male
Start Date           12/7/1986
Last Login Time        7:45 PM
Salary                  111737
Bonus %                  6.414
Senior Management        False
Team                   Product
Name: 17, dtype: object
18 First Name                     Diana
Gender                        Female
Start Date                10/23/1981
Last Login Time             10:27 AM
Salary                        132940
Bonus %                       19.082
Senior Management              False
Team                 Client Services
Name: 18, dtype: object
19 First Name               Donna
Gender                  Female
Start Date           7/22/2010
Last Login Time        3:48 AM
Salary                   81014
Bonus %                  1.894
Senior Management        False
Team                   Product
Name: 19, dtype: object
20 First Name                Lois
Gender                     NaN
Start Date           4/22/1995
Last Login Time        7:18 PM
Salary                   64714
Bonus %                  4.934
Senior Management         True
Team                     Legal
Name: 20, dtype: object
21 First Name             Matthew
Gender                    Male
Start Date            9/5/1995
Last Login Time        2:12 AM
Salary                  100612
Bonus %                 13.645
Senior Management        False
Team                 Marketing
Name: 21, dtype: object
22 First Name                    Joshua
Gender                           NaN
Start Date                  3/8/2012
Last Login Time              1:58 AM
Salary                         90816
Bonus %                       18.816
Senior Management               True
Team                 Client Services
Name: 22, dtype: object
23 First Name                 NaN
Gender                    Male
Start Date           6/14/2012
Last Login Time        4:19 PM
Salary                  125792
Bonus %                  5.042
Senior Management          NaN
Team                       NaN
Name: 23, dtype: object
24 First Name                      John
Gender                          Male
Start Date                  7/1/1992
Last Login Time             10:08 PM
Salary                         97950
Bonus %                       13.873
Senior Management              False
Team                 Client Services
Name: 24, dtype: object
25 First Name                       NaN
Gender                          Male
Start Date                 10/8/2012
Last Login Time              1:12 AM
Salary                         37076
Bonus %                       18.576
Senior Management                NaN
Team                 Client Services
Name: 25, dtype: object
26 First Name               Craig
Gender                    Male
Start Date           2/27/2000
Last Login Time        7:45 AM
Salary                   37598
Bonus %                  7.757
Senior Management         True
Team                 Marketing
Name: 26, dtype: object
27 First Name               Scott
Gender                     NaN
Start Date           7/11/1991
Last Login Time        6:58 PM
Salary                  122367
Bonus %                  5.218
Senior Management        False
Team                     Legal
Name: 27, dtype: object
28 First Name                     Terry
Gender                          Male
Start Date                11/27/1981
Last Login Time              6:30 PM
Salary                        124008
Bonus %                       13.464
Senior Management               True
Team                 Client Services
Name: 28, dtype: object
29 First Name            Benjamin
Gender                    Male
Start Date           1/26/2005
Last Login Time       10:06 PM
Salary                   79529
Bonus %                  7.008
Senior Management         True
Team                     Legal
Name: 29, dtype: object
30 First Name             Christina
Gender                    Female
Start Date              8/6/2002
Last Login Time          1:19 PM
Salary                    118780
Bonus %                    9.096
Senior Management           True
Team                 Engineering
Name: 30, dtype: object
31 First Name               Joyce
Gender                     NaN
Start Date           2/20/2005
Last Login Time        2:40 PM
Salary                   88657
Bonus %                 12.752
Senior Management        False
Team                   Product
Name: 31, dtype: object
32 First Name                 NaN
Gender                    Male
Start Date           8/21/1998
Last Login Time        2:27 PM
Salary                  122340
Bonus %                  6.417
Senior Management          NaN
Team                       NaN
Name: 32, dtype: object
33 First Name                           Jean
Gender                             Female
Start Date                     12/18/1993
Last Login Time                   9:07 AM
Salary                             119082
Bonus %                             16.18
Senior Management                   False
Team                 Business Development
Name: 33, dtype: object
34 First Name                     Jerry
Gender                          Male
Start Date                 1/10/2004
Last Login Time             12:56 PM
Salary                         95734
Bonus %                       19.096
Senior Management              False
Team                 Client Services
Name: 34, dtype: object
35 First Name              Theresa
Gender                   Female
Start Date           10/10/2006
Last Login Time         1:12 AM
Salary                    85182
Bonus %                  16.675
Senior Management         False
Team                      Sales
Name: 35, dtype: object
36 First Name                         Rachel
Gender                             Female
Start Date                      2/16/2009
Last Login Time                   8:47 PM
Salary                             142032
Bonus %                            12.599
Senior Management                   False
Team                 Business Development
Name: 36, dtype: object
37 First Name                     Linda
Gender                        Female
Start Date                10/19/1981
Last Login Time              8:49 PM
Salary                         57427
Bonus %                        9.557
Senior Management               True
Team                 Client Services
Name: 37, dtype: object
38 First Name                      Stephanie
Gender                             Female
Start Date                      9/13/1986
Last Login Time                   1:52 AM
Salary                              36844
Bonus %                             5.574
Senior Management                    True
Team                 Business Development
Name: 38, dtype: object
39 First Name                       NaN
Gender                          Male
Start Date                 1/29/2016
Last Login Time              2:33 AM
Salary                        122173
Bonus %                        7.797
Senior Management                NaN
Team                 Client Services
Name: 39, dtype: object
40 First Name                Michael
Gender                       Male
Start Date             10/10/2008
Last Login Time          11:25 AM
Salary                      99283
Bonus %                     2.665
Senior Management            True
Team                 Distribution
Name: 40, dtype: object
41 First Name                      Christine
Gender                                NaN
Start Date                      6/28/2015
Last Login Time                   1:08 AM
Salary                              66582
Bonus %                            11.308
Senior Management                    True
Team                 Business Development
Name: 41, dtype: object
42 First Name            Beverly
Gender                 Female
Start Date           9/9/1998
Last Login Time       8:26 PM
Salary                 121918
Bonus %                15.835
Senior Management       False
Team                    Legal
Name: 42, dtype: object
43 First Name             Marilyn
Gender                  Female
Start Date           12/7/1980
Last Login Time        3:16 AM
Salary                   73524
Bonus %                  5.207
Senior Management         True
Team                 Marketing
Name: 43, dtype: object
44 First Name              Cynthia
Gender                   Female
Start Date           11/16/1988
Last Login Time         6:54 PM
Salary                   145146
Bonus %                   7.482
Senior Management          True
Team                    Product
Name: 44, dtype: object
45 First Name               Roger
Gender                    Male
Start Date           4/17/1980
Last Login Time       11:32 AM
Salary                   88010
Bonus %                 13.886
Senior Management         True
Team                     Sales
Name: 45, dtype: object
46 First Name                Bruce
Gender                     Male
Start Date           11/28/2009
Last Login Time        10:47 PM
Salary                   114796
Bonus %                   6.796
Senior Management         False
Team                    Finance
Name: 46, dtype: object
47 First Name                     Kathy
Gender                        Female
Start Date                 6/22/2005
Last Login Time              4:51 AM
Salary                         66820
Bonus %                          9.0
Senior Management               True
Team                 Client Services
Name: 47, dtype: object
48 First Name                       Clarence
Gender                               Male
Start Date                      3/26/1996
Last Login Time                   5:57 AM
Salary                              93581
Bonus %                             6.083
Senior Management                    True
Team                 Business Development
Name: 48, dtype: object
49 First Name               Chris
Gender                     NaN
Start Date           1/24/1980
Last Login Time       12:13 PM
Salary                  113590
Bonus %                  3.055
Senior Management        False
Team                     Sales
Name: 49, dtype: object
50 First Name                 Nancy
Gender                    Female
Start Date             9/23/2000
Last Login Time          8:05 AM
Salary                     94976
Bonus %                    13.83
Senior Management           True
Team                 Engineering
Name: 50, dtype: object
51 First Name                  NaN
Gender                      NaN
Start Date           12/17/2011
Last Login Time         8:29 AM
Salary                    41126
Bonus %                  14.009
Senior Management           NaN
Team                      Sales
Name: 51, dtype: object
52 First Name                      Todd
Gender                          Male
Start Date                 2/18/1990
Last Login Time              2:41 AM
Salary                         49339
Bonus %                        1.695
Senior Management               True
Team                 Human Resources
Name: 52, dtype: object
53 First Name               Alan
Gender                    NaN
Start Date           3/3/2014
Last Login Time       1:28 PM
Salary                  40341
Bonus %                17.578
Senior Management        True
Team                  Finance
Name: 53, dtype: object
54 First Name                  Sara
Gender                    Female
Start Date             8/15/2007
Last Login Time          9:23 AM
Salary                     83677
Bonus %                    8.999
Senior Management          False
Team                 Engineering
Name: 54, dtype: object
55 First Name                Karen
Gender                   Female
Start Date           11/30/1999
Last Login Time         7:46 AM
Salary                   102488
Bonus %                  17.653
Senior Management          True
Team                    Product
Name: 55, dtype: object
56 First Name               Carl
Gender                   Male
Start Date           5/3/2006
Last Login Time       5:55 PM
Salary                 130276
Bonus %                16.084
Senior Management        True
Team                  Finance
Name: 56, dtype: object
57 First Name                     Henry
Gender                          Male
Start Date                 6/26/1996
Last Login Time              1:44 AM
Salary                         64715
Bonus %                       15.107
Senior Management               True
Team                 Human Resources
Name: 57, dtype: object
58 First Name               Theresa
Gender                    Female
Start Date             4/11/2010
Last Login Time          7:18 AM
Salary                     72670
Bonus %                    1.481
Senior Management           True
Team                 Engineering
Name: 58, dtype: object
59 First Name                 Irene
Gender                    Female
Start Date              5/7/1997
Last Login Time          9:32 AM
Salary                     66851
Bonus %                   11.279
Senior Management          False
Team                 Engineering
Name: 59, dtype: object
60 First Name                  Paula
Gender                        NaN
Start Date             11/23/2005
Last Login Time           2:01 PM
Salary                      48866
Bonus %                     4.271
Senior Management           False
Team                 Distribution
Name: 60, dtype: object
61 First Name                         Denise
Gender                             Female
Start Date                      11/6/2001
Last Login Time                  12:03 PM
Salary                             106862
Bonus %                             3.699
Senior Management                   False
Team                 Business Development
Name: 61, dtype: object
62 First Name                 NaN
Gender                  Female
Start Date           6/12/2007
Last Login Time        5:25 PM
Salary                   58112
Bonus %                 19.414
Senior Management          NaN
Team                 Marketing
Name: 62, dtype: object
63 First Name                   Matthew
Gender                          Male
Start Date                  1/2/2013
Last Login Time             10:33 PM
Salary                         35203
Bonus %                        18.04
Senior Management              False
Team                 Human Resources
Name: 63, dtype: object
64 First Name                       Kathleen
Gender                                NaN
Start Date                      4/11/1990
Last Login Time                   6:46 PM
Salary                              77834
Bonus %                            18.771
Senior Management                   False
Team                 Business Development
Name: 64, dtype: object
65 First Name                  Steve
Gender                       Male
Start Date             11/11/2009
Last Login Time          11:44 PM
Salary                      61310
Bonus %                    12.428
Senior Management            True
Team                 Distribution
Name: 65, dtype: object
66 First Name                          Nancy
Gender                             Female
Start Date                     12/15/2012
Last Login Time                  11:57 PM
Salary                             125250
Bonus %                             2.672

Name: 149, dtype: object
150 First Name                Sean
Gender                    Male
Start Date            5/4/1996
Last Login Time        8:59 PM
Salary                  135490
Bonus %                 19.934
Senior Management        False
Team                 Marketing
Name: 150, dtype: object
151 First Name                        Brandon
Gender                                NaN
Start Date                      11/3/1997
Last Login Time                   8:17 PM
Salary                             121333
Bonus %                            15.295
Senior Management                   False
Team                 Business Development
Name: 151, dtype: object
152 First Name                      Ruth
Gender                        Female
Start Date                 8/19/1999
Last Login Time              4:03 AM
Salary                        129297
Bonus %                        8.067
Senior Management               True
Team                 Client Services
Name: 152, dtype: object
153 First Name              Victor
Gender                     NaN
Start Date           3/10/2011
Last Login Time        8:40 PM
Salary                   84546
Bonus %                 10.489
Senior Management         True
Team                   Finance
Name: 153, dtype: object
154 First Name              Rebecca
Gender                   Female
Start Date           11/15/1980
Last Login Time         4:13 AM
Salary                    85730
Bonus %                   5.359
Senior Management          True
Team                    Product
Name: 154, dtype: object
155 First Name                          Marie
Gender                             Female
Start Date                      3/16/2003
Last Login Time                  12:12 AM
Salary                             104058
Bonus %                            17.695
Senior Management                    True
Team                 Business Development
Name: 155, dtype: object
156 First Name                    Howard
Gender                          Male
Start Date                 4/27/1992
Last Login Time              1:10 AM
Salary                        105062
Bonus %                        1.563
Senior Management              False
Team                 Human Resources
Name: 156, dtype: object
157 First Name                 NaN
Gender                  Female
Start Date           7/27/2005
Last Login Time        8:32 AM
Salary                   79536
Bonus %                 14.443
Senior Management          NaN
Team                   Product
Name: 157, dtype: object
158 First Name               Norma
Gender                  Female
Start Date           2/28/1999
Last Login Time        8:45 PM
Salary                  114412
Bonus %                  8.756
Senior Management         True
Team                 Marketing
Name: 158, dtype: object
159 First Name                James
Gender                      NaN
Start Date           11/22/1983
Last Login Time        10:52 PM
Salary                    68501
Bonus %                  14.316
Senior Management         False
Team                  Marketing
Name: 159, dtype: object
160 First Name               Kathy
Gender                  Female
Start Date           3/18/2000
Last Login Time        7:26 PM
Salary                  149563
Bonus %                 16.991
Senior Management         True
Team                   Finance
Name: 160, dtype: object
161 First Name                Marilyn
Gender                        NaN
Start Date              8/22/1999
Last Login Time           9:09 AM
Salary                     103386
Bonus %                    11.451
Senior Management           False
Team                 Distribution
Name: 161, dtype: object
162 First Name              Arthur
Gender                    Male
Start Date           4/13/1998
Last Login Time       11:28 AM
Salary                   89786
Bonus %                 14.422
Senior Management         True
Team                     Legal
Name: 162, dtype: object
163 First Name                     Terry
Gender                          Male
Start Date                  9/3/1990
Last Login Time              9:15 PM
Salary                         52226
Bonus %                       19.135
Senior Management              False
Team                 Client Services
Name: 163, dtype: object
164 First Name                           Mary
Gender                             Female
Start Date                      8/13/1999
Last Login Time                   1:03 AM
Salary                             134645
Bonus %                            18.197
Senior Management                   False
Team                 Business Development
Name: 164, dtype: object
165 First Name                 NaN
Gender                  Female
Start Date           3/23/2014
Last Login Time        1:28 PM
Salary                   59148
Bonus %                  9.061
Senior Management          NaN
Team                     Legal
Name: 165, dtype: object
166 First Name                NaN
Gender                 Female
Start Date           7/9/1991
Last Login Time       6:52 PM
Salary                  42341
Bonus %                 7.014
Senior Management         NaN
Team                    Sales
Name: 166, dtype: object
167 First Name           Christopher
Gender                      Male
Start Date            12/24/2011
Last Login Time         12:22 PM
Salary                    142178
Bonus %                   17.984
Senior Management           True
Team                       Sales
Name: 167, dtype: object
168 First Name               Peter
Gender                     NaN
Start Date            9/3/1987
Last Login Time        5:59 PM
Salary                   38989
Bonus %                  7.017
Senior Management         True
Team                 Marketing
Name: 168, dtype: object
169 First Name            Michelle
Gender                  Female
Start Date           11/4/1996
Last Login Time        9:34 PM
Salary                   53754
Bonus %                  5.455
Senior Management         True
Team                   Product
Name: 169, dtype: object
170 First Name               Irene
Gender                  Female
Start Date           1/29/1992
Last Login Time       11:36 AM
Salary                  133772
Bonus %                  19.02
Senior Management         True
Team                     Sales
Name: 170, dtype: object
171 First Name               Patrick
Gender                      Male
Start Date             8/17/2007
Last Login Time          3:16 AM
Salary                    143499
Bonus %                   17.495
Senior Management           True
Team                 Engineering
Name: 171, dtype: object
172 First Name                Sara
Gender                  Female
Start Date           9/23/1991
Last Login Time        6:17 PM
Salary                   97058
Bonus %                  9.402
Senior Management        False
Team                   Finance
Name: 172, dtype: object
173 First Name               Lillian
Gender                    Female
Start Date            12/21/2008
Last Login Time          6:51 PM
Salary                     85446
Bonus %                    3.959
Senior Management           True
Team                 Engineering
Name: 173, dtype: object
174 First Name                       NaN
Gender                           NaN
Start Date                 9/18/2007
Last Login Time              6:59 PM
Salary                         40297
Bonus %                        6.185
Senior Management                NaN
Team                 Client Services
Name: 174, dtype: object
175 First Name                Willie
Gender                      Male
Start Date             2/17/1998
Last Login Time          8:20 PM
Salary                    146651
Bonus %                    1.451
Senior Management           True
Team                 Engineering
Name: 175, dtype: object
176 First Name             Victor
Gender                   Male
Start Date           1/8/2003
Last Login Time       1:02 PM
Salary                 124486
Bonus %                10.166
Senior Management       False
Team                  Product
Name: 176, dtype: object
177 First Name                  Wayne
Gender                       Male
Start Date               4/7/2012
Last Login Time           8:00 AM
Salary                     102652
Bonus %                    14.085
Senior Management            True
Team                 Distribution
Name: 177, dtype: object
178 First Name               Jane
Gender                 Female
Start Date           9/3/1997
Last Login Time       2:01 AM
Salary                 144474
Bonus %                17.648
Senior Management       False
Team                  Product
Name: 178, dtype: object
179 First Name              Jessica
Gender                   Female
Start Date           10/23/1995
Last Login Time         5:53 AM
Salary                    68759
Bonus %                  19.343
Senior Management          True
Team                    Finance
Name: 179, dtype: object
180 First Name                           Mark
Gender                               Male
Start Date                      4/12/2008
Last Login Time                   5:40 PM
Salary                              57286
Bonus %                             5.025
Senior Management                    True
Team                 Business Development
Name: 180, dtype: object
181 First Name                  Randy
Gender                       Male
Start Date             11/14/1999
Last Login Time          12:12 PM
Salary                      58129
Bonus %                     1.952
Senior Management            True
Team                 Distribution
Name: 181, dtype: object
182 First Name                        Lillian
Gender                             Female
Start Date                      6/19/1999
Last Login Time                   4:44 PM
Salary                             123940
Bonus %                            12.184
Senior Management                    True
Team                 Business Development
Name: 182, dtype: object
183 First Name                   Ruth
Gender                        NaN
Start Date              5/18/1999
Last Login Time           5:56 AM
Salary                      98233
Bonus %                     2.518
Senior Management            True
Team                 Distribution
Name: 183, dtype: object
184 First Name                     Jerry
Gender                          Male
Start Date                12/18/2003
Last Login Time              6:46 AM
Salary                        140810
Bonus %                        9.177
Senior Management               True
Team                 Client Services
Name: 184, dtype: object
185 First Name              Sandra
Gender                  Female
Start Date           1/19/1983
Last Login Time        7:25 AM
Salary                   42090
Bonus %                  8.842
Senior Management         True
Team                     Legal
Name: 185, dtype: object
186 First Name                 NaN
Gender                  Female
Start Date           2/23/2005
Last Login Time        9:50 PM
Salary                  149654
Bonus %                  1.825
Senior Management          NaN
Team                     Sales
Name: 186, dtype: object
187 First Name                Roger
Gender                     Male
Start Date           11/19/2004
Last Login Time         3:55 PM
Salary                    51430
Bonus %                    6.46
Senior Management         False
Team                  Marketing
Name: 187, dtype: object
188 First Name              Charles
Gender                     Male
Start Date           10/14/2000
Last Login Time         9:40 PM
Salary                    71749
Bonus %                  15.931
Senior Management         False
Team                      Legal
Name: 188, dtype: object
189 First Name           Clarence
Gender                   Male
Start Date           5/2/1998
Last Login Time       3:16 AM
Salary                  85700
Bonus %                 1.215
Senior Management       False
Team                    Sales
Name: 189, dtype: object
190 First Name               Carol
Gender                  Female
Start Date           3/19/1996
Last Login Time        3:39 AM
Salary                   57783
Bonus %                  9.129
Senior Management        False
Team                   Finance
Name: 190, dtype: object
191 First Name                  Lois
Gender                    Female
Start Date            10/18/2013
Last Login Time          4:51 PM
Salary                     36946
Bonus %                    6.652
Senior Management          False
Team                 Engineering
Name: 191, dtype: object
192 First Name            Barbara
Gender                    NaN
Start Date           5/3/2003
Last Login Time       7:32 PM
Salary                  99326
Bonus %                16.475
Senior Management        True
Team                    Legal
Name: 192, dtype: object
193 First Name             Rebecca
Gender                  Female
Start Date           2/18/1995
Last Login Time        6:50 AM
Salary                  109259
Bonus %                  4.443
Senior Management         True
Team                     Legal
Name: 193, dtype: object
194 First Name                  Irene
Gender                     Female
Start Date              1/30/2004
Last Login Time           8:25 PM
Salary                     131038
Bonus %                     8.996
Senior Management           False
Team                 Distribution
Name: 194, dtype: object
195 First Name              Ronald
Gender                    Male
Start Date           4/30/2014
Last Login Time        2:19 PM
Salary                  121068
Bonus %                 12.757
Senior Management         True
Team                   Product
Name: 195, dtype: object
196 First Name                    Steven
Gender                          Male
Start Date                11/10/1985
Last Login Time             10:53 AM
Salary                         62719
Bonus %                       19.127
Senior Management              False
Team                 Client Services
Name: 196, dtype: object
197 First Name                   Carolyn
Gender                        Female
Start Date                 11/6/2012
Last Login Time              3:51 AM
Salary                         69268
Bonus %                        3.031
Senior Management              False
Team                 Client Services
Name: 197, dtype: object
198 First Name                Maria
Gender                   Female
Start Date           12/27/1990
Last Login Time         9:57 PM
Salary                    36067
Bonus %                    9.64
Senior Management          True
Team                    Product
Name: 198, dtype: object
199 First Name            Jonathan
Gender                    Male
Start Date           7/17/2009
Last Login Time        8:15 AM
Salary                  130581
Bonus %                 16.736
Senior Management         True
Team                       NaN
Name: 199, dtype: object
200 First Name                Gary
Gender                    Male
Start Date           8/12/1987
Last Login Time       12:04 AM
Salary                   89661
Bonus %                  8.525
Senior Management        False
Team                   Finance
Name: 200, dtype: object
201 First Name            Kimberly
Gender                  Female
Start Date           7/15/1997
Last Login Time        5:57 AM
Salary                   36643
Bonus %                  7.953
Senior Management        False
Team                 Marketing
Name: 201, dtype: object
202 First Name               Roger
Gender                    Male
Start Date           11/8/1982
Last Login Time        2:32 AM
Salary                  140558
Bonus %                  5.084
Senior Management         True
Team                     Sales
Name: 202, dtype: object
203 First Name                          Diana
Gender                             Female
Start Date                       1/4/2013
Last Login Time                   7:53 AM
Salary                             103521
Bonus %                             2.784
Senior Management                    True
Team                 Business Development
Name: 203, dtype: object
204 First Name              Willie
Gender                    Male
Start Date            6/6/2006
Last Login Time        9:45 AM
Salary                   55281
Bonus %                  4.935
Senior Management         True
Team                 Marketing
Name: 204, dtype: object
205 First Name             Brandon
Gender                    Male
Start Date           3/27/2006
Last Login Time        5:54 PM
Salary                  115711
Bonus %                  8.012
Senior Management         True
Team                   Finance
Name: 205, dtype: object
206 First Name                  Patricia
Gender                        Female
Start Date                 12/6/2012
Last Login Time              4:01 AM
Salary                        114079
Bonus %                        8.399
Senior Management               True
Team                 Client Services
Name: 206, dtype: object
207 First Name                 Katherine
Gender                        Female
Start Date                11/14/1999
Last Login Time              8:15 AM
Salary                         57531
Bonus %                        1.767
Senior Management              False
Team                 Client Services
Name: 207, dtype: object
208 First Name                  Jonathan
Gender                          Male
Start Date                10/12/1987
Last Login Time              2:59 AM
Salary                        141069
Bonus %                        4.903
Senior Management              False
Team                 Human Resources
Name: 208, dtype: object
209 First Name                 Emily
Gender                    Female
Start Date             9/20/2007
Last Login Time         11:25 AM
Salary                     89434
Bonus %                   11.295
Senior Management          False
Team                 Engineering
Name: 209, dtype: object
210 First Name                Ruth
Gender                  Female
Start Date           8/12/1986
Last Login Time        7:29 PM
Salary                   44639
Bonus %                  9.148
Senior Management         True
Team                     Legal
Name: 210, dtype: object
211 First Name                     Linda
Gender                        Female
Start Date                 6/24/2006
Last Login Time             12:04 PM
Salary                        110967
Bonus %                       19.612
Senior Management               True
Team                 Human Resources
Name: 211, dtype: object
212 First Name                      Lisa
Gender                        Female
Start Date                 11/2/2009
Last Login Time              9:42 AM
Salary                        115387
Bonus %                        1.821
Senior Management              False
Team                 Client Services
Name: 212, dtype: object
213 First Name                Evelyn
Gender                    Female
Start Date             5/24/1980
Last Login Time         11:10 PM
Salary                     81673
Bonus %                   15.364
Senior Management           True
Team                 Engineering
Name: 213, dtype: object
214 First Name                 Julie
Gender                    Female
Start Date             7/23/1989
Last Login Time          1:52 PM
Salary                    109588
Bonus %                     3.55
Senior Management          False
Team                 Engineering
Name: 214, dtype: object
215 First Name                      Mary
Gender                        Female
Start Date                 5/30/2009
Last Login Time             11:41 PM
Salary                         92544
Bonus %                          3.8
Senior Management              False
Team                 Client Services
Name: 215, dtype: object
216 First Name             Matthew
Gender                    Male
Start Date           7/31/2013
Last Login Time        8:04 AM
Salary                  142373
Bonus %                  2.462
Senior Management        False
Team                 Marketing
Name: 216, dtype: object

Name: 282, dtype: object
283 First Name                  Todd
Gender                      Male
Start Date             3/11/2009
Last Login Time          3:43 AM
Salary                    107281
Bonus %                    1.612
Senior Management           True
Team                 Engineering
Name: 283, dtype: object
284 First Name                    Brenda
Gender                        Female
Start Date                 10/6/2005
Last Login Time              9:33 PM
Salary                        141521
Bonus %                        4.337
Senior Management              False
Team                 Client Services
Name: 284, dtype: object
285 First Name                      Judy
Gender                        Female
Start Date                 9/16/1997
Last Login Time             12:10 AM
Salary                         65931
Bonus %                        2.304
Senior Management              False
Team                 Human Resources
Name: 285, dtype: object
286 First Name               Todd
Gender                   Male
Start Date           2/2/1984
Last Login Time      10:13 AM
Salary                  69989
Bonus %                10.985
Senior Management        True
Team                  Finance
Name: 286, dtype: object
287 First Name                      Lois
Gender                        Female
Start Date                 11/9/2011
Last Login Time              7:06 AM
Salary                        147183
Bonus %                        9.999
Senior Management               True
Team                 Client Services
Name: 287, dtype: object
288 First Name                 Walter
Gender                        NaN
Start Date             12/21/1999
Last Login Time          10:33 PM
Salary                      66757
Bonus %                    18.099
Senior Management           False
Team                 Distribution
Name: 288, dtype: object
289 First Name             Jessica
Gender                  Female
Start Date           9/27/1985
Last Login Time        1:35 PM
Salary                   75145
Bonus %                  6.388
Senior Management         True
Team                     Legal
Name: 289, dtype: object
290 First Name              Jeremy
Gender                    Male
Start Date           6/14/1988
Last Login Time        6:20 PM
Salary                  129460
Bonus %                 13.657
Senior Management         True
Team                       NaN
Name: 290, dtype: object
291 First Name                     Tammy
Gender                        Female
Start Date                11/11/1984
Last Login Time             10:30 AM
Salary                        132839
Bonus %                       17.463
Senior Management               True
Team                 Client Services
Name: 291, dtype: object
292 First Name                      Anne
Gender                        Female
Start Date                  3/7/2000
Last Login Time              6:45 AM
Salary                         44537
Bonus %                       18.284
Senior Management               True
Team                 Client Services
Name: 292, dtype: object
293 First Name                Jesse
Gender                     Male
Start Date           10/25/1999
Last Login Time         3:35 PM
Salary                   118733
Bonus %                   9.653
Senior Management         False
Team                  Marketing
Name: 293, dtype: object
294 First Name               Virginia
Gender                     Female
Start Date             10/20/1999
Last Login Time           6:23 AM
Salary                      46905
Bonus %                    19.154
Senior Management           False
Team                 Distribution
Name: 294, dtype: object
295 First Name              Jesse
Gender                   Male
Start Date           3/2/1981
Last Login Time       7:26 PM
Salary                  79582
Bonus %                 3.873
Senior Management       False
Team                    Legal
Name: 295, dtype: object
296 First Name               Jeremy
Gender                      NaN
Start Date           11/10/1996
Last Login Time         1:49 PM
Salary                    55394
Bonus %                    3.18
Senior Management          True
Team                      Sales
Name: 296, dtype: object
297 First Name                    Daniel
Gender                          Male
Start Date                 9/15/2007
Last Login Time             10:16 PM
Salary                        123811
Bonus %                        7.664
Senior Management               True
Team                 Human Resources
Name: 297, dtype: object
298 First Name             Patrick
Gender                     NaN
Start Date           8/30/2004
Last Login Time       11:43 AM
Salary                  137314
Bonus %                  4.542
Senior Management         True
Team                 Marketing
Name: 298, dtype: object
299 First Name                     Emily
Gender                        Female
Start Date                 1/13/1988
Last Login Time              6:42 AM
Salary                         36711
Bonus %                       19.028
Senior Management               True
Team                 Human Resources
Name: 299, dtype: object
300 First Name                  Alan
Gender                      Male
Start Date             6/26/1988
Last Login Time          3:54 AM
Salary                    111786
Bonus %                    3.592
Senior Management           True
Team                 Engineering
Name: 300, dtype: object
301 First Name                 James
Gender                      Male
Start Date             7/11/2015
Last Login Time          8:52 PM
Salary                     72257
Bonus %                   13.023
Senior Management          False
Team                 Engineering
Name: 301, dtype: object
302 First Name                      Adam
Gender                          Male
Start Date                  7/5/2007
Last Login Time             11:59 AM
Salary                         71276
Bonus %                        5.027
Senior Management               True
Team                 Human Resources
Name: 302, dtype: object
303 First Name                      Joan
Gender                           NaN
Start Date                 7/25/1980
Last Login Time             12:22 PM
Salary                         38712
Bonus %                        3.657
Senior Management              False
Team                 Client Services
Name: 303, dtype: object
304 First Name              Jeremy
Gender                    Male
Start Date           8/12/1981
Last Login Time       12:05 AM
Salary                   46930
Bonus %                 18.702
Senior Management         True
Team                   Finance
Name: 304, dtype: object
305 First Name            Margaret
Gender                  Female
Start Date            2/6/1993
Last Login Time        1:05 PM
Salary                  125220
Bonus %                  3.733
Senior Management        False
Team                 Marketing
Name: 305, dtype: object
306 First Name                           Mark
Gender                               Male
Start Date                       4/1/1984
Last Login Time                   1:21 PM
Salary                             121477
Bonus %                             17.44
Senior Management                    True
Team                 Business Development
Name: 306, dtype: object
307 First Name                Marilyn
Gender                     Female
Start Date              9/26/1981
Last Login Time           2:23 AM
Salary                      86386
Bonus %                     2.937
Senior Management           False
Team                 Distribution
Name: 307, dtype: object
308 First Name             Cheryl
Gender                 Female
Start Date           9/8/2009
Last Login Time      10:16 AM
Salary                  81308
Bonus %                 2.196
Senior Management        True
Team                    Legal
Name: 308, dtype: object
309 First Name            Benjamin
Gender                    Male
Start Date           9/11/1984
Last Login Time        6:37 AM
Salary                   84810
Bonus %                 15.794
Senior Management        False
Team                 Marketing
Name: 309, dtype: object
310 First Name              Harold
Gender                    Male
Start Date           2/20/1990
Last Login Time       11:00 PM
Salary                   66775
Bonus %                  2.158
Senior Management         True
Team                     Legal
Name: 310, dtype: object
311 First Name              Ernest
Gender                     NaN
Start Date           1/18/2002
Last Login Time        1:51 AM
Salary                   72145
Bonus %                 13.448
Senior Management         True
Team                   Finance
Name: 311, dtype: object
312 First Name              Gerald
Gender                    Male
Start Date           4/16/2001
Last Login Time       10:09 PM
Salary                  121604
Bonus %                  1.923
Senior Management         True
Team                     Sales
Name: 312, dtype: object
313 First Name               Judy
Gender                 Female
Start Date           7/1/1991
Last Login Time       2:33 AM
Salary                 109510
Bonus %                13.457
Senior Management        True
Team                    Legal
Name: 313, dtype: object
314 First Name               Bobby
Gender                    Male
Start Date           3/31/1996
Last Login Time        5:40 PM
Salary                  112117
Bonus %                  6.338
Senior Management        False
Team                       NaN
Name: 314, dtype: object
315 First Name                     Bobby
Gender                           NaN
Start Date                  9/1/1995
Last Login Time              2:09 PM
Salary                        108127
Bonus %                       15.858
Senior Management              False
Team                 Client Services
Name: 315, dtype: object
316 First Name               Marie
Gender                  Female
Start Date           10/3/2013
Last Login Time        8:05 PM
Salary                  123711
Bonus %                 10.966
Senior Management        False
Team                   Product
Name: 316, dtype: object
317 First Name                          Kathy
Gender                             Female
Start Date                     12/18/2013
Last Login Time                   3:09 PM
Salary                             132381
Bonus %                              8.34
Senior Management                   False
Team                 Business Development
Name: 317, dtype: object
318 First Name                Roy
Gender                   Male
Start Date           8/6/2006
Last Login Time       7:52 AM
Salary                 148225
Bonus %                 1.841
Senior Management       False
Team                  Finance
Name: 318, dtype: object
319 First Name           Jacqueline
Gender                   Female
Start Date           11/25/1981
Last Login Time         3:01 PM
Salary                   145988
Bonus %                  18.243
Senior Management         False
Team                  Marketing
Name: 319, dtype: object
320 First Name                NaN
Gender                 Female
Start Date           7/8/2008
Last Login Time      11:40 PM
Salary                  62960
Bonus %                14.356
Senior Management         NaN
Team                    Sales
Name: 320, dtype: object
321 First Name               Julie
Gender                  Female
Start Date           3/23/1986
Last Login Time        9:26 AM
Salary                   56926
Bonus %                  7.507
Senior Management        False
Team                     Sales
Name: 321, dtype: object
322 First Name            Douglas
Gender                   Male
Start Date           1/8/2002
Last Login Time       6:42 PM
Salary                  41428
Bonus %                14.372
Senior Management       False
Team                  Product
Name: 322, dtype: object
323 First Name                Linda
Gender                   Female
Start Date           12/16/1990
Last Login Time         2:20 AM
Salary                   115658
Bonus %                   3.041
Senior Management          True
Team                      Sales
Name: 323, dtype: object
324 First Name                           Ruby
Gender                             Female
Start Date                     12/10/1988
Last Login Time                   8:27 PM
Salary                              76707
Bonus %                             6.031
Senior Management                   False
Team                 Business Development
Name: 324, dtype: object
325 First Name                   Russell
Gender                          Male
Start Date                  1/2/2005
Last Login Time              1:48 AM
Salary                         60388
Bonus %                       17.885
Senior Management              False
Team                 Client Services
Name: 325, dtype: object
326 First Name             Jeffrey
Gender                    Male
Start Date           6/18/1997
Last Login Time        8:01 PM
Salary                   45150
Bonus %                 12.075
Senior Management         True
Team                   Product
Name: 326, dtype: object
327 First Name               Aaron
Gender                    Male
Start Date           1/29/1994
Last Login Time        6:48 PM
Salary                   58755
Bonus %                  5.097
Senior Management         True
Team                 Marketing
Name: 327, dtype: object
328 First Name               Samuel
Gender                     Male
Start Date           12/19/1991
Last Login Time         2:54 AM
Salary                    76076
Bonus %                   5.319
Senior Management          True
Team                    Finance
Name: 328, dtype: object
329 First Name                   NaN
Gender                      Male
Start Date             1/27/2010
Last Login Time          2:57 AM
Salary                     87760
Bonus %                   14.987
Senior Management            NaN
Team                 Engineering
Name: 329, dtype: object
330 First Name                     Randy
Gender                          Male
Start Date                 3/16/2014
Last Login Time              6:24 PM
Salary                        135119
Bonus %                        7.887
Senior Management              False
Team                 Client Services
Name: 330, dtype: object
331 First Name              Evelyn
Gender                  Female
Start Date            9/3/1983
Last Login Time        1:58 PM
Salary                   36759
Bonus %                 17.269
Senior Management         True
Team                 Marketing
Name: 331, dtype: object
332 First Name                Fred
Gender                    Male
Start Date           2/13/1987
Last Login Time        2:15 PM
Salary                  121723
Bonus %                 18.645
Senior Management         True
Team                   Product
Name: 332, dtype: object
333 First Name                   Shirley
Gender                        Female
Start Date                  6/8/1986
Last Login Time              2:25 AM
Salary                        110061
Bonus %                        7.494
Senior Management              False
Team                 Client Services
Name: 333, dtype: object
334 First Name                      Todd
Gender                          Male
Start Date                 5/23/2011
Last Login Time              4:14 PM
Salary                         85074
Bonus %                        1.844
Senior Management              False
Team                 Client Services
Name: 334, dtype: object
335 First Name               Robert
Gender                     Male
Start Date           11/18/2014
Last Login Time         5:00 AM
Salary                    85799
Bonus %                   19.93
Senior Management         False
Team                    Finance
Name: 335, dtype: object
336 First Name                Mark
Gender                    Male
Start Date           1/22/2007
Last Login Time        2:37 PM
Salary                   75150
Bonus %                 12.182
Senior Management         True
Team                     Legal
Name: 336, dtype: object
337 First Name               Earl
Gender                   Male
Start Date           1/5/2000
Last Login Time       5:46 PM
Salary                  91344
Bonus %                 4.035
Senior Management        True
Team                    Sales
Name: 337, dtype: object
338 First Name             Richard
Gender                    Male
Start Date           9/27/2005
Last Login Time        1:41 AM
Salary                   86326
Bonus %                 10.717
Senior Management        False
Team                   Product
Name: 338, dtype: object
339 First Name                   Michael
Gender                          Male
Start Date                11/22/1991
Last Login Time             12:57 PM
Salary                         98753
Bonus %                       16.443
Senior Management               True
Team                 Human Resources
Name: 339, dtype: object
340 First Name              Steven
Gender                    Male
Start Date           5/12/2009
Last Login Time        2:14 PM
Salary                  113060
Bonus %                  2.846
Senior Management         True
Team                     Sales
Name: 340, dtype: object
341 First Name              Carlos
Gender                    Male
Start Date           9/19/2007
Last Login Time        1:01 AM
Salary                   77327
Bonus %                  11.58
Senior Management         True
Team                   Finance
Name: 341, dtype: object
342 First Name                Marie
Gender                   Female
Start Date           10/20/2011
Last Login Time        10:09 PM
Salary                    62666
Bonus %                  10.247
Senior Management         False
Team                    Product
Name: 342, dtype: object
343 First Name                Ronald
Gender                      Male
Start Date             2/24/2009
Last Login Time          2:09 PM
Salary                     96633
Bonus %                     4.99
Senior Management           True
Team                 Engineering
Name: 343, dtype: object
344 First Name                          Scott
Gender                               Male
Start Date                      5/12/2009
Last Login Time                   4:36 AM
Salary                              58248
Bonus %                             3.914
Senior Management                   False
Team                 Business Development
Name: 344, dtype: object
345 First Name                    Steven
Gender                          Male
Start Date                11/21/2006
Last Login Time              8:30 AM
Salary                         83706
Bonus %                         6.96
Senior Management               True
Team                 Human Resources
Name: 345, dtype: object
346 First Name                     James
Gender                          Male
Start Date                11/22/1998
Last Login Time              3:48 AM
Salary                         74086
Bonus %                        5.778
Senior Management               True
Team                 Human Resources
Name: 346, dtype: object
347 First Name                Lori
Gender                  Female
Start Date           3/31/1988
Last Login Time       10:59 PM
Salary                   95389
Bonus %                 14.223
Senior Management        False
Team                     Sales
Name: 347, dtype: object
348 First Name             Philip
Gender                   Male
Start Date           8/2/1989
Last Login Time      11:21 AM
Salary                 129968
Bonus %                19.897
Senior Management       False
Team                  Finance
Name: 348, dtype: object
349 First Name              Phyllis
Gender                   Female
Start Date           11/24/2005
Last Login Time        11:57 PM
Salary                   140347
Bonus %                   8.723
Senior Management         False
Team                      Sales
Name: 349, dtype: object
350 First Name              Thomas
Gender                     NaN
Start Date           8/31/1995

Name: 437, dtype: object
438 First Name                Jason
Gender                     Male
Start Date           11/20/1998
Last Login Time         2:54 PM
Salary                    69244
Bonus %                    6.22
Senior Management          True
Team                        NaN
Name: 438, dtype: object
439 First Name                  Nicholas
Gender                          Male
Start Date                  3/1/2013
Last Login Time              9:26 PM
Salary                        101036
Bonus %                        2.826
Senior Management               True
Team                 Human Resources
Name: 439, dtype: object
440 First Name                     Aaron
Gender                          Male
Start Date                 7/22/1990
Last Login Time              2:53 PM
Salary                         52119
Bonus %                       11.343
Senior Management               True
Team                 Client Services
Name: 440, dtype: object
441 First Name                         Louise
Gender                             Female
Start Date                      5/13/2003
Last Login Time                   9:47 AM
Salary                              46666
Bonus %                             1.886
Senior Management                    True
Team                 Business Development
Name: 441, dtype: object
442 First Name               Julie
Gender                  Female
Start Date           4/23/1998
Last Login Time        5:52 AM
Salary                   73437
Bonus %                  2.518
Senior Management         True
Team                   Finance
Name: 442, dtype: object
443 First Name              Kathy
Gender                 Female
Start Date           5/8/1987
Last Login Time       6:19 PM
Salary                  86318
Bonus %                18.492
Senior Management        True
Team                    Sales
Name: 443, dtype: object
444 First Name                    NaN
Gender                       Male
Start Date              5/24/2016
Last Login Time           9:17 PM
Salary                      76409
Bonus %                     7.008
Senior Management             NaN
Team                 Distribution
Name: 444, dtype: object
445 First Name                Chris
Gender                     Male
Start Date           12/12/2006
Last Login Time         1:57 AM
Salary                    71642
Bonus %                   1.496
Senior Management         False
Team                        NaN
Name: 445, dtype: object
446 First Name              Cheryl
Gender                  Female
Start Date           8/16/1994
Last Login Time        8:33 AM
Salary                   67150
Bonus %                  15.85
Senior Management         True
Team                 Marketing
Name: 446, dtype: object
447 First Name               Gregory
Gender                      Male
Start Date             5/15/2009
Last Login Time          3:52 PM
Salary                    142208
Bonus %                   11.204
Senior Management           True
Team                 Engineering
Name: 447, dtype: object
448 First Name                     Wayne
Gender                          Male
Start Date                 1/30/1992
Last Login Time              3:01 PM
Salary                         81183
Bonus %                       17.066
Senior Management              False
Team                 Client Services
Name: 448, dtype: object
449 First Name                   Beverly
Gender                        Female
Start Date                11/30/2005
Last Login Time              2:57 AM
Salary                        107163
Bonus %                        3.665
Senior Management               True
Team                 Human Resources
Name: 449, dtype: object
450 First Name              Willie
Gender                    Male
Start Date           8/22/2009
Last Login Time        1:03 PM
Salary                   55038
Bonus %                 19.691
Senior Management        False
Team                     Legal
Name: 450, dtype: object
451 First Name               Terry
Gender                     NaN
Start Date           7/15/2016
Last Login Time       12:29 AM
Salary                  140002
Bonus %                  19.49
Senior Management         True
Team                 Marketing
Name: 451, dtype: object
452 First Name                Scott
Gender                     Male
Start Date           11/17/2012
Last Login Time         2:47 PM
Salary                   146812
Bonus %                   1.965
Senior Management          True
Team                  Marketing
Name: 452, dtype: object
453 First Name                     Annie
Gender                        Female
Start Date                12/19/1994
Last Login Time              6:19 AM
Salary                         40119
Bonus %                        4.338
Senior Management               True
Team                 Human Resources
Name: 453, dtype: object
454 First Name                 NaN
Gender                    Male
Start Date           2/21/1995
Last Login Time       12:26 AM
Salary                  136602
Bonus %                 10.429
Senior Management          NaN
Team                 Marketing
Name: 454, dtype: object
455 First Name                      Ruth
Gender                        Female
Start Date                10/24/2000
Last Login Time              4:13 AM
Salary                         69579
Bonus %                       18.029
Senior Management               True
Team                 Human Resources
Name: 455, dtype: object
456 First Name               Deborah
Gender                       NaN
Start Date              2/3/1983
Last Login Time         11:38 PM
Salary                    101457
Bonus %                    6.662
Senior Management          False
Team                 Engineering
Name: 456, dtype: object
457 First Name           Patricia
Gender                 Female
Start Date           1/9/2015
Last Login Time       4:16 AM
Salary                 121232
Bonus %                16.624
Senior Management       False
Team                    Legal
Name: 457, dtype: object
458 First Name              Albert
Gender                    Male
Start Date           9/30/2007
Last Login Time        5:34 PM
Salary                  102626
Bonus %                 15.843
Senior Management        False
Team                   Finance
Name: 458, dtype: object
459 First Name             Charles
Gender                     NaN
Start Date            3/1/1987
Last Login Time        1:00 PM
Salary                  137171
Bonus %                  5.574
Senior Management         True
Team                 Marketing
Name: 459, dtype: object
460 First Name                Tina
Gender                  Female
Start Date           1/17/2005
Last Login Time        9:11 AM
Salary                   88276
Bonus %                 14.248
Senior Management        False
Team                     Legal
Name: 460, dtype: object
461 First Name              Jeremy
Gender                    Male
Start Date            8/9/2001
Last Login Time        3:56 AM
Salary                   43354
Bonus %                 13.946
Senior Management        False
Team                 Marketing
Name: 461, dtype: object
462 First Name                 Craig
Gender                      Male
Start Date             4/14/1996
Last Login Time          9:17 AM
Salary                    125556
Bonus %                    7.996
Senior Management          False
Team                 Engineering
Name: 462, dtype: object
463 First Name                Jose
Gender                    Male
Start Date           7/11/2002
Last Login Time        9:15 AM
Salary                   59862
Bonus %                  3.269
Senior Management        False
Team                   Product
Name: 463, dtype: object
464 First Name            Lawrence
Gender                    Male
Start Date           5/13/2005
Last Login Time        1:25 AM
Salary                   74640
Bonus %                 18.641
Senior Management        False
Team                 Marketing
Name: 464, dtype: object
465 First Name                Helen
Gender                   Female
Start Date           10/31/1997
Last Login Time         2:43 AM
Salary                    52875
Bonus %                   4.188
Senior Management         False
Team                      Legal
Name: 465, dtype: object
466 First Name             Walter
Gender                   Male
Start Date           8/4/2007
Last Login Time       1:59 PM
Salary                  58789
Bonus %                 5.461
Senior Management       False
Team                    Sales
Name: 466, dtype: object
467 First Name                   Amy
Gender                    Female
Start Date             6/19/2002
Last Login Time          3:06 AM
Salary                    122897
Bonus %                    8.222
Senior Management           True
Team                 Engineering
Name: 467, dtype: object
468 First Name              Janice
Gender                  Female
Start Date           6/28/1997
Last Login Time        1:48 PM
Salary                  136032
Bonus %                 10.696
Senior Management         True
Team                 Marketing
Name: 468, dtype: object
469 First Name            Stephen
Gender                   Male
Start Date           5/9/2015
Last Login Time       7:07 PM
Salary                 141958
Bonus %                 9.078
Senior Management        True
Team                    Legal
Name: 469, dtype: object
470 First Name                   Ryan
Gender                       Male
Start Date              7/20/1993
Last Login Time          10:18 PM
Salary                     139917
Bonus %                    11.466
Senior Management           False
Team                 Distribution
Name: 470, dtype: object
471 First Name                    Sharon
Gender                        Female
Start Date                 3/12/2002
Last Login Time              6:32 AM
Salary                        147635
Bonus %                       14.693
Senior Management              False
Team                 Human Resources
Name: 471, dtype: object
472 First Name                    Joshua
Gender                          Male
Start Date                 7/10/1984
Last Login Time              7:22 PM
Salary                         68230
Bonus %                        8.047
Senior Management              False
Team                 Client Services
Name: 472, dtype: object
473 First Name                       Clarence
Gender                               Male
Start Date                      8/20/1992
Last Login Time                   8:23 PM
Salary                             124365
Bonus %                             8.457
Senior Management                   False
Team                 Business Development
Name: 473, dtype: object
474 First Name              Jonathan
Gender                      Male
Start Date             8/15/2002
Last Login Time         12:01 AM
Salary                    104749
Bonus %                   11.364
Senior Management          False
Team                 Engineering
Name: 474, dtype: object
475 First Name             Stephanie
Gender                    Female
Start Date            11/26/1992
Last Login Time         12:54 AM
Salary                    122121
Bonus %                    7.937
Senior Management           True
Team                 Engineering
Name: 475, dtype: object
476 First Name                     Kathy
Gender                        Female
Start Date                10/25/1996
Last Login Time             12:59 PM
Salary                        143541
Bonus %                        8.461
Senior Management              False
Team                 Human Resources
Name: 476, dtype: object
477 First Name                         Albert
Gender                               Male
Start Date                      8/14/2008
Last Login Time                   5:43 PM
Salary                             137840
Bonus %                             9.705
Senior Management                   False
Team                 Business Development
Name: 477, dtype: object
478 First Name                        Michael
Gender                               Male
Start Date                      5/22/2011
Last Login Time                  10:42 AM
Salary                              73354
Bonus %                            18.357
Senior Management                   False
Team                 Business Development
Name: 478, dtype: object
479 First Name            Richard
Gender                   Male
Start Date           7/4/1997
Last Login Time      11:47 AM
Salary                  47647
Bonus %                18.787
Senior Management        True
Team                      NaN
Name: 479, dtype: object
480 First Name                 Amy
Gender                  Female
Start Date           3/30/2008
Last Login Time       10:54 PM
Salary                  106249
Bonus %                 15.967
Senior Management        False
Team                     Sales
Name: 480, dtype: object
481 First Name                            NaN
Gender                             Female
Start Date                      4/27/2013
Last Login Time                   6:40 AM
Salary                              93847
Bonus %                             1.085
Senior Management                     NaN
Team                 Business Development
Name: 481, dtype: object
482 First Name            Beverly
Gender                    NaN
Start Date           5/3/1995
Last Login Time       5:49 AM
Salary                 104815
Bonus %                  3.38
Senior Management       False
Team                  Product
Name: 482, dtype: object
483 First Name                       NaN
Gender                        Female
Start Date                 4/26/1992
Last Login Time              8:01 PM
Salary                        115436
Bonus %                        3.099
Senior Management                NaN
Team                 Human Resources
Name: 483, dtype: object
484 First Name                 Joe
Gender                    Male
Start Date           4/14/2000
Last Login Time        3:14 PM
Salary                   50645
Bonus %                 11.119
Senior Management        False
Team                 Marketing
Name: 484, dtype: object
485 First Name              Ashley
Gender                  Female
Start Date           8/15/1997
Last Login Time        9:48 PM
Salary                  142415
Bonus %                  1.985
Senior Management         True
Team                   Finance
Name: 485, dtype: object
486 First Name                 Howard
Gender                       Male
Start Date               4/9/2012
Last Login Time           6:36 AM
Salary                      37984
Bonus %                     2.021
Senior Management           False
Team                 Distribution
Name: 486, dtype: object
487 First Name                         Cheryl
Gender                             Female
Start Date                      12/3/2014
Last Login Time                   9:27 AM
Salary                              71751
Bonus %                            15.918
Senior Management                   False
Team                 Business Development
Name: 487, dtype: object
488 First Name              Robert
Gender                    Male
Start Date           3/11/2007
Last Login Time       11:20 AM
Salary                  135882
Bonus %                 19.944
Senior Management        False
Team                     Legal
Name: 488, dtype: object
489 First Name                    Sharon
Gender                        Female
Start Date                  7/1/2011
Last Login Time              9:50 AM
Salary                         46007
Bonus %                       19.731
Senior Management               True
Team                 Client Services
Name: 489, dtype: object
490 First Name               Judith
Gender                   Female
Start Date           11/23/2007
Last Login Time         1:22 PM
Salary                   117055
Bonus %                   7.461
Senior Management         False
Team                  Marketing
Name: 490, dtype: object
491 First Name               Nicholas
Gender                        NaN
Start Date               9/9/1989
Last Login Time           7:12 PM
Salary                      58478
Bonus %                     6.525
Senior Management            True
Team                 Distribution
Name: 491, dtype: object
492 First Name                          Jerry
Gender                               Male
Start Date                      1/30/1995
Last Login Time                   7:51 PM
Salary                             121357
Bonus %                            18.845
Senior Management                   False
Team                 Business Development
Name: 492, dtype: object
493 First Name               Craig
Gender                    Male
Start Date           11/1/2005
Last Login Time       11:31 PM
Salary                   44857
Bonus %                 13.266
Senior Management        False
Team                   Finance
Name: 493, dtype: object
494 First Name             Barbara
Gender                  Female
Start Date           3/21/2002
Last Login Time        8:02 AM
Salary                   47322
Bonus %                   7.25
Senior Management         True
Team                     Sales
Name: 494, dtype: object
495 First Name              Eugene
Gender                    Male
Start Date           5/24/1984
Last Login Time       10:54 AM
Salary                   81077
Bonus %                  2.117
Senior Management        False
Team                     Sales
Name: 495, dtype: object
496 First Name              Johnny
Gender                    Male
Start Date           2/26/2016
Last Login Time        7:39 PM
Salary                   76394
Bonus %                  5.437
Senior Management         True
Team                 Marketing
Name: 496, dtype: object
497 First Name                  Benjamin
Gender                          Male
Start Date                  5/5/2013
Last Login Time              3:28 PM
Salary                        114356
Bonus %                        7.123
Senior Management              False
Team                 Client Services
Name: 497, dtype: object
498 First Name                          Diana
Gender                             Female
Start Date                      6/13/1994
Last Login Time                   4:21 PM
Salary                              41831
Bonus %                             4.548
Senior Management                   False
Team                 Business Development
Name: 498, dtype: object
499 First Name                Barbara
Gender                        NaN
Start Date             12/10/1980
Last Login Time          11:04 PM
Salary                      90187
Bonus %                    14.764
Senior Management            True
Team                 Distribution
Name: 499, dtype: object
500 First Name           Christine
Gender                  Female
Start Date            2/1/2003
Last Login Time        1:11 PM
Salary                   72613
Bonus %                 11.126
Senior Management        False
Team                     Legal
Name: 500, dtype: object
501 First Name                   Sean
Gender                       Male
Start Date              2/11/2013
Last Login Time           7:07 PM
Salary                      42748
Bonus %                     9.765
Senior Management           False
Team                 Distribution
Name: 501, dtype: object
502 First Name                     Sarah
Gender                        Female
Start Date                 11/3/1980
Last Login Time              2:47 PM
Salary                         37259
Bonus %                        1.763
Senior Management              False
Team                 Client Services
Name: 502, dtype: object
503 First Name               Roger
Gender                    Male
Start Date            8/3/2015
Last Login Time        4:56 PM
Salary                  125033
Bonus %                  4.887
Senior Management         True
Team                 Marketing
Name: 503, dtype: object
504 First Name                    NaN
Gender                     Female
Start Date              6/24/2014

Name: 577, dtype: object
578 First Name              Amanda
Gender                  Female
Start Date           3/17/1982
Last Login Time       11:46 PM
Salary                  107111
Bonus %                  1.438
Senior Management         True
Team                   Product
Name: 578, dtype: object
579 First Name               Harold
Gender                     Male
Start Date           10/18/2010
Last Login Time         8:45 PM
Salary                    65673
Bonus %                   1.187
Senior Management          True
Team                      Legal
Name: 579, dtype: object
580 First Name               Harry
Gender                    Male
Start Date           1/27/1985
Last Login Time        8:18 PM
Salary                   65482
Bonus %                 18.089
Senior Management        False
Team                       NaN
Name: 580, dtype: object
581 First Name              Ernest
Gender                    Male
Start Date           1/28/1990
Last Login Time       12:08 AM
Salary                   81919
Bonus %                 15.118
Senior Management        False
Team                 Marketing
Name: 581, dtype: object
582 First Name                Harry
Gender                     Male
Start Date           11/19/1982
Last Login Time        11:25 AM
Salary                    59277
Bonus %                    10.2
Senior Management         False
Team                    Finance
Name: 582, dtype: object
583 First Name                          Diane
Gender                             Female
Start Date                       2/2/1988
Last Login Time                   6:14 PM
Salary                              49501
Bonus %                            13.506
Senior Management                   False
Team                 Business Development
Name: 583, dtype: object
584 First Name                Jack
Gender                    Male
Start Date           5/30/2012
Last Login Time        3:17 AM
Salary                   70367
Bonus %                 18.266
Senior Management         True
Team                     Legal
Name: 584, dtype: object
585 First Name             Shirley
Gender                  Female
Start Date           4/16/1988
Last Login Time       11:09 AM
Salary                  132156
Bonus %                  2.754
Senior Management        False
Team                 Marketing
Name: 585, dtype: object
586 First Name                 Rose
Gender                   Female
Start Date           10/30/2004
Last Login Time         4:34 PM
Salary                    56961
Bonus %                   7.585
Senior Management         False
Team                  Marketing
Name: 586, dtype: object
587 First Name                    Cheryl
Gender                        Female
Start Date                 7/23/1982
Last Login Time              6:28 AM
Salary                         98841
Bonus %                        8.945
Senior Management               True
Team                 Client Services
Name: 587, dtype: object
588 First Name                   Cynthia
Gender                        Female
Start Date                 5/23/1980
Last Login Time              3:19 AM
Salary                         78226
Bonus %                        2.419
Senior Management              False
Team                 Human Resources
Name: 588, dtype: object
589 First Name                    Sandra
Gender                        Female
Start Date                 4/24/1995
Last Login Time              7:14 PM
Salary                        116931
Bonus %                        9.657
Senior Management               True
Team                 Human Resources
Name: 589, dtype: object
590 First Name                         Andrea
Gender                             Female
Start Date                     10/30/1994
Last Login Time                  11:23 AM
Salary                              87575
Bonus %                            13.346
Senior Management                    True
Team                 Business Development
Name: 590, dtype: object
591 First Name                 Rachel
Gender                     Female
Start Date              4/22/1988
Last Login Time          12:01 PM
Salary                     110924
Bonus %                     7.808
Senior Management           False
Team                 Distribution
Name: 591, dtype: object
592 First Name              Justin
Gender                    Male
Start Date           5/24/1981
Last Login Time       11:15 PM
Salary                   78351
Bonus %                 15.221
Senior Management        False
Team                     Sales
Name: 592, dtype: object
593 First Name                Marie
Gender                   Female
Start Date           11/23/2000
Last Login Time         5:06 AM
Salary                   125574
Bonus %                   4.644
Senior Management         False
Team                      Sales
Name: 593, dtype: object
594 First Name                          Louis
Gender                               Male
Start Date                      4/15/2011
Last Login Time                   5:02 AM
Salary                              95198
Bonus %                             2.075
Senior Management                   False
Team                 Business Development
Name: 594, dtype: object
595 First Name              Nancy
Gender                 Female
Start Date           5/7/1985
Last Login Time      10:20 PM
Salary                 121006
Bonus %                 3.512
Senior Management        True
Team                  Finance
Name: 595, dtype: object
596 First Name                           Mark
Gender                               Male
Start Date                      10/3/1984
Last Login Time                   5:31 AM
Salary                              95728
Bonus %                             6.752
Senior Management                    True
Team                 Business Development
Name: 596, dtype: object
597 First Name                 Teresa
Gender                     Female
Start Date              6/24/1987
Last Login Time           7:37 PM
Salary                      69740
Bonus %                     8.294
Senior Management           False
Team                 Distribution
Name: 597, dtype: object
598 First Name             Frances
Gender                  Female
Start Date           7/21/2001
Last Login Time        2:34 AM
Salary                   91996
Bonus %                 11.506
Senior Management        False
Team                   Product
Name: 598, dtype: object
599 First Name                       NaN
Gender                        Female
Start Date                10/11/1990
Last Login Time             10:57 PM
Salary                         98385
Bonus %                       10.925
Senior Management                NaN
Team                 Human Resources
Name: 599, dtype: object
600 First Name                Barbara
Gender                        NaN
Start Date             12/20/1994
Last Login Time          10:09 AM
Salary                      90556
Bonus %                    15.749
Senior Management            True
Team                 Distribution
Name: 600, dtype: object
601 First Name           Christine
Gender                     NaN
Start Date           6/15/1980
Last Login Time        6:00 PM
Salary                   50366
Bonus %                  9.862
Senior Management         True
Team                 Marketing
Name: 601, dtype: object
602 First Name                 Bobby
Gender                       NaN
Start Date             7/21/2003
Last Login Time          3:50 PM
Salary                     84232
Bonus %                   15.704
Senior Management           True
Team                 Engineering
Name: 602, dtype: object
603 First Name                           Carl
Gender                                NaN
Start Date                     10/26/1991
Last Login Time                   8:11 AM
Salary                             100888
Bonus %                             12.49
Senior Management                    True
Team                 Business Development
Name: 603, dtype: object
604 First Name                 Bruce
Gender                      Male
Start Date             3/15/2013
Last Login Time         11:13 PM
Salary                    141335
Bonus %                   15.427
Senior Management           True
Team                 Engineering
Name: 604, dtype: object
605 First Name                      Rose
Gender                        Female
Start Date                 5/20/1982
Last Login Time              9:14 AM
Salary                         97691
Bonus %                        2.142
Senior Management              False
Team                 Client Services
Name: 605, dtype: object
606 First Name                   Mildred
Gender                        Female
Start Date                 2/21/1981
Last Login Time              3:30 AM
Salary                         47266
Bonus %                       10.256
Senior Management              False
Team                 Client Services
Name: 606, dtype: object
607 First Name                  NaN
Gender                     Male
Start Date           10/13/1983
Last Login Time        11:59 PM
Salary                   139754
Bonus %                   12.74
Senior Management           NaN
Team                      Sales
Name: 607, dtype: object
608 First Name                   NaN
Gender                    Female
Start Date            10/24/1993
Last Login Time          5:17 PM
Salary                    116236
Bonus %                   17.274
Senior Management            NaN
Team                 Engineering
Name: 608, dtype: object
609 First Name                Todd
Gender                    Male
Start Date           2/16/2010
Last Login Time       11:29 AM
Salary                  103405
Bonus %                  15.91
Senior Management        False
Team                     Sales
Name: 609, dtype: object
610 First Name                Alan
Gender                    Male
Start Date           2/17/2012
Last Login Time       12:26 AM
Salary                   41453
Bonus %                 10.084
Senior Management        False
Team                   Product
Name: 610, dtype: object
611 First Name           Elizabeth
Gender                     NaN
Start Date           2/16/1981
Last Login Time        3:58 AM
Salary                   52730
Bonus %                 12.525
Senior Management        False
Team                 Marketing
Name: 611, dtype: object
612 First Name                  Julie
Gender                        NaN
Start Date             10/21/2000
Last Login Time           1:15 AM
Salary                      60361
Bonus %                     7.099
Senior Management            True
Team                 Distribution
Name: 612, dtype: object
613 First Name             Teresa
Gender                    NaN
Start Date           1/3/1992
Last Login Time       3:47 PM
Salary                  63103
Bonus %                11.378
Senior Management       False
Team                  Finance
Name: 613, dtype: object
614 First Name                   Eric
Gender                       Male
Start Date             11/12/2004
Last Login Time           9:16 PM
Salary                      65168
Bonus %                    11.513
Senior Management           False
Team                 Distribution
Name: 614, dtype: object
615 First Name                Edward
Gender                      Male
Start Date             8/30/2001
Last Login Time          1:24 AM
Salary                     73105
Bonus %                    6.083
Senior Management           True
Team                 Engineering
Name: 615, dtype: object
616 First Name               Kimberly
Gender                     Female
Start Date              12/6/1986
Last Login Time           2:23 PM
Salary                      37916
Bonus %                    12.929
Senior Management            True
Team                 Distribution
Name: 616, dtype: object
617 First Name               Kathy
Gender                  Female
Start Date           1/14/2001
Last Login Time        5:11 AM
Salary                   45682
Bonus %                  1.451
Senior Management         True
Team                 Marketing
Name: 617, dtype: object
618 First Name                Peter
Gender                     Male
Start Date           11/24/1992
Last Login Time         5:43 PM
Salary                    69297
Bonus %                   1.268
Senior Management         False
Team                    Finance
Name: 618, dtype: object
619 First Name               Beverly
Gender                    Female
Start Date            10/22/1990
Last Login Time          2:45 PM
Salary                     59070
Bonus %                   19.064
Senior Management           True
Team                 Engineering
Name: 619, dtype: object
620 First Name              Ralph
Gender                   Male
Start Date           3/7/2012
Last Login Time       2:25 AM
Salary                  81215
Bonus %                   8.4
Senior Management       False
Team                  Finance
Name: 620, dtype: object
621 First Name                    Justin
Gender                          Male
Start Date                 8/10/1997
Last Login Time             11:00 PM
Salary                        128036
Bonus %                       18.824
Senior Management              False
Team                 Client Services
Name: 621, dtype: object
622 First Name               Irene
Gender                  Female
Start Date           6/23/2005
Last Login Time       11:03 AM
Salary                   89780
Bonus %                  8.999
Senior Management         True
Team                     Sales
Name: 622, dtype: object
623 First Name                Irene
Gender                   Female
Start Date           11/29/2006
Last Login Time         2:14 PM
Salary                   125018
Bonus %                   9.601
Senior Management          True
Team                      Legal
Name: 623, dtype: object
624 First Name               Jeremy
Gender                     Male
Start Date           11/26/1997
Last Login Time         8:22 AM
Salary                   133033
Bonus %                    12.2
Senior Management         False
Team                      Sales
Name: 624, dtype: object
625 First Name             Cynthia
Gender                  Female
Start Date           6/29/2015
Last Login Time        6:38 AM
Salary                   82408
Bonus %                  8.701
Senior Management         True
Team                 Marketing
Name: 625, dtype: object
626 First Name                 NaN
Gender                  Female
Start Date           4/13/1997
Last Login Time        8:03 AM
Salary                  131755
Bonus %                   2.93
Senior Management          NaN
Team                       NaN
Name: 626, dtype: object
627 First Name                 Anne
Gender                   Female
Start Date           11/21/1984
Last Login Time        12:30 PM
Salary                   128305
Bonus %                  16.636
Senior Management         False
Team                  Marketing
Name: 627, dtype: object
628 First Name                    NaN
Gender                        NaN
Start Date               9/2/1988
Last Login Time          12:49 PM
Salary                     147309
Bonus %                     1.702
Senior Management             NaN
Team                 Distribution
Name: 628, dtype: object
629 First Name               Debra
Gender                  Female
Start Date           3/12/1983
Last Login Time       12:19 PM
Salary                   74911
Bonus %                 19.513
Senior Management        False
Team                 Marketing
Name: 629, dtype: object
630 First Name             Michael
Gender                    Male
Start Date           7/13/1988
Last Login Time        1:48 PM
Salary                   47079
Bonus %                  2.617
Senior Management        False
Team                     Legal
Name: 630, dtype: object
631 First Name                     Jason
Gender                           NaN
Start Date                  3/6/2008
Last Login Time              1:20 AM
Salary                         82873
Bonus %                        1.869
Senior Management              False
Team                 Client Services
Name: 631, dtype: object
632 First Name               Rebecca
Gender                    Female
Start Date             2/23/1990
Last Login Time          3:21 PM
Salary                    134673
Bonus %                    6.878
Senior Management          False
Team                 Engineering
Name: 632, dtype: object
633 First Name                Andrea
Gender                    Female
Start Date            11/17/2011
Last Login Time          2:37 PM
Salary                    123591
Bonus %                      6.5
Senior Management           True
Team                 Engineering
Name: 633, dtype: object
634 First Name                Carl
Gender                    Male
Start Date           3/30/1987
Last Login Time        5:59 PM
Salary                   75598
Bonus %                 19.289
Senior Management        False
Team                       NaN
Name: 634, dtype: object
635 First Name               Randy
Gender                    Male
Start Date           9/27/2000
Last Login Time        3:04 AM
Salary                   89831
Bonus %                 13.047
Senior Management         True
Team                       NaN
Name: 635, dtype: object
636 First Name               Marilyn
Gender                    Female
Start Date              7/2/1984
Last Login Time          4:06 PM
Salary                     92430
Bonus %                    2.924
Senior Management          False
Team                 Engineering
Name: 636, dtype: object
637 First Name                     Wayne
Gender                          Male
Start Date                  9/2/2009
Last Login Time              1:37 AM
Salary                        126956
Bonus %                       18.396
Senior Management              False
Team                 Human Resources
Name: 637, dtype: object
638 First Name                        Frances
Gender                             Female
Start Date                     11/12/1996
Last Login Time                   6:08 PM
Salary                             112467
Bonus %                             1.433
Senior Management                   False
Team                 Business Development
Name: 638, dtype: object
639 First Name                    Amanda
Gender                           NaN
Start Date                 8/11/1991
Last Login Time              2:15 PM
Salary                         46665
Bonus %                       19.391
Senior Management               True
Team                 Client Services
Name: 639, dtype: object
640 First Name               Kathleen
Gender                     Female
Start Date              8/28/2004
Last Login Time          10:49 AM
Salary                      42553
Bonus %                     3.756
Senior Management            True
Team                 Distribution
Name: 640, dtype: object
641 First Name              Amanda
Gender                  Female
Start Date           1/25/1995
Last Login Time        5:06 AM
Salary                  102081
Bonus %                  5.203
Senior Management        False
Team                     Sales
Name: 641, dtype: object
642 First Name              Amanda
Gender                     NaN
Start Date           3/16/2010
Last Login Time        9:17 AM
Salary                  135118
Bonus %                 15.108
Senior Management        False
Team                   Finance
Name: 642, dtype: object
643 First Name                     Shawn
Gender                          Male
Start Date                 9/29/1987
Last Login Time             10:11 PM
Salary                         71975
Bonus %                         9.77
Senior Management              False
Team                 Human Resources
Name: 643, dtype: object
644 First Name           Katherine
Gender                  Female
Start Date           8/13/1996
Last Login Time       12:21 AM
Salary                  149908
Bonus %                 18.912
Senior Management        False
Team                   Finance

710 First Name               Edward
Gender                     Male
Start Date           11/27/1997
Last Login Time         1:00 AM
Salary                    58327
Bonus %                  17.095
Senior Management          True
Team                    Finance
Name: 710, dtype: object
711 First Name                 Karen
Gender                    Female
Start Date              1/9/2014
Last Login Time         10:09 PM
Salary                     46478
Bonus %                   16.552
Senior Management          False
Team                 Engineering
Name: 711, dtype: object
712 First Name                Martin
Gender                       NaN
Start Date              2/6/2001
Last Login Time          4:17 AM
Salary                    123963
Bonus %                   15.745
Senior Management           True
Team                 Engineering
Name: 712, dtype: object
713 First Name                    Ann
Gender                     Female
Start Date              9/28/1994
Last Login Time           5:44 AM
Salary                      79796
Bonus %                     9.851
Senior Management           False
Team                 Distribution
Name: 713, dtype: object
714 First Name               Jonathan
Gender                       Male
Start Date              7/30/1984
Last Login Time           6:02 PM
Salary                      83809
Bonus %                    12.922
Senior Management           False
Team                 Distribution
Name: 714, dtype: object
715 First Name                 Peter
Gender                      Male
Start Date             3/22/1982
Last Login Time          7:28 AM
Salary                     77933
Bonus %                   13.132
Senior Management           True
Team                 Engineering
Name: 715, dtype: object
716 First Name                           Eric
Gender                               Male
Start Date                      6/15/1993
Last Login Time                   3:56 AM
Salary                              51070
Bonus %                            13.806
Senior Management                    True
Team                 Business Development
Name: 716, dtype: object
717 First Name                     Jason
Gender                           NaN
Start Date                 4/15/1988
Last Login Time              8:16 PM
Salary                         97480
Bonus %                       11.518
Senior Management              False
Team                 Human Resources
Name: 717, dtype: object
718 First Name                 Terry
Gender                      Male
Start Date            10/21/2010
Last Login Time         11:18 PM
Salary                     58357
Bonus %                    7.969
Senior Management          False
Team                 Engineering
Name: 718, dtype: object
719 First Name                  John
Gender                      Male
Start Date             1/29/1999
Last Login Time          3:07 AM
Salary                     67165
Bonus %                   13.001
Senior Management          False
Team                 Engineering
Name: 719, dtype: object
720 First Name                     Marie
Gender                        Female
Start Date                  4/8/1983
Last Login Time              2:01 PM
Salary                        145988
Bonus %                       18.685
Senior Management               True
Team                 Human Resources
Name: 720, dtype: object
721 First Name                         Harold
Gender                               Male
Start Date                      4/16/2010
Last Login Time                   5:13 AM
Salary                             147417
Bonus %                            11.626
Senior Management                    True
Team                 Business Development
Name: 721, dtype: object
722 First Name              Joshua
Gender                    Male
Start Date           6/27/1997
Last Login Time        3:23 PM
Salary                   95003
Bonus %                  5.197
Senior Management         True
Team                 Marketing
Name: 722, dtype: object
723 First Name            Brandon
Gender                    NaN
Start Date           9/5/1992
Last Login Time       2:32 AM
Salary                 144187
Bonus %                11.416
Senior Management        True
Team                    Legal
Name: 723, dtype: object
724 First Name                Andrea
Gender                    Female
Start Date            12/10/2001
Last Login Time          6:40 AM
Salary                     37888
Bonus %                    13.47
Senior Management          False
Team                 Engineering
Name: 724, dtype: object
725 First Name              Jeremy
Gender                    Male
Start Date           5/19/1991
Last Login Time        1:40 PM
Salary                  131513
Bonus %                  1.876
Senior Management         True
Team                   Finance
Name: 725, dtype: object
726 First Name              Daniel
Gender                    Male
Start Date           2/29/2016
Last Login Time        4:04 AM
Salary                   77287
Bonus %                   13.0
Senior Management         True
Team                       NaN
Name: 726, dtype: object
727 First Name                 Roy
Gender                    Male
Start Date           5/10/2004
Last Login Time        1:22 PM
Salary                   46875
Bonus %                 12.942
Senior Management         True
Team                     Sales
Name: 727, dtype: object
728 First Name                   Dorothy
Gender                        Female
Start Date                 10/8/2008
Last Login Time             12:22 AM
Salary                         82744
Bonus %                       19.111
Senior Management               True
Team                 Client Services
Name: 728, dtype: object
729 First Name                    Steven
Gender                          Male
Start Date                  9/7/1986
Last Login Time             12:32 AM
Salary                         43252
Bonus %                       18.892
Senior Management              False
Team                 Client Services
Name: 729, dtype: object
730 First Name              Nicole
Gender                  Female
Start Date           4/26/2009
Last Login Time       12:40 AM
Salary                   66047
Bonus %                 18.674
Senior Management         True
Team                 Marketing
Name: 730, dtype: object
731 First Name                 Ann
Gender                  Female
Start Date           7/16/2001
Last Login Time        9:27 AM
Salary                  118431
Bonus %                 12.772
Senior Management         True
Team                   Finance
Name: 731, dtype: object
732 First Name               Henry
Gender                    Male
Start Date           5/12/1986
Last Login Time        2:04 AM
Salary                   59943
Bonus %                  1.432
Senior Management        False
Team                   Finance
Name: 732, dtype: object
733 First Name                            NaN
Gender                               Male
Start Date                      6/17/2009
Last Login Time                   1:00 PM
Salary                             136681
Bonus %                             3.655
Senior Management                     NaN
Team                 Business Development
Name: 733, dtype: object
734 First Name                       NaN
Gender                        Female
Start Date                12/18/1994
Last Login Time              8:42 PM
Salary                        138807
Bonus %                          1.4
Senior Management                NaN
Team                 Human Resources
Name: 734, dtype: object
735 First Name                        Barbara
Gender                             Female
Start Date                     11/26/2002
Last Login Time                   5:32 AM
Salary                              82884
Bonus %                             6.837
Senior Management                    True
Team                 Business Development
Name: 735, dtype: object
736 First Name               Judy
Gender                 Female
Start Date           4/5/2011
Last Login Time       1:44 AM
Salary                  48668
Bonus %                11.716
Senior Management        True
Team                  Product
Name: 736, dtype: object
737 First Name            Lawrence
Gender                    Male
Start Date           7/23/2011
Last Login Time        3:41 AM
Salary                  122971
Bonus %                 14.618
Senior Management        False
Team                   Product
Name: 737, dtype: object
738 First Name                         Joseph
Gender                               Male
Start Date                     10/10/2010
Last Login Time                  11:12 PM
Salary                             107050
Bonus %                            12.737
Senior Management                   False
Team                 Business Development
Name: 738, dtype: object
739 First Name              Carlos
Gender                    Male
Start Date           1/25/1981
Last Login Time       10:00 AM
Salary                  138598
Bonus %                 14.737
Senior Management        False
Team                     Sales
Name: 739, dtype: object
740 First Name             Russell
Gender                     NaN
Start Date            5/9/2009
Last Login Time       11:59 AM
Salary                  149456
Bonus %                  3.533
Senior Management        False
Team                 Marketing
Name: 740, dtype: object
741 First Name                Jane
Gender                  Female
Start Date           7/10/1999
Last Login Time        7:02 PM
Salary                  128540
Bonus %                 15.941
Senior Management        False
Team                     Legal
Name: 741, dtype: object
742 First Name                    Martin
Gender                          Male
Start Date                 2/25/2016
Last Login Time              6:29 PM
Salary                         61117
Bonus %                        2.844
Senior Management              False
Team                 Client Services
Name: 742, dtype: object
743 First Name                    Steven
Gender                          Male
Start Date                 5/30/1980
Last Login Time              8:25 PM
Salary                        100949
Bonus %                       13.813
Senior Management               True
Team                 Human Resources
Name: 743, dtype: object
744 First Name                Judy
Gender                     NaN
Start Date           7/15/2011
Last Login Time        3:38 PM
Salary                   46829
Bonus %                   5.19
Senior Management         True
Team                   Finance
Name: 744, dtype: object
745 First Name                          James
Gender                               Male
Start Date                      2/16/2008
Last Login Time                   2:49 AM
Salary                              69111
Bonus %                            14.625
Senior Management                    True
Team                 Business Development
Name: 745, dtype: object
746 First Name                         Gloria
Gender                             Female
Start Date                      8/19/2004
Last Login Time                  10:31 AM
Salary                              46602
Bonus %                             1.027
Senior Management                    True
Team                 Business Development
Name: 746, dtype: object
747 First Name                         Ernest
Gender                               Male
Start Date                      6/30/2001
Last Login Time                   1:46 PM
Salary                              61181
Bonus %                            16.559
Senior Management                   False
Team                 Business Development
Name: 747, dtype: object
748 First Name                         Martha
Gender                             Female
Start Date                      7/17/1997
Last Login Time                  11:11 PM
Salary                              94963
Bonus %                            19.626
Senior Management                    True
Team                 Business Development
Name: 748, dtype: object
749 First Name               Janet
Gender                     NaN
Start Date           1/25/1986
Last Login Time        5:48 AM
Salary                   85789
Bonus %                  9.712
Senior Management        False
Team                     Legal
Name: 749, dtype: object
750 First Name              Louis
Gender                    NaN
Start Date           2/5/1983
Last Login Time       6:39 PM
Salary                 145274
Bonus %                16.379
Senior Management       False
Team                  Product
Name: 750, dtype: object
751 First Name                      Tina
Gender                        Female
Start Date                  8/6/1999
Last Login Time              3:18 AM
Salary                        102841
Bonus %                        3.369
Senior Management              False
Team                 Client Services
Name: 751, dtype: object
752 First Name                          Henry
Gender                               Male
Start Date                      2/23/2007
Last Login Time                   3:24 AM
Salary                              49665
Bonus %                            18.338
Senior Management                   False
Team                 Business Development
Name: 752, dtype: object
753 First Name            Antonio
Gender                   Male
Start Date           6/6/1999
Last Login Time      10:54 PM
Salary                  41928
Bonus %                 5.478
Senior Management        True
Team                      NaN
Name: 753, dtype: object
754 First Name                Lisa
Gender                  Female
Start Date           4/11/2007
Last Login Time        1:04 AM
Salary                  128042
Bonus %                   2.03
Senior Management         True
Team                     Legal
Name: 754, dtype: object
755 First Name                    Denise
Gender                        Female
Start Date                 2/19/1984
Last Login Time              6:22 AM
Salary                         86150
Bonus %                        3.997
Senior Management              False
Team                 Client Services
Name: 755, dtype: object
756 First Name                Stephen
Gender                       Male
Start Date             10/21/1984
Last Login Time           6:26 AM
Salary                     121816
Bonus %                    10.615
Senior Management            True
Team                 Distribution
Name: 756, dtype: object
757 First Name            Benjamin
Gender                    Male
Start Date           4/12/1988
Last Login Time       11:32 PM
Salary                  123409
Bonus %                  7.783
Senior Management        False
Team                   Product
Name: 757, dtype: object
758 First Name                Carl
Gender                     NaN
Start Date           8/18/2007
Last Login Time        8:01 AM
Salary                   98295
Bonus %                  7.617
Senior Management         True
Team                     Legal
Name: 758, dtype: object
759 First Name                   Ruth
Gender                     Female
Start Date               9/2/1980
Last Login Time           6:52 AM
Salary                      59678
Bonus %                    10.895
Senior Management           False
Team                 Distribution
Name: 759, dtype: object
760 First Name                     Shawn
Gender                          Male
Start Date                12/29/2006
Last Login Time              3:05 AM
Salary                         57871
Bonus %                         4.02
Senior Management               True
Team                 Human Resources
Name: 760, dtype: object
761 First Name              Jennifer
Gender                    Female
Start Date             3/31/2015
Last Login Time          7:43 PM
Salary                    132084
Bonus %                   10.006
Senior Management           True
Team                 Engineering
Name: 761, dtype: object
762 First Name                  Terry
Gender                       Male
Start Date             11/10/2004
Last Login Time           4:33 AM
Salary                      35633
Bonus %                     3.947
Senior Management            True
Team                 Distribution
Name: 762, dtype: object
763 First Name           Jacqueline
Gender                   Female
Start Date            7/27/2008
Last Login Time        12:08 PM
Salary                   125298
Bonus %                   3.019
Senior Management          True
Team                      Legal
Name: 763, dtype: object
764 First Name              Roger
Gender                   Male
Start Date           5/2/1988
Last Login Time      10:04 PM
Salary                 115582
Bonus %                15.343
Senior Management        True
Team                    Sales
Name: 764, dtype: object
765 First Name               Alice
Gender                     NaN
Start Date           4/23/1995
Last Login Time        6:35 AM
Salary                  148339
Bonus %                 11.479
Senior Management         True
Team                   Finance
Name: 765, dtype: object
766 First Name                    Justin
Gender                          Male
Start Date                 7/25/1991
Last Login Time             12:45 AM
Salary                        112975
Bonus %                        9.699
Senior Management              False
Team                 Human Resources
Name: 766, dtype: object
767 First Name                     Janet
Gender                        Female
Start Date                 7/12/2008
Last Login Time             12:10 PM
Salary                         36927
Bonus %                       18.769
Senior Management              False
Team                 Client Services
Name: 767, dtype: object
768 First Name               Robin
Gender                  Female
Start Date           3/26/2004
Last Login Time        5:41 PM
Salary                   70248
Bonus %                   9.66
Senior Management         True
Team                     Sales
Name: 768, dtype: object
769 First Name              Samuel
Gender                     NaN
Start Date           10/7/2002
Last Login Time        3:08 AM
Salary                  141305
Bonus %                  9.849
Senior Management         True
Team                 Marketing
Name: 769, dtype: object
770 First Name           Katherine
Gender                  Female
Start Date           9/22/2006
Last Login Time        8:08 PM
Salary                   72002
Bonus %                 13.178
Senior Management         True
Team                   Product
Name: 770, dtype: object
771 First Name               Peter
Gender                    Male
Start Date           5/22/1991
Last Login Time        1:39 AM
Salary                  102577
Bonus %                 12.026
Senior Management         True
Team                   Product
Name: 771, dtype: object
772 First Name                        Lillian
Gender                             Female
Start Date                      8/14/2009
Last Login Time                   5:41 AM
Salary                             113554
Bonus %                            18.018
Senior Management                    True
Team                 Business Development
Name: 772, dtype: object
773 First Name                  NaN
Gender                     Male
Start Date           10/24/1986
Last Login Time         9:23 AM
Salary                    47176
Bonus %                  10.736
Senior Management           NaN
Team                    Finance
Name: 773, dtype: object
774 First Name                 NaN
Gender                  Female
Start Date           6/18/2000
Last Login Time        7:36 AM
Salary                  106428
Bonus %                 10.867
Senior Management          NaN
Team                       NaN
Name: 774, dtype: object
775 First Name                Rose
Gender                  Female
Start Date           11/3/1999
Last Login Time        9:06 AM
Salary                   75181
Bonus %                   6.06
Senior Management         True

827 First Name               Jesse
Gender                     NaN
Start Date           7/16/2014
Last Login Time        2:24 AM
Salary                   98811
Bonus %                  7.487
Senior Management        False
Team                     Legal
Name: 827, dtype: object
828 First Name             Cynthia
Gender                  Female
Start Date           7/12/2006
Last Login Time        8:55 AM
Salary                  149684
Bonus %                  7.864
Senior Management        False
Team                   Product
Name: 828, dtype: object
829 First Name                    Johnny
Gender                          Male
Start Date                 1/14/2007
Last Login Time              2:54 PM
Salary                         71383
Bonus %                        2.097
Senior Management               True
Team                 Human Resources
Name: 829, dtype: object
830 First Name                Michael
Gender                       Male
Start Date              8/31/2002
Last Login Time           1:20 AM
Salary                      81206
Bonus %                    19.908
Senior Management            True
Team                 Distribution
Name: 830, dtype: object
831 First Name             Kenneth
Gender                    Male
Start Date           1/15/2015
Last Login Time        2:41 PM
Salary                   69112
Bonus %                  7.588
Senior Management         True
Team                   Finance
Name: 831, dtype: object
832 First Name               Keith
Gender                    Male
Start Date           2/12/2003
Last Login Time        3:02 PM
Salary                  120672
Bonus %                 19.467
Senior Management        False
Team                     Legal
Name: 832, dtype: object
833 First Name                    Gerald
Gender                          Male
Start Date                 5/28/2010
Last Login Time             12:26 PM
Salary                         96511
Bonus %                        9.331
Senior Management              False
Team                 Human Resources
Name: 833, dtype: object
834 First Name                           Carl
Gender                                NaN
Start Date                      2/11/1982
Last Login Time                   7:54 AM
Salary                              49325
Bonus %                             2.071
Senior Management                    True
Team                 Business Development
Name: 834, dtype: object
835 First Name               Douglas
Gender                      Male
Start Date              8/4/2007
Last Login Time          5:23 AM
Salary                    132175
Bonus %                     2.28
Senior Management          False
Team                 Engineering
Name: 835, dtype: object
836 First Name             Carolyn
Gender                  Female
Start Date           3/17/2004
Last Login Time        6:38 AM
Salary                  118037
Bonus %                 13.492
Senior Management        False
Team                   Finance
Name: 836, dtype: object
837 First Name              Joseph
Gender                    Male
Start Date           5/23/1985
Last Login Time       10:16 PM
Salary                  139570
Bonus %                 15.804
Senior Management         True
Team                   Finance
Name: 837, dtype: object
838 First Name                  Billy
Gender                       Male
Start Date               4/6/2000
Last Login Time           3:14 PM
Salary                     115280
Bonus %                     9.153
Senior Management           False
Team                 Distribution
Name: 838, dtype: object
839 First Name                     Joyce
Gender                        Female
Start Date                 7/25/2001
Last Login Time              6:04 AM
Salary                         51065
Bonus %                       16.807
Senior Management              False
Team                 Human Resources
Name: 839, dtype: object
840 First Name                Lillian
Gender                     Female
Start Date              8/26/2002
Last Login Time           8:53 AM
Salary                     103854
Bonus %                     4.924
Senior Management            True
Team                 Distribution
Name: 840, dtype: object
841 First Name                           Ruby
Gender                             Female
Start Date                      8/13/2006
Last Login Time                   6:27 PM
Salary                              48354
Bonus %                            19.501
Senior Management                   False
Team                 Business Development
Name: 841, dtype: object
842 First Name             Sandra
Gender                 Female
Start Date           2/7/1998
Last Login Time      12:39 PM
Salary                 132327
Bonus %                19.264
Senior Management       False
Team                  Product
Name: 842, dtype: object
843 First Name              Louise
Gender                  Female
Start Date           2/26/1982
Last Login Time        1:03 AM
Salary                  106362
Bonus %                  8.965
Senior Management        False
Team                     Sales
Name: 843, dtype: object
844 First Name               Maria
Gender                     NaN
Start Date           6/19/1985
Last Login Time        1:48 AM
Salary                  148857
Bonus %                  8.738
Senior Management        False
Team                     Legal
Name: 844, dtype: object
845 First Name                    Brenda
Gender                        Female
Start Date                  1/3/1981
Last Login Time              6:01 PM
Salary                        131131
Bonus %                       11.682
Senior Management              False
Team                 Client Services
Name: 845, dtype: object
846 First Name                   Stephen
Gender                          Male
Start Date                 9/10/1990
Last Login Time             10:42 PM
Salary                        129663
Bonus %                       15.574
Senior Management              False
Team                 Human Resources
Name: 846, dtype: object
847 First Name             Nicole
Gender                    NaN
Start Date           5/2/1981
Last Login Time      12:03 PM
Salary                  41449
Bonus %                 4.707
Senior Management       False
Team                  Finance
Name: 847, dtype: object
848 First Name              Bobby
Gender                   Male
Start Date           6/5/1984
Last Login Time       7:40 AM
Salary                  93368
Bonus %                  2.88
Senior Management        True
Team                  Product
Name: 848, dtype: object
849 First Name             Ernest
Gender                   Male
Start Date           9/6/1997
Last Login Time       2:02 PM
Salary                  53335
Bonus %                 9.192
Senior Management       False
Team                  Product
Name: 849, dtype: object
850 First Name            Charles
Gender                   Male
Start Date           9/3/1997
Last Login Time      10:04 AM
Salary                 148291
Bonus %                 6.002
Senior Management       False
Team                      NaN
Name: 850, dtype: object
851 First Name               Bobby
Gender                    Male
Start Date           8/19/1996
Last Login Time        1:16 AM
Salary                  147842
Bonus %                 16.158
Senior Management         True
Team                       NaN
Name: 851, dtype: object
852 First Name                          Diana
Gender                             Female
Start Date                     11/19/2004
Last Login Time                   8:47 AM
Salary                             105066
Bonus %                            17.343
Senior Management                    True
Team                 Business Development
Name: 852, dtype: object
853 First Name            Mildred
Gender                 Female
Start Date           4/6/2007
Last Login Time      10:06 PM
Salary                 139284
Bonus %                 11.39
Senior Management        True
Team                      NaN
Name: 853, dtype: object
854 First Name               Harry
Gender                    Male
Start Date           2/10/1985
Last Login Time        7:46 PM
Salary                   63046
Bonus %                 10.411
Senior Management        False
Team                   Finance
Name: 854, dtype: object
855 First Name              Phillip
Gender                      NaN
Start Date           10/20/2003
Last Login Time        11:09 AM
Salary                    89700
Bonus %                   2.277
Senior Management          True
Team                        NaN
Name: 855, dtype: object
856 First Name              Bonnie
Gender                     NaN
Start Date           1/18/2006
Last Login Time        6:52 PM
Salary                  108946
Bonus %                 12.211
Senior Management        False
Team                   Finance
Name: 856, dtype: object
857 First Name               Marie
Gender                  Female
Start Date           12/8/1993
Last Login Time        6:28 PM
Salary                   98406
Bonus %                  7.943
Senior Management         True
Team                   Product
Name: 857, dtype: object
858 First Name                      Sean
Gender                          Male
Start Date                 4/25/2006
Last Login Time              4:51 PM
Salary                        108581
Bonus %                        9.634
Senior Management              False
Team                 Human Resources
Name: 858, dtype: object
859 First Name                          Robin
Gender                             Female
Start Date                      10/1/2012
Last Login Time                   2:44 AM
Salary                              41808
Bonus %                            19.239
Senior Management                   False
Team                 Business Development
Name: 859, dtype: object
860 First Name             Phillip
Gender                    Male
Start Date           10/7/1984
Last Login Time       11:05 AM
Salary                   36837
Bonus %                  14.66
Senior Management        False
Team                 Marketing
Name: 860, dtype: object
861 First Name               Jerry
Gender                    Male
Start Date           3/26/1989
Last Login Time        4:15 AM
Salary                  140850
Bonus %                 18.855
Senior Management        False
Team                   Finance
Name: 861, dtype: object
862 First Name              Ronald
Gender                    Male
Start Date           5/25/1983
Last Login Time       10:05 AM
Salary                   50426
Bonus %                 18.536
Senior Management         True
Team                     Sales
Name: 862, dtype: object
863 First Name                   Phillip
Gender                          Male
Start Date                 5/15/1984
Last Login Time              6:15 AM
Salary                        134120
Bonus %                        6.842
Senior Management              False
Team                 Human Resources
Name: 863, dtype: object
864 First Name                 Ryan
Gender                     Male
Start Date           11/16/2012
Last Login Time         1:47 PM
Salary                    57292
Bonus %                    6.01
Senior Management         False
Team                        NaN
Name: 864, dtype: object
865 First Name               Karen
Gender                  Female
Start Date           8/29/1997
Last Login Time        4:56 PM
Salary                   80633
Bonus %                 16.306
Senior Management        False
Team                     Legal
Name: 865, dtype: object
866 First Name                    Bonnie
Gender                        Female
Start Date                 8/25/2004
Last Login Time              2:17 AM
Salary                        131943
Bonus %                       14.249
Senior Management              False
Team                 Client Services
Name: 866, dtype: object
867 First Name                Earl
Gender                    Male
Start Date           6/15/2013
Last Login Time        3:00 AM
Salary                   48046
Bonus %                  7.737
Senior Management        False
Team                 Marketing
Name: 867, dtype: object
868 First Name           Katherine
Gender                  Female
Start Date           8/18/2013
Last Login Time        3:58 PM
Salary                   97443
Bonus %                 13.657
Senior Management        False
Team                   Product
Name: 868, dtype: object
869 First Name                        Matthew
Gender                               Male
Start Date                       8/3/1995
Last Login Time                   5:39 AM
Salary                             135352
Bonus %                             7.986
Senior Management                    True
Team                 Business Development
Name: 869, dtype: object
870 First Name              Cynthia
Gender                      NaN
Start Date           11/19/1996
Last Login Time        10:40 PM
Salary                   107816
Bonus %                  18.751
Senior Management         False
Team                  Marketing
Name: 870, dtype: object
871 First Name                Gerald
Gender                      Male
Start Date             3/29/2003
Last Login Time         10:37 AM
Salary                     96329
Bonus %                    2.469
Senior Management           True
Team                 Engineering
Name: 871, dtype: object
872 First Name                         Brenda
Gender                             Female
Start Date                      1/18/2015
Last Login Time                   4:39 PM
Salary                              73749
Bonus %                            19.332
Senior Management                   False
Team                 Business Development
Name: 872, dtype: object
873 First Name              Jason
Gender                   Male
Start Date           5/1/1998
Last Login Time       6:05 PM
Salary                  75607
Bonus %                 4.299
Senior Management        True
Team                    Sales
Name: 873, dtype: object
874 First Name                   Melissa
Gender                        Female
Start Date                  9/8/1994
Last Login Time              4:11 AM
Salary                         98858
Bonus %                        3.525
Senior Management               True
Team                 Human Resources
Name: 874, dtype: object
875 First Name               Beverly
Gender                    Female
Start Date             4/11/1998
Last Login Time          2:27 PM
Salary                     76485
Bonus %                    9.212
Senior Management           True
Team                 Engineering
Name: 875, dtype: object
876 First Name               Terry
Gender                     NaN
Start Date           9/11/1992
Last Login Time        4:41 PM
Salary                   41238
Bonus %                  8.219
Senior Management        False
Team                 Marketing
Name: 876, dtype: object
877 First Name                       NaN
Gender                          Male
Start Date                  9/5/1980
Last Login Time              7:36 AM
Salary                        114896
Bonus %                       13.823
Senior Management                NaN
Team                 Client Services
Name: 877, dtype: object
878 First Name             Jacqueline
Gender                     Female
Start Date              5/25/2003
Last Login Time           7:13 PM
Salary                     125418
Bonus %                     8.064
Senior Management           False
Team                 Distribution
Name: 878, dtype: object
879 First Name                       Amy
Gender                        Female
Start Date                 5/20/2009
Last Login Time              6:26 AM
Salary                         75415
Bonus %                       19.132
Senior Management              False
Team                 Client Services
Name: 879, dtype: object
880 First Name              Robert
Gender                     NaN
Start Date           5/25/2007
Last Login Time        3:17 AM
Salary                   90998
Bonus %                  8.382
Senior Management        False
Team                   Finance
Name: 880, dtype: object
881 First Name                Ruby
Gender                  Female
Start Date           1/28/1980
Last Login Time       11:08 PM
Salary                  142868
Bonus %                  6.318
Senior Management        False
Team                 Marketing
Name: 881, dtype: object
882 First Name                   Sara
Gender                        NaN
Start Date             11/18/2014
Last Login Time           2:47 PM
Salary                     135990
Bonus %                    14.344
Senior Management            True
Team                 Distribution
Name: 882, dtype: object
883 First Name              Kathryn
Gender                   Female
Start Date           10/27/1995
Last Login Time         3:39 PM
Salary                    57300
Bonus %                  18.015
Senior Management         False
Team                  Marketing
Name: 883, dtype: object
884 First Name                 Lisa
Gender                   Female
Start Date           10/17/2003
Last Login Time         1:42 PM
Salary                    73706
Bonus %                   18.53
Senior Management         False
Team                    Finance
Name: 884, dtype: object
885 First Name                Juan
Gender                    Male
Start Date           10/6/1993
Last Login Time        8:52 AM
Salary                   85871
Bonus %                   9.16
Senior Management        False
Team                   Product
Name: 885, dtype: object
886 First Name             Anthony
Gender                    Male
Start Date           1/30/2014
Last Login Time        9:04 PM
Salary                   96795
Bonus %                 14.837
Senior Management        False
Team                     Sales
Name: 886, dtype: object
887 First Name               David
Gender                    Male
Start Date           12/5/2009
Last Login Time        8:48 AM
Salary                   92242
Bonus %                 15.407
Senior Management        False
Team                     Legal
Name: 887, dtype: object
888 First Name             Marilyn
Gender                  Female
Start Date           10/8/2007
Last Login Time       12:32 AM
Salary                  115149
Bonus %                 11.934
Senior Management         True
Team                     Legal
Name: 888, dtype: object
889 First Name           Margaret
Gender                 Female
Start Date           1/4/2001
Last Login Time       3:07 AM
Salary                 126924
Bonus %                 1.552
Senior Management        True
Team                  Finance
Name: 889, dtype: object
890 First Name                  NaN
Gender                     Male
Start Date           11/24/2015
Last Login Time         3:11 AM
Salary                   145329
Bonus %                     7.1
Senior Management           NaN
Team                    Finance
Name: 890, dtype: object
891 First Name             Timothy
Gender                    Male
Start Date           8/25/1991
Last Login Time       10:37 AM
Salary                   92587
Bonus %                  8.475
Senior Management        False
Team                   Finance
Name: 891, dtype: object
892 First Name              Brandon
Gender                     Male
Start Date           10/23/1995
Last Login Time        12:04 PM
Salary                    60263
Bonus %                   2.709
Senior Management         False
Team                      Sales
Name: 892, dtype: object
893 First Name                          Frank
Gender                               Male
Start Date                      7/27/2013
Last Login Time                   4:32 PM
Salary                              91406
Bonus %                             5.681
Senior Management                    True
Team                 Business Development
Name: 893, dtype: object
894 First Name                Betty
Gender                   Female
Start Date           11/19/2002
Last Login Time        10:40 AM

Name: 941, dtype: object
942 First Name                 Lori
Gender                   Female
Start Date           11/20/2015
Last Login Time         1:15 PM
Salary                    75498
Bonus %                   6.537
Senior Management          True
Team                  Marketing
Name: 942, dtype: object
943 First Name                 Wayne
Gender                      Male
Start Date              9/8/2006
Last Login Time         11:09 AM
Salary                     67471
Bonus %                    2.728
Senior Management          False
Team                 Engineering
Name: 943, dtype: object
944 First Name                Kenneth
Gender                       Male
Start Date              5/10/2006
Last Login Time           8:24 AM
Salary                     101914
Bonus %                     1.905
Senior Management            True
Team                 Distribution
Name: 944, dtype: object
945 First Name                 Gerald
Gender                        NaN
Start Date              4/15/1989
Last Login Time          12:44 PM
Salary                      93712
Bonus %                    17.426
Senior Management            True
Team                 Distribution
Name: 945, dtype: object
946 First Name                    NaN
Gender                     Female
Start Date              9/15/1985
Last Login Time           1:50 AM
Salary                     133472
Bonus %                    16.941
Senior Management             NaN
Team                 Distribution
Name: 946, dtype: object
947 First Name                 NaN
Gender                    Male
Start Date           7/30/2012
Last Login Time        3:07 PM
Salary                  107351
Bonus %                  5.329
Senior Management          NaN
Team                 Marketing
Name: 947, dtype: object
948 First Name                Ashley
Gender                    Female
Start Date             3/31/2006
Last Login Time          1:24 PM
Salary                    142410
Bonus %                   11.048
Senior Management           True
Team                 Engineering
Name: 948, dtype: object
949 First Name                          Scott
Gender                               Male
Start Date                      8/20/2011
Last Login Time                   8:08 AM
Salary                              37385
Bonus %                             8.226
Senior Management                    True
Team                 Business Development
Name: 949, dtype: object
950 First Name                          Paula
Gender                             Female
Start Date                      5/21/1983
Last Login Time                  11:42 AM
Salary                              58423
Bonus %                            10.833
Senior Management                   False
Team                 Business Development
Name: 950, dtype: object
951 First Name                 NaN
Gender                  Female
Start Date           9/14/2010
Last Login Time        5:19 AM
Salary                  143638
Bonus %                  9.662
Senior Management          NaN
Team                       NaN
Name: 951, dtype: object
952 First Name                    Teresa
Gender                        Female
Start Date                 1/22/2013
Last Login Time              3:17 PM
Salary                        113425
Bonus %                       11.907
Senior Management               True
Team                 Human Resources
Name: 952, dtype: object
953 First Name               Randy
Gender                    Male
Start Date           2/25/2012
Last Login Time        5:33 AM
Salary                   57266
Bonus %                 14.077
Senior Management        False
Team                   Product
Name: 953, dtype: object
954 First Name                 Joe
Gender                    Male
Start Date           1/19/1980
Last Login Time        4:06 PM
Salary                  119667
Bonus %                  1.148
Senior Management         True
Team                   Finance
Name: 954, dtype: object
955 First Name               Sarah
Gender                  Female
Start Date           8/17/2014
Last Login Time       11:08 PM
Salary                  127118
Bonus %                 11.176
Senior Management        False
Team                     Legal
Name: 955, dtype: object
956 First Name               Beverly
Gender                    Female
Start Date            10/17/1986
Last Login Time         12:51 AM
Salary                     80838
Bonus %                    8.115
Senior Management          False
Team                 Engineering
Name: 956, dtype: object
957 First Name            Jeffrey
Gender                   Male
Start Date           2/3/1984
Last Login Time       1:26 PM
Salary                  70990
Bonus %                15.901
Senior Management        True
Team                    Sales
Name: 957, dtype: object
958 First Name                Gloria
Gender                    Female
Start Date            10/24/1987
Last Login Time          4:43 AM
Salary                     39833
Bonus %                    9.631
Senior Management          False
Team                 Engineering
Name: 958, dtype: object
959 First Name                         Albert
Gender                               Male
Start Date                      9/19/1992
Last Login Time                   2:35 AM
Salary                              45094
Bonus %                              5.85
Senior Management                    True
Team                 Business Development
Name: 959, dtype: object
960 First Name                        Stephen
Gender                               Male
Start Date                     10/29/1989
Last Login Time                  11:34 PM
Salary                              93997
Bonus %                            18.093
Senior Management                    True
Team                 Business Development
Name: 960, dtype: object
961 First Name             Antonio
Gender                     NaN
Start Date           6/18/1989
Last Login Time        9:37 PM
Salary                  103050
Bonus %                   3.05
Senior Management        False
Team                     Legal
Name: 961, dtype: object
962 First Name            Jonathan
Gender                    Male
Start Date           8/21/2013
Last Login Time       12:45 AM
Salary                  121797
Bonus %                 16.923
Senior Management        False
Team                   Product
Name: 962, dtype: object
963 First Name                 Ann
Gender                  Female
Start Date           9/23/1994
Last Login Time       11:15 AM
Salary                   89443
Bonus %                  17.94
Senior Management         True
Team                     Sales
Name: 963, dtype: object
964 First Name              Bruce
Gender                   Male
Start Date           5/7/1980
Last Login Time       8:00 PM
Salary                  35802
Bonus %                12.391
Senior Management        True
Team                    Sales
Name: 964, dtype: object
965 First Name                 Catherine
Gender                        Female
Start Date                 9/25/1989
Last Login Time              1:31 AM
Salary                         68164
Bonus %                       18.393
Senior Management              False
Team                 Client Services
Name: 965, dtype: object
966 First Name                     Louis
Gender                          Male
Start Date                 8/16/2011
Last Login Time              5:19 PM
Salary                         93022
Bonus %                        9.146
Senior Management               True
Team                 Human Resources
Name: 966, dtype: object
967 First Name                Thomas
Gender                      Male
Start Date             3/12/2016
Last Login Time          3:10 PM
Salary                    105681
Bonus %                   19.572
Senior Management          False
Team                 Engineering
Name: 967, dtype: object
968 First Name                 Louise
Gender                     Female
Start Date              3/27/1995
Last Login Time          10:27 PM
Salary                      43050
Bonus %                    11.671
Senior Management           False
Team                 Distribution
Name: 968, dtype: object
969 First Name                 Linda
Gender                    Female
Start Date              2/4/2010
Last Login Time          8:49 PM
Salary                     44486
Bonus %                   17.308
Senior Management           True
Team                 Engineering
Name: 969, dtype: object
970 First Name              Alice
Gender                 Female
Start Date           9/3/1988
Last Login Time       8:54 PM
Salary                  63571
Bonus %                15.397
Senior Management        True
Team                  Product
Name: 970, dtype: object
971 First Name                        Patrick
Gender                               Male
Start Date                     12/30/2002
Last Login Time                   2:01 AM
Salary                              75423
Bonus %                             5.368
Senior Management                    True
Team                 Business Development
Name: 971, dtype: object
972 First Name              Victor
Gender                     NaN
Start Date           7/28/2006
Last Login Time        2:49 PM
Salary                   76381
Bonus %                 11.159
Senior Management         True
Team                     Sales
Name: 972, dtype: object
973 First Name                        Russell
Gender                               Male
Start Date                      5/10/2013
Last Login Time                  11:08 PM
Salary                             137359
Bonus %                            11.105
Senior Management                   False
Team                 Business Development
Name: 973, dtype: object
974 First Name                     Harry
Gender                          Male
Start Date                 8/30/2011
Last Login Time              6:31 PM
Salary                         67656
Bonus %                       16.455
Senior Management               True
Team                 Client Services
Name: 974, dtype: object
975 First Name              Susan
Gender                 Female
Start Date           4/7/1995
Last Login Time      10:05 PM
Salary                  92436
Bonus %                12.467
Senior Management       False
Team                    Sales
Name: 975, dtype: object
976 First Name               Denise
Gender                   Female
Start Date           10/19/1992
Last Login Time         5:42 AM
Salary                   137954
Bonus %                   4.195
Senior Management          True
Team                      Legal
Name: 976, dtype: object
977 First Name               Sarah
Gender                  Female
Start Date           12/4/1995
Last Login Time        9:16 AM
Salary                  124566
Bonus %                  5.949
Senior Management        False
Team                   Product
Name: 977, dtype: object
978 First Name                      Sean
Gender                          Male
Start Date                 1/17/1983
Last Login Time              2:23 PM
Salary                         66146
Bonus %                       11.178
Senior Management              False
Team                 Human Resources
Name: 978, dtype: object
979 First Name              Ernest
Gender                    Male
Start Date           7/20/2013
Last Login Time        6:41 AM
Salary                  142935
Bonus %                 13.198
Senior Management         True
Team                   Product
Name: 979, dtype: object
980 First Name              Kimberly
Gender                    Female
Start Date             1/26/2013
Last Login Time         12:57 AM
Salary                     46233
Bonus %                    8.862
Senior Management           True
Team                 Engineering
Name: 980, dtype: object
981 First Name               James
Gender                    Male
Start Date           1/15/1993
Last Login Time        5:19 PM
Salary                  148985
Bonus %                  19.28
Senior Management        False
Team                     Legal
Name: 981, dtype: object
982 First Name                      Rose
Gender                        Female
Start Date                  4/6/1982
Last Login Time             10:43 AM
Salary                         91411
Bonus %                        8.639
Senior Management               True
Team                 Human Resources
Name: 982, dtype: object
983 First Name                  John
Gender                      Male
Start Date            12/23/1982
Last Login Time         10:35 PM
Salary                    146907
Bonus %                   11.738
Senior Management          False
Team                 Engineering
Name: 983, dtype: object
984 First Name                 Maria
Gender                    Female
Start Date            10/15/2011
Last Login Time          4:53 PM
Salary                     43455
Bonus %                    13.04
Senior Management          False
Team                 Engineering
Name: 984, dtype: object
985 First Name             Stephen
Gender                     NaN
Start Date           7/10/1983
Last Login Time        8:10 PM
Salary                   85668
Bonus %                  1.909
Senior Management        False
Team                     Legal
Name: 985, dtype: object
986 First Name                Donna
Gender                   Female
Start Date           11/26/1982
Last Login Time         7:04 AM
Salary                    82871
Bonus %                  17.999
Senior Management         False
Team                  Marketing
Name: 986, dtype: object
987 First Name              Gloria
Gender                  Female
Start Date           12/8/2014
Last Login Time        5:08 AM
Salary                  136709
Bonus %                 10.331
Senior Management         True
Team                   Finance
Name: 987, dtype: object
988 First Name                     Alice
Gender                        Female
Start Date                 10/5/2004
Last Login Time              9:34 AM
Salary                         47638
Bonus %                       11.209
Senior Management              False
Team                 Human Resources
Name: 988, dtype: object
989 First Name              Justin
Gender                     NaN
Start Date           2/10/1991
Last Login Time        4:58 PM
Salary                   38344
Bonus %                  3.794
Senior Management        False
Team                     Legal
Name: 989, dtype: object
990 First Name                     Robin
Gender                        Female
Start Date                 7/24/1987
Last Login Time              1:35 PM
Salary                        100765
Bonus %                       10.982
Senior Management               True
Team                 Client Services
Name: 990, dtype: object
991 First Name                Rose
Gender                  Female
Start Date           8/25/2002
Last Login Time        5:12 AM
Salary                  134505
Bonus %                 11.051
Senior Management         True
Team                 Marketing
Name: 991, dtype: object
992 First Name              Anthony
Gender                     Male
Start Date           10/16/2011
Last Login Time         8:35 AM
Salary                   112769
Bonus %                  11.625
Senior Management          True
Team                    Finance
Name: 992, dtype: object
993 First Name                  Tina
Gender                    Female
Start Date             5/15/1997
Last Login Time          3:53 PM
Salary                     56450
Bonus %                    19.04
Senior Management           True
Team                 Engineering
Name: 993, dtype: object
994 First Name              George
Gender                    Male
Start Date           6/21/2013
Last Login Time        5:47 PM
Salary                   98874
Bonus %                  4.479
Senior Management         True
Team                 Marketing
Name: 994, dtype: object
995 First Name                  Henry
Gender                        NaN
Start Date             11/23/2014
Last Login Time           6:09 AM
Salary                     132483
Bonus %                    16.655
Senior Management           False
Team                 Distribution
Name: 995, dtype: object
996 First Name             Phillip
Gender                    Male
Start Date           1/31/1984
Last Login Time        6:30 AM
Salary                   42392
Bonus %                 19.675
Senior Management        False
Team                   Finance
Name: 996, dtype: object
997 First Name             Russell
Gender                    Male
Start Date           5/20/2013
Last Login Time       12:39 PM
Salary                   96914
Bonus %                  1.421
Senior Management        False
Team                   Product
Name: 997, dtype: object
998 First Name                          Larry
Gender                               Male
Start Date                      4/20/2013
Last Login Time                   4:45 PM
Salary                              60500
Bonus %                            11.985
Senior Management                   False
Team                 Business Development
Name: 998, dtype: object
999 First Name              Albert
Gender                    Male
Start Date           5/15/2012
Last Login Time        6:24 PM
Salary                  129949
Bonus %                 10.169
Senior Management         True
Team                     Sales
Name: 999, dtype: object

In [18]:
for index, row in emp.iterrows():
    print(index, row['First Name'], row['Gender'])

0 Douglas Male
1 Thomas Male
2 Maria Female
3 Jerry Male
4 Larry Male
5 Dennis Male
6 Ruby Female
7 nan Female
8 Angela Female
9 Frances Female
10 Louise Female
11 Julie Female
12 Brandon Male
13 Gary Male
14 Kimberly Female
15 Lillian Female
16 Jeremy Male
17 Shawn Male
18 Diana Female
19 Donna Female
20 Lois nan
21 Matthew Male
22 Joshua nan
23 nan Male
24 John Male
25 nan Male
26 Craig Male
27 Scott nan
28 Terry Male
29 Benjamin Male
30 Christina Female
31 Joyce nan
32 nan Male
33 Jean Female
34 Jerry Male
35 Theresa Female
36 Rachel Female
37 Linda Female
38 Stephanie Female
39 nan Male
40 Michael Male
41 Christine nan
42 Beverly Female
43 Marilyn Female
44 Cynthia Female
45 Roger Male
46 Bruce Male
47 Kathy Female
48 Clarence Male
49 Chris nan
50 Nancy Female
51 nan nan
52 Todd Male
53 Alan nan
54 Sara Female
55 Karen Female
56 Carl Male
57 Henry Male
58 Theresa Female
59 Irene Female
60 Paula nan
61 Denise Female
62 nan Female
63 Matthew Male
64 Kathleen nan
65 Steve Male
66 Nancy Female
67 Rachel Female
68 Jose Male
69 Irene nan
70 Todd nan
71 Johnny Male
72 Bobby Male
73 Frances Female
74 Thomas Male
75 Bonnie Female
76 Margaret Female
77 Charles Male
78 Robin Female
79 Bonnie Female
80 Gerald nan
81 Christopher Male
82 Steven Male
83 Shawn Male
84 Doris Female
85 Jeremy Male
86 Annie nan
87 Annie Female
88 Donna Female
89 Janice Female
90 Janice nan
91 James nan
92 Linda Female
93 Virginia nan
94 Harry Male
95 Heather Female
96 Cynthia Female
97 Laura nan
98 Tina Female
99 Harold Male
100 Melissa Female
101 Aaron Male
102 Jack Male
103 Phyllis Female
104 John Male
105 Kathy Female
106 Paul Male
107 Steven Male
108 Russell nan
109 Christopher Male
110 Shirley Female
111 Bonnie Female
112 Willie Male
113 Tina Female
114 Ashley Female
115 Pamela Female
116 nan Male
117 Steven Male
118 Andrea Female
119 Paul Male
120 Peter Male
121 Kathleen nan
122 Christina Female
123 Helen Female
124 Marilyn Female
125 Patricia Female
126 Michelle Female
127 William Male
128 Kenneth Male
129 Antonio Male
130 Shirley Female
131 Rebecca Female
132 Carlos Male
133 Lois Female
134 Carolyn Female
135 Gloria Female
136 Henry Male
137 Adam Male
138 Ashley Female
139 nan Female
140 Shirley Female
141 Adam Male
142 Elizabeth Female
143 Teresa nan
144 Nicole nan
145 Jennifer Female
146 Patricia Female
147 Philip Male
148 Patrick nan
149 nan Female
150 Sean Male
151 Brandon nan
152 Ruth Female
153 Victor nan
154 Rebecca Female
155 Marie Female
156 Howard Male
157 nan Female
158 Norma Female
159 James nan
160 Kathy Female
161 Marilyn nan
162 Arthur Male
163 Terry Male
164 Mary Female
165 nan Female
166 nan Female
167 Christopher Male
168 Peter nan
169 Michelle Female
170 Irene Female
171 Patrick Male
172 Sara Female
173 Lillian Female
174 nan nan
175 Willie Male
176 Victor Male
177 Wayne Male
178 Jane Female
179 Jessica Female
180 Mark Male
181 Randy Male
182 Lillian Female
183 Ruth nan
184 Jerry Male
185 Sandra Female
186 nan Female
187 Roger Male
188 Charles Male
189 Clarence Male
190 Carol Female
191 Lois Female
192 Barbara nan
193 Rebecca Female
194 Irene Female
195 Ronald Male
196 Steven Male
197 Carolyn Female
198 Maria Female
199 Jonathan Male
200 Gary Male
201 Kimberly Female
202 Roger Male
203 Diana Female
204 Willie Male
205 Brandon Male
206 Patricia Female
207 Katherine Female
208 Jonathan Male
209 Emily Female
210 Ruth Female
211 Linda Female
212 Lisa Female
213 Evelyn Female
214 Julie Female
215 Mary Female
216 Matthew Male
217 Douglas Male
218 Gregory nan
219 Billy Male
220 nan Female
221 Gregory Male
222 Jason Male
223 Daniel Male
224 Sarah Female
225 Harry Male
226 Kathy Female
227 Todd Male
228 Bobby Male
229 Jeremy Male
230 George nan
231 Diane Female
232 Marilyn Female
233 Kathryn Female
234 Irene Female
235 Norma Female
236 Laura Female
237 Cheryl Female
238 Kevin Male
239 Lillian nan
240 Phyllis nan
241 Walter Male
242 Robert Male
243 Jimmy Male
244 Clarence Male
245 Victor Male
246 Fred nan
247 Brenda nan
248 Justin Male
249 Betty Female
250 Randy nan
251 Sharon nan
252 Ralph Male
253 nan nan
254 Edward Male
255 Denise Female
256 Debra Female
257 nan Male
258 Michael Male
259 Henry Male
260 Gloria Female
261 Marie Female
262 Anne Female
263 Sarah nan
264 Stephanie Female
265 Roy Male
266 nan Female
267 nan Male
268 Irene Female
269 nan Female
270 Thomas Male
271 Frank nan
272 Fred Male
273 Nicholas Male
274 Howard Male
275 Debra Female
276 Christine Female
277 Brenda nan
278 Betty Female
279 Ruby Female
280 Kevin Male
281 Arthur Male
282 Carl nan
283 Todd Male
284 Brenda Female
285 Judy Female
286 Todd Male
287 Lois Female
288 Walter nan
289 Jessica Female
290 Jeremy Male
291 Tammy Female
292 Anne Female
293 Jesse Male
294 Virginia Female
295 Jesse Male
296 Jeremy nan
297 Daniel Male
298 Patrick nan
299 Emily Female
300 Alan Male
301 James Male
302 Adam Male
303 Joan nan
304 Jeremy Male
305 Margaret Female
306 Mark Male
307 Marilyn Female
308 Cheryl Female
309 Benjamin Male
310 Harold Male
311 Ernest nan
312 Gerald Male
313 Judy Female
314 Bobby Male
315 Bobby nan
316 Marie Female
317 Kathy Female
318 Roy Male
319 Jacqueline Female
320 nan Female
321 Julie Female
322 Douglas Male
323 Linda Female
324 Ruby Female
325 Russell Male
326 Jeffrey Male
327 Aaron Male
328 Samuel Male
329 nan Male
330 Randy Male
331 Evelyn Female
332 Fred Male
333 Shirley Female
334 Todd Male
335 Robert Male
336 Mark Male
337 Earl Male
338 Richard Male
339 Michael Male
340 Steven Male
341 Carlos Male
342 Marie Female
343 Ronald Male
344 Scott Male
345 Steven Male
346 James Male
347 Lori Female
348 Philip Male
349 Phyllis Female
350 Thomas nan
351 Cynthia Female
352 nan Male
353 nan Male
354 Elizabeth Female
355 Andrea Female
356 Judy Female
357 Russell Male
358 Scott Male
359 Sarah Female
360 Susan Female
361 Margaret Female
362 Joshua Male
363 Justin nan
364 Juan Male
365 Gloria nan
366 Jennifer nan
367 Edward Male
368 Marilyn Female
369 Mary Female
370 Linda Female
371 Larry Male
372 Albert Male
373 Kenneth Male
374 nan Female
375 Gregory nan
376 Brandon Male
377 Stephen Male
378 Russell Male
379 nan Female
380 Pamela nan
381 Scott Male
382 nan Female
383 Carlos Male
384 Jack Male
385 Debra Female
386 Phyllis Female
387 Robert Male
388 Gloria Female
389 Sharon nan
390 Barbara nan
391 Marilyn Female
392 Ralph Male
393 Harry nan
394 Robin Female
395 Kathy Female
396 Rose Female
397 Clarence Male
398 Doris Female
399 Kathryn Female
400 Billy nan
401 Norma Female
402 Richard nan
403 Craig Male
404 Sarah nan
405 Sharon Female
406 Mary Female
407 Steve nan
408 Joe Male
409 Jeremy Male
410 Ernest Male
411 Kevin Male
412 Jacqueline Female
413 Johnny Male
414 Gary Male
415 Shirley nan
416 nan Male
417 Sarah nan
418 Julia Female
419 Dorothy Female
420 Justin Male
421 Kevin Male
422 Victor Male
423 Deborah Female
424 Matthew nan
425 Alice Female
426 Todd Male
427 Frank Male
428 Christopher Male
429 Rose Female
430 Andrea Female
431 Charles Male
432 Jessica nan
433 Wanda Female
434 Joyce Female
435 Billy Male
436 Kathryn Female
437 Denise Female
438 Jason Male
439 Nicholas Male
440 Aaron Male
441 Louise Female
442 Julie Female
443 Kathy Female
444 nan Male
445 Chris Male
446 Cheryl Female
447 Gregory Male
448 Wayne Male
449 Beverly Female
450 Willie Male
451 Terry nan
452 Scott Male
453 Annie Female
454 nan Male
455 Ruth Female
456 Deborah nan
457 Patricia Female
458 Albert Male
459 Charles nan
460 Tina Female
461 Jeremy Male
462 Craig Male
463 Jose Male
464 Lawrence Male
465 Helen Female
466 Walter Male
467 Amy Female
468 Janice Female
469 Stephen Male
470 Ryan Male
471 Sharon Female
472 Joshua Male
473 Clarence Male
474 Jonathan Male
475 Stephanie Female
476 Kathy Female
477 Albert Male
478 Michael Male
479 Richard Male
480 Amy Female
481 nan Female
482 Beverly nan
483 nan Female
484 Joe Male
485 Ashley Female
486 Howard Male
487 Cheryl Female
488 Robert Male
489 Sharon Female
490 Judith Female
491 Nicholas nan
492 Jerry Male
493 Craig Male
494 Barbara Female
495 Eugene Male
496 Johnny Male
497 Benjamin Male
498 Diana Female
499 Barbara nan
500 Christine Female
501 Sean Male
502 Sarah Female
503 Roger Male
504 nan Female
505 nan Male
506 Donald Male
507 Clarence Male
508 Scott Male
509 Ann Female
510 Frank Male
511 Joe Male
512 Wanda Female
513 Jimmy Male
514 Amy nan
515 Larry Male
516 Gloria Female
517 Ruth Female
518 Diana Female
519 Raymond Male
520 Peter Male
521 nan nan
522 Catherine Female

523 Diane Female
524 Peter nan
525 Steve Male
526 Barbara Female
527 Helen nan
528 Jimmy nan
529 Christopher Male
530 Kathleen Female
531 Virginia Female
532 Lisa Female
533 Earl Male
534 Gerald nan
535 Louise Female
536 Clarence Male
537 Cynthia Female
538 Adam Male
539 Justin Male
540 nan Female
541 Ruby Female
542 Amanda Female
543 Anna Female
544 Roger Male
545 Julie nan
546 Joseph Male
547 Evelyn Female
548 Janice Female
549 Sara Female
550 Gregory Male
551 Philip Male
552 Barbara Female
553 Amanda Female
554 Phyllis nan
555 Anne Female
556 Arthur Male
557 Jane Female
558 Linda Female
559 Ashley Female
560 Shawn Male
561 Kathleen Female
562 Sara nan
563 Randy Male
564 Andrew Male
565 Marilyn Female
566 Johnny Male
567 nan Female
568 Susan Female
569 Ruby Female
570 Kelly Female
571 Jonathan Male
572 Raymond Male
573 Kimberly Female
574 nan Female
575 John Male
576 Michael Male
577 Jerry Male
578 Amanda Female
579 Harold Male
580 Harry Male
581 Ernest Male
582 Harry Male
583 Diane Female
584 Jack Male
585 Shirley Female
586 Rose Female
587 Cheryl Female
588 Cynthia Female
589 Sandra Female
590 Andrea Female
591 Rachel Female
592 Justin Male
593 Marie Female
594 Louis Male
595 Nancy Female
596 Mark Male
597 Teresa Female
598 Frances Female
599 nan Female
600 Barbara nan
601 Christine nan
602 Bobby nan
603 Carl nan
604 Bruce Male
605 Rose Female
606 Mildred Female
607 nan Male
608 nan Female
609 Todd Male
610 Alan Male
611 Elizabeth nan
612 Julie nan
613 Teresa nan
614 Eric Male
615 Edward Male
616 Kimberly Female
617 Kathy Female
618 Peter Male
619 Beverly Female
620 Ralph Male
621 Justin Male
622 Irene Female
623 Irene Female
624 Jeremy Male
625 Cynthia Female
626 nan Female
627 Anne Female
628 nan nan
629 Debra Female
630 Michael Male
631 Jason nan
632 Rebecca Female
633 Andrea Female
634 Carl Male
635 Randy Male
636 Marilyn Female
637 Wayne Male
638 Frances Female
639 Amanda nan
640 Kathleen Female
641 Amanda Female
642 Amanda nan
643 Shawn Male
644 Katherine Female
645 Anna nan
646 Elizabeth Female
647 Donald Male
648 Gregory Male
649 Ruth Female
650 Cynthia Female
651 Deborah Female
652 Willie Male
653 Debra Female
654 Carl Male
655 Walter Male
656 Lisa Female
657 Rebecca Female
658 Jessica Female
659 Steve nan
660 Mary nan
661 Craig Male
662 Katherine Female
663 Andrea Female
664 Timothy Male
665 Anthony Male
666 Harold nan
667 Douglas nan
668 James Male
669 Joseph nan
670 Martha Female
671 Laura Female
672 Robert Male
673 Ralph Male
674 nan Male
675 Diane Female
676 Annie Female
677 Jacqueline Female
678 Brenda Female
679 Lori Female
680 Albert Male
681 Frank Male
682 Deborah Female
683 Robin nan
684 Alice Female
685 nan Male
686 Paul nan
687 nan Male
688 Brian Male
689 Julie nan
690 Bruce Male
691 Joan Female
692 Harold Male
693 Alice Female
694 Barbara Female
695 Sarah Female
696 Samuel Male
697 nan Male
698 Barbara nan
699 Amy nan
700 Frank Male
701 Robin nan
702 Debra Female
703 Brandon nan
704 Thomas Male
705 Harry Male
706 Todd Male
707 Patricia Female
708 Steve Male
709 nan Male
710 Edward Male
711 Karen Female
712 Martin nan
713 Ann Female
714 Jonathan Male
715 Peter Male
716 Eric Male
717 Jason nan
718 Terry Male
719 John Male
720 Marie Female
721 Harold Male
722 Joshua Male
723 Brandon nan
724 Andrea Female
725 Jeremy Male
726 Daniel Male
727 Roy Male
728 Dorothy Female
729 Steven Male
730 Nicole Female
731 Ann Female
732 Henry Male
733 nan Male
734 nan Female
735 Barbara Female
736 Judy Female
737 Lawrence Male
738 Joseph Male
739 Carlos Male
740 Russell nan
741 Jane Female
742 Martin Male
743 Steven Male
744 Judy nan
745 James Male
746 Gloria Female
747 Ernest Male
748 Martha Female
749 Janet nan
750 Louis nan
751 Tina Female
752 Henry Male
753 Antonio Male
754 Lisa Female
755 Denise Female
756 Stephen Male
757 Benjamin Male
758 Carl nan
759 Ruth Female
760 Shawn Male
761 Jennifer Female
762 Terry Male
763 Jacqueline Female
764 Roger Male
765 Alice nan
766 Justin Male
767 Janet Female
768 Robin Female
769 Samuel nan
770 Katherine Female
771 Peter Male
772 Lillian Female
773 nan Male
774 nan Female
775 Rose Female
776 Bobby Male
777 Kimberly Female
778 Antonio Male
779 Doris Female
780 Steven Male
781 Lawrence Male
782 nan Male
783 nan nan
784 Stephanie Female
785 nan Female
786 Sandra Female
787 Kevin Male
788 Michelle nan
789 Lisa Female
790 Fred Male
791 Joseph Male
792 Anne nan
793 Andrea Female
794 Nicole Female
795 Theresa nan
796 Catherine Female
797 Rose Female
798 Lawrence Male
799 Raymond Male
800 Clarence Male
801 Ryan Male
802 Jane Female
803 Lois Female
804 Shawn Male
805 Thomas Male
806 Kathryn Female
807 Mary Female
808 Julie Female
809 George Male
810 Ralph Male
811 Judith Female
812 nan Male
813 Evelyn Female
814 Rachel Female
815 Maria nan
816 Kelly Female
817 Ruby Female
818 Ann Female
819 Kenneth Male
820 William Male
821 nan Female
822 Deborah Female
823 nan Male
824 Julia Female
825 Robert nan
826 nan nan
827 Jesse nan
828 Cynthia Female
829 Johnny Male
830 Michael Male
831 Kenneth Male
832 Keith Male
833 Gerald Male
834 Carl nan
835 Douglas Male
836 Carolyn Female
837 Joseph Male
838 Billy Male
839 Joyce Female
840 Lillian Female
841 Ruby Female
842 Sandra Female
843 Louise Female
844 Maria nan
845 Brenda Female
846 Stephen Male
847 Nicole nan
848 Bobby Male
849 Ernest Male
850 Charles Male
851 Bobby Male
852 Diana Female
853 Mildred Female
854 Harry Male
855 Phillip nan
856 Bonnie nan
857 Marie Female
858 Sean Male
859 Robin Female
860 Phillip Male
861 Jerry Male
862 Ronald Male
863 Phillip Male
864 Ryan Male
865 Karen Female
866 Bonnie Female
867 Earl Male
868 Katherine Female
869 Matthew Male
870 Cynthia nan
871 Gerald Male
872 Brenda Female
873 Jason Male
874 Melissa Female
875 Beverly Female
876 Terry nan
877 nan Male
878 Jacqueline Female
879 Amy Female
880 Robert nan
881 Ruby Female
882 Sara nan
883 Kathryn Female
884 Lisa Female
885 Juan Male
886 Anthony Male
887 David Male
888 Marilyn Female
889 Margaret Female
890 nan Male
891 Timothy Male
892 Brandon Male
893 Frank Male
894 Betty Female
895 Janice nan
896 Victor Male
897 Kenneth nan
898 Jane Female
899 Walter Male
900 Christina Female
901 Patricia Female
902 nan Male
903 Heather Female
904 Stephanie Female
905 Alice Female
906 Frances Female
907 Elizabeth Female
908 Janice Female
909 Donald Male
910 Melissa Female
911 Carl Male
912 Joe Male
913 Lois Female
914 Ann Female
915 Todd Male
916 Marilyn Female
917 Shawn Male
918 Ryan Male
919 Sean Male
920 Rose Female
921 George Male
922 Arthur Male
923 Irene nan
924 Deborah Female
925 nan Female
926 Judith Female
927 Philip Male
928 Jeffrey Male
929 Theresa Female
930 Nancy Female
931 Harold Male
932 Bonnie Female
933 Doris Female
934 Samuel Male
935 Alice Female
936 Maria Female
937 Aaron nan
938 Mark nan
939 Ralph nan
940 Andrew Male
941 William Male
942 Lori Female
943 Wayne Male
944 Kenneth Male
945 Gerald nan
946 nan Female
947 nan Male
948 Ashley Female
949 Scott Male
950 Paula Female
951 nan Female
952 Teresa Female
953 Randy Male
954 Joe Male
955 Sarah Female
956 Beverly Female
957 Jeffrey Male
958 Gloria Female
959 Albert Male
960 Stephen Male
961 Antonio nan
962 Jonathan Male
963 Ann Female
964 Bruce Male
965 Catherine Female
966 Louis Male
967 Thomas Male
968 Louise Female
969 Linda Female
970 Alice Female
971 Patrick Male
972 Victor nan
973 Russell Male
974 Harry Male
975 Susan Female
976 Denise Female
977 Sarah Female
978 Sean Male
979 Ernest Male
980 Kimberly Female
981 James Male
982 Rose Female
983 John Male
984 Maria Female
985 Stephen nan
986 Donna Female
987 Gloria Female
988 Alice Female
989 Justin nan
990 Robin Female
991 Rose Female
992 Anthony Male
993 Tina Female
994 George Male
995 Henry nan
996 Phillip Male
997 Russell Male
998 Larry Male
999 Albert Male

In [36]:
# importing pandas
import pandas as pd

In [37]:
# Creating new dataframe
initial_data = {'First_name': ['Ram', 'Mohan', 'Tina', 'Jeetu', 'Meera'],
                'Last_name': ['Kumar', 'Sharma', 'Ali', 'Gandhi', 'Kumari'],
                'Marks': [12, 52, 36, 85, 23] }
 
df = pd.DataFrame(initial_data, columns = ['First_name', 'Last_name', 'Marks'])

In [38]:
# Generate result using pandas
result = []
for value in df['Marks']:
    if value >= 33:
        result.append("Pass")
    elif value < 0 and value > 100:
        result.append("Invalid")
    else:
        result.append("Fail")
      
df["Result"] = result  
df

  First_name Last_name  Marks Result
0        Ram     Kumar     12   Fail
1      Mohan    Sharma     52   Pass
2       Tina       Ali     36   Pass
3      Jeetu    Gandhi     85   Pass
4      Meera    Kumari     23   Fail

In [39]:
for i in df['Marks']:
    print(i)

12
52
36
85
23

###### OR

In [40]:
df['Results'] = ['Pass' if m>=33 else 'Fail' for m in df['Marks']]
df

  First_name Last_name  Marks Result Results
0        Ram     Kumar     12   Fail    Fail
1      Mohan    Sharma     52   Pass    Pass
2       Tina       Ali     36   Pass    Pass
3      Jeetu    Gandhi     85   Pass    Pass
4      Meera    Kumari     23   Fail    Fail

In [41]:
df

  First_name Last_name  Marks Result Results
0        Ram     Kumar     12   Fail    Fail
1      Mohan    Sharma     52   Pass    Pass
2       Tina       Ali     36   Pass    Pass
3      Jeetu    Gandhi     85   Pass    Pass
4      Meera    Kumari     23   Fail    Fail

In [42]:
df['rank_marks']=df['Marks'].rank(method='dense', ascending=False)
df

  First_name Last_name  Marks Result Results  rank_marks
0        Ram     Kumar     12   Fail    Fail         5.0
1      Mohan    Sharma     52   Pass    Pass         2.0
2       Tina       Ali     36   Pass    Pass         3.0
3      Jeetu    Gandhi     85   Pass    Pass         1.0
4      Meera    Kumari     23   Fail    Fail         4.0

In [43]:
df_main=df[df['rank_marks']<3]

In [45]:
df_main.sort_values(by='rank_marks', inplace=True, ignore_index=True)

C:\Users\Shubham Khandelwal\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [46]:
df_main

  First_name Last_name  Marks Result Results  rank_marks
0      Jeetu    Gandhi     85   Pass    Pass         1.0
1      Mohan    Sharma     52   Pass    Pass         2.0

In [87]:
boston=pd.read_csv('Boston.csv')
boston.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [88]:
for index, row in boston.iterrows():
    boston.loc[index, 'Average Price Per Room']=row['medv']/row['rm']

In [94]:
pd.set_option('display.max_rows', None)
boston['Average Price Per Room']=boston['Average Price Per Room'].round(2)
boston

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv,Average Price Per Room
0,1,0.00632,18.0,2.31,0,0.5380,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,3.65
1,2,0.02731,0.0,7.07,0,0.4690,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,3.36
2,3,0.02729,0.0,7.07,0,0.4690,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,4.83
3,4,0.03237,0.0,2.18,0,0.4580,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,4.77
4,5,0.06905,0.0,2.18,0,0.4580,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,5.07
5,6,0.02985,0.0,2.18,0,0.4580,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7,4.46
6,7,0.08829,12.5,7.87,0,0.5240,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9,3.81
7,8,0.14455,12.5,7.87,0,0.5240,6.172,96.1,5.9505,5,311,15.2,396.90,19.15,27.1,4.39
8,9,0.21124,12.5,7.87,0,0.5240,5.631,100.0,6.0821,5,311,15.2,386.63,29.93,16.5,2.93
9,10,0.17004,12.5,7.87,0,0.5240,6.004,85.9,6.5921,5,311,15.2,386.71,17.10,18.9,3.15
10,11,0.22489,12.5,7.87,0,0.5240,6.377,94.3,6.3467,5,311,15.2,392.52,20.45,15.0,2.35
11,12,0.11747,12.5,7.87,0,0.5240,6.009,82.9,6.2267,5,311,15.2,396.90,13.27,18.9,3.15
12,13,0.09378,12.5,7.87,0,0.5240,5.889,39.0,5.4509,5,311,15.2,390.50,15.71,21.7,3.68
13,14,0.62976,0.0,8.14,0,0.5380,5.949,61.8,4.7075,4,307,21.0,396.90,8.26,20.4,3.43
14,15,0.63796,0.0,8.14,0,0.5380,6.096,84.5,4.4619,4,307,21.0,380.02,10.26,18.2,2.99
15,16,0.62739,0.0,8.14,0,0.5380,5.834,56.5,4.4986,4,307,21.0,395.62,8.47,19.9,3.41
16,17,1.05393,0.0,8.14,0,0.5380,5.935,29.3,4.4986,4,307,21.0,386.85,6.58,23.1,3.89
17,18,0.78420,0.0,8.14,0,0.5380,5.990,81.7,4.2579,4,307,21.0,386.75,14.67,17.5,2.92
18,19,0.80271,0.0,8.14,0,0.5380,5.456,36.6,3.7965,4,307,21.0,288.99,11.69,20.2,3.70
19,20,0.72580,0.0,8.14,0,0.5380,5.727,69.5,3.7965,4,307,21.0,390.95,11.28,18.2,3.18
20,21,1.25179,0.0,8.14,0,0.5380,5.570,98.1,3.7979,4,307,21.0,376.57,21.02,13.6,2.44
21,22,0.85204,0.0,8.14,0,0.5380,5.965,89.2,4.0123,4,307,21.0,392.53,13.83,19.6,3.29
22,23,1.23247,0.0,8.14,0,0.5380,6.142,91.7,3.9769,4,307,21.0,396.90,18.72,15.2,2.47
23,24,0.98843,0.0,8.14,0,0.5380,5.813,100.0,4.0952,4,307,21.0,394.54,19.88,14.5,2.49
24,25,0.75026,0.0,8.14,0,0.5380,5.924,94.1,4.3996,4,307,21.0,394.33,16.30,15.6,2.63
25,26,0.84054,0.0,8.14,0,0.5380,5.599,85.7,4.4546,4,307,21.0,303.42,16.51,13.9,2.48
26,27,0.67191,0.0,8.14,0,0.5380,5.813,90.3,4.6820,4,307,21.0,376.88,14.81,16.6,2.86
27,28,0.95577,0.0,8.14,0,0.5380,6.047,88.8,4.4534,4,307,21.0,306.38,17.28,14.8,2.45
28,29,0.77299,0.0,8.14,0,0.5380,6.495,94.4,4.4547,4,307,21.0,387.94,12.80,18.4,2.83
29,30,1.00245,0.0,8.14,0,0.5380,6.674,87.3,4.2390,4,307,21.0,380.23,11.98,21.0,3.15
30,31,1.13081,0.0,8.14,0,0.5380,5.713,94.1,4.2330,4,307,21.0,360.17,22.60,12.7,2.22
31,32,1.35472,0.0,8.14,0,0.5380,6.072,100.0,4.1750,4,307,21.0,376.73,13.04,14.5,2.39
32,33,1.38799,0.0,8.14,0,0.5380,5.950,82.0,3.9900,4,307,21.0,232.60,27.71,13.2,2.22
33,34,1.15172,0.0,8.14,0,0.5380,5.701,95.0,3.7872,4,307,21.0,358.77,18.35,13.1,2.30
34,35,1.61282,0.0,8.14,0,0.5380,6.096,96.9,3.7598,4,307,21.0,248.31,20.34,13.5,2.21
35,36,0.06417,0.0,5.96,0,0.4990,5.933,68.2,3.3603,5,279,19.2,396.90,9.68,18.9,3.19
36,37,0.09744,0.0,5.96,0,0.4990,5.841,61.4,3.3779,5,279,19.2,377.56,11.41,20.0,3.42
37,38,0.08014,0.0,5.96,0,0.4990,5.850,41.5,3.9342,5,279,19.2,396.90,8.77,21.0,3.59
38,39,0.17505,0.0,5.96,0,0.4990,5.966,30.2,3.8473,5,279,19.2,393.43,10.13,24.7,4.14
39,40,0.02763,75.0,2.95,0,0.4280,6.595,21.8,5.4011,3,252,18.3,395.63,4.32,30.8,4.67
40,41,0.03359,75.0,2.95,0,0.4280,7.024,15.8,5.4011,3,252,18.3,395.62,1.98,34.9,4.97
41,42,0.12744,0.0,6.91,0,0.4480,6.770,2.9,5.7209,3,233,17.9,385.41,4.84,26.6,3.93
42,43,0.14150,0.0,6.91,0,0.4480,6.169,6.6,5.7209,3,233,17.9,383.37,5.81,25.3,4.10
43,44,0.15936,0.0,6.91,0,0.4480,6.211,6.5,5.7209,3,233,17.9,394.46,7.44,24.7,3.98
44,45,0.12269,0.0,6.91,0,0.4480,6.069,40.0,5.7209,3,233,17.9,389.39,9.55,21.2,3.49
45,46,0.17142,0.0,6.91,0,0.4480,5.682,33.8,5.1004,3,233,17.9,396.90,10.21,19.3,3.40
46,47,0.18836,0.0,6.91,0,0.4480,5.786,33.3,5.1004,3,233,17.9,396.90,14.15,20.0,3.46
47,48,0.22927,0.0,6.91,0,0.4480,6.030,85.5,5.6894,3,233,17.9,392.74,18.80,16.6,2.75
48,49,0.25387,0.0,6.91,0,0.4480,5.399,95.3,5.8700,3,233,17.9,396.90,30.81,14.4,2.67
49,50,0.21977,0.0,6.91,0,0.4480,5.602,62.0,6.0877,3,233,17.9,396.90,16.20,19.4,3.46
50,51,0.08873,21.0,5.64,0,0.4390,5.963,45.7,6.8147,4,243,16.8,395.56,13.45,19.7,3.30
51,52,0.04337,21.0,5.64,0,0.4390,6.115,63.0,6.8147,4,243,16.8,393.97,9.43,20.5,3.35
52,53,0.05360,21.0,5.64,0,0.4390,6.511,21.1,6.8147,4,243,16.8,396.90,5.28,25.0,3.84
53,54,0.04981,21.0,5.64,0,0.4390,5.998,21.4,6.8147,4,243,16.8,396.90,8.43,23.4,3.90
54,55,0.01360,75.0,4.00,0,0.4100,5.888,47.6,7.3197,3,469,21.1,396.90,14.80,18.9,3.21
55,56,0.01311,90.0,1.22,0,0.4030,7.249,21.9,8.6966,5,226,17.9,395.93,4.81,35.4,4.88
56,57,0.02055,85.0,0.74,0,0.4100,6.383,35.7,9.1876,2,313,17.3,396.90,5.77,24.7,3.87
57,58,0.01432,100.0,1.32,0,0.4110,6.816,40.5,8.3248,5,256,15.1,392.90,3.95,31.6,4.64
58,59,0.15445,25.0,5.13,0,0.4530,6.145,29.2,7.8148,8,284,19.7,390.68,6.86,23.3,3.79
59,60,0.10328,25.0,5.13,0,0.4530,5.927,47.2,6.9320,8,284,19.7,396.90,9.22,19.6,3.31
60,61,0.14932,25.0,5.13,0,0.4530,5.741,66.2,7.2254,8,284,19.7,395.11,13.15,18.7,3.26
61,62,0.17171,25.0,5.13,0,0.4530,5.966,93.4,6.8185,8,284,19.7,378.08,14.44,16.0,2.68
62,63,0.11027,25.0,5.13,0,0.4530,6.456,67.8,7.2255,8,284,19.7,396.90,6.73,22.2,3.44
63,64,0.12650,25.0,5.13,0,0.4530,6.762,43.4,7.9809,8,284,19.7,395.58,9.50,25.0,3.70
64,65,0.01951,17.5,1.38,0,0.4161,7.104,59.5,9.2229,3,216,18.6,393.24,8.05,33.0,4.65
65,66,0.03584,80.0,3.37,0,0.3980,6.290,17.8,6.6115,4,337,16.1,396.90,4.67,23.5,3.74
66,67,0.04379,80.0,3.37,0,0.3980,5.787,31.1,6.6115,4,337,16.1,396.90,10.24,19.4,3.35
67,68,0.05789,12.5,6.07,0,0.4090,5.878,21.4,6.4980,4,345,18.9,396.21,8.10,22.0,3.74
68,69,0.13554,12.5,6.07,0,0.4090,5.594,36.8,6.4980,4,345,18.9,396.90,13.09,17.4,3.11
69,70,0.12816,12.5,6.07,0,0.4090,5.885,33.0,6.4980,4,345,18.9,396.90,8.79,20.9,3.55
70,71,0.08826,0.0,10.81,0,0.4130,6.417,6.6,5.2873,4,305,19.2,383.73,6.72,24.2,3.77
71,72,0.15876,0.0,10.81,0,0.4130,5.961,17.5,5.2873,4,305,19.2,376.94,9.88,21.7,3.64
72,73,0.09164,0.0,10.81,0,0.4130,6.065,7.8,5.2873,4,305,19.2,390.91,5.52,22.8,3.76
73,74,0.19539,0.0,10.81,0,0.4130,6.245,6.2,5.2873,4,305,19.2,377.17,7.54,23.4,3.75
74,75,0.07896,0.0,12.83,0,0.4370,6.273,6.0,4.2515,5,398,18.7,394.92,6.78,24.1,3.84
75,76,0.09512,0.0,12.83,0,0.4370,6.286,45.0,4.5026,5,398,18.7,383.23,8.94,21.4,3.40
76,77,0.10153,0.0,12.83,0,0.4370,6.279,74.5,4.0522,5,398,18.7,373.66,11.97,20.0,3.19
77,78,0.08707,0.0,12.83,0,0.4370,6.140,45.8,4.0905,5,398,18.7,386.96,10.27,20.8,3.39
78,79,0.05646,0.0,12.83,0,0.4370,6.232,53.7,5.0141,5,398,18.7,386.40,12.34,21.2,3.40
79,80,0.08387,0.0,12.83,0,0.4370,5.874,36.6,4.5026,5,398,18.7,396.06,9.10,20.3,3.46
80,81,0.04113,25.0,4.86,0,0.4260,6.727,33.5,5.4007,4,281,19.0,396.90,5.29,28.0,4.16
81,82,0.04462,25.0,4.86,0,0.4260,6.619,70.4,5.4007,4,281,19.0,395.63,7.22,23.9,3.61
82,83,0.03659,25.0,4.86,0,0.4260,6.302,32.2,5.4007,4,281,19.0,396.90,6.72,24.8,3.94
83,84,0.03551,25.0,4.86,0,0.4260,6.167,46.7,5.4007,4,281,19.0,390.64,7.51,22.9,3.71
84,85,0.05059,0.0,4.49,0,0.4490,6.389,48.0,4.7794,3,247,18.5,396.90,9.62,23.9,3.74
85,86,0.05735,0.0,4.49,0,0.4490,6.630,56.1,4.4377,3,247,18.5,392.30,6.53,26.6,4.01
86,87,0.05188,0.0,4.49,0,0.4490,6.015,45.1,4.4272,3,247,18.5,395.99,12.86,22.5,3.74
87,88,0.07151,0.0,4.49,0,0.4490,6.121,56.8,3.7476,3,247,18.5,395.15,8.44,22.2,3.63
88,89,0.05660,0.0,3.41,0,0.4890,7.007,86.3,3.4217,2,270,17.8,396.90,5.50,23.6,3.37
89,90,0.05302,0.0,3.41,0,0.4890,7.079,63.1,3.4145,2,270,17.8,396.06,5.70,28.7,4.05
90,91,0.04684,0.0,3.41,0,0.4890,6.417,66.1,3.0923,2,270,17.8,392.18,8.81,22.6,3.52
91,92,0.03932,0.0,3.41,0,0.4890,6.405,73.9,3.0921,2,270,17.8,393.55,8.20,22.0,3.43
92,93,0.04203,28.0,15.04,0,0.4640,6.442,53.6,3.6659,4,270,18.2,395.01,8.16,22.9,3.55
93,94,0.02875,28.0,15.04,0,0.4640,6.211,28.9,3.6659,4,270,18.2,396.33,6.21,25.0,4.03
94,95,0.04294,28.0,15.04,0,0.4640,6.249,77.3,3.6150,4,270,18.2,396.90,10.59,20.6,3.30
95,96,0.12204,0.0,2.89,0,0.4450,6.625,57.8,3.4952,2,276,18.0,357.98,6.65,28.4,4.29
96,97,0.11504,0.0,2.89,0,0.4450,6.163,69.6,3.4952,2,276,18.0,391.83,11.34,21.4,3.47
97,98,0.12083,0.0,2.89,0,0.4450,8.069,76.0,3.4952,2,276,18.0,396.90,4.21,38.7,4.80
98,99,0.08187,0.0,2.89,0,0.4450,7.820,36.9,3.4952,2,276,18.0,393.53,3.57,43.8,5.60
99,100,0.06860,0.0,2.89,0,0.4450,7.416,62.5,3.4952,2,276,18.0,396.90,6.19,33.2,4.48
100,101,0.14866,0.0,8.56,0,0.5200,6.727,79.9,2.7778,5,384,20.9,394.76,9.42,27.5,4.09
101,102,0.11432,0.0,8.56,0,0.5200,6.781,71.3,2.8561,5,384,20.9,395.58,7.67,26.5,3.91
102,103,0.22876,0.0,8.56,0,0.5200,6.405,85.4,2.7147,5,384,20.9,70.80,10.63,18.6,2.90
103,104,0.21161,0.0,8.56,0,0.5200,6.137,87.4,2.7147,5,384,20.9,394.47,13.44,19.3,3.14
104,105,0.13960,0.0,8.56,0,0.5200,6.167,90.0,2.4210,5,384,20.9,392.69,12.33,20.1,3.26
105,106,0.13262,0.0,8.56,0,0.5200,5.851,96.7,2.1069,5,384,20.9,394.05,16.47,19.5,3.33
106,107,0.17120,0.0,8.56,0,0.5200,5.836,91.9,2.2110,5,384,20.9,395.67,18.66,19.5,3.34
107,108,0.13117,0.0,8.56,0,0.5200,6.127,85.2,2.1224,5,384,20.9,387.69,14.09,20.4,3.33
108,109,0.12802,0.0,8.56,0,0.5200,6.474,97.1,2.4329,5,384,20.9,395.24,12.27,19.8,3.06
109,110,0.26363,0.0,8.56,0,0.5200,6.229,91.2,2.5451,5,384,20.9,391.23,15.55,19.4,3.11
110,111,0.10793,0.0,8.56,0,0.5200,6.195,54.4,2.7778,5,384,20.9,393.49,13.00,21.7,3.50
111,112,0.10084,0.0,10.01,0,0.5470,6.715,81.6,2.6775,6,432,17.8,395.59,10.16,22.8,3.40
112,113,0.12329,0.0,10.01,0,0.5470,5.913,92.9,2.3534,6,432,17.8,394.95,16.21,18.8,3.18
113,114,0.22212,0.0,10.01,0,0.5470,6.092,95.4,2.5480,6,432,17.8,396.90,17.09,18.7,3.07
114,115,0.14231,0.0,10.01,0,0.5470,6.254,84.2,2.2565,6,432,17.8,388.74,10.45,18.5,2.96
115,116,0.17134,0.0,10.01,0,0.5470,5.928,88.2,2.4631,6,432,17.8,344.91,15.76,18.3,3.09
116,117,0.13158,0.0,10.01,0,0.5470,6.176,72.5,2.7301,6,432,17.8,393.30,12.04,21.2,3.43
117,118,0.15098,0.0,10.01,0,0.5470,6.021,82.6,2.7474,6,432,17.8,394.51,10.30,19.2,3.19
118,119,0.13058,0.0,10.01,0,0.5470,5.872,73.1,2.4775,6,432,17.8,338.63,15.37,20.4,3.47
119,120,0.14476,0.0,10.01,0,0.5470,5.731,65.2,2.7592,6,432,17.8,391.50,13.61,19.3,3.37
120,121,0.06899,0.0,25.65,0,0.5810,5.870,69.7,2.2577,2,188,19.1,389.15,14.37,22.0,3.75
121,122,0.07165,0.0,25.65,0,0.5810,6.004,84.1,2.1974,2,188,19.1,377.67,14.27,20.3,3.38
122,123,0.09299,0.0,25.65,0,0.5810,5.961,92.9,2.0869,2,188,19.1,378.09,17.93,20.5,3.44
123,124,0.15038,0.0,25.65,0,0.5810,5.856,97.0,1.9444,2,188,19.1,370.31,25.41,17.3,2.95
124,125,0.09849,0.0,25.65,0,0.5810,5.879,95.8,2.0063,2,188,19.1,379.38,17.58,18.8,3.20
125,126,0.16902,0.0,25.65,0,0.5810,5.986,88.4,1.9929,2,188,19.1,385.02,14.81,21.4,3.58
126,127,0.38735,0.0,25.65,0,0.5810,5.613,95.6,1.7572,2,188,19.1,359.29,27.26,15.7,2.80
127,128,0.25915,0.0,21.89,0,0.6240,5.693,96.0,1.7883,4,437,21.2,392.11,17.19,16.2,2.85
128,129,0.32543,0.0,21.89,0,0.6240,6.431,98.8,1.8125,4,437,21.2,396.90,15.39,18.0,2.80
129,130,0.88125,0.0,21.89,0,0.6240,5.637,94.7,1.9799,4,437,21.2,396.90,18.34,14.3,2.54
130,131,0.34006,0.0,21.89,0,0.6240,6.458,98.9,2.1185,4,437,21.2,395.04,12.60,19.2,2.97
131,132,1.19294,0.0,21.89,0,0.6240,6.326,97.7,2.2710,4,437,21.2,396.90,12.26,19.6,3.10
132,133,0.59005,0.0,21.89,0,0.6240,6.372,97.9,2.3274,4,437,21.2,385.76,11.12,23.0,3.61
133,134,0.32982,0.0,21.89,0,0.6240,5.822,95.4,2.4699,4,437,21.2,388.69,15.03,18.4,3.16
134,135,0.97617,0.0,21.89,0,0.6240,5.757,98.4,2.3460,4,437,21.2,262.76,17.31,15.6,2.71
135,136,0.55778,0.0,21.89,0,0.6240,6.335,98.2,2.1107,4,437,21.2,394.67,16.96,18.1,2.86
136,137,0.32264,0.0,21.89,0,0.6240,5.942,93.5,1.9669,4,437,21.2,378.25,16.90,17.4,2.93
137,138,0.35233,0.0,21.89,0,0.6240,6.454,98.4,1.8498,4,437,21.2,394.08,14.59,17.1,2.65
138,139,0.24980,0.0,21.89,0,0.6240,5.857,98.2,1.6686,4,437,21.2,392.04,21.32,13.3,2.27
139,140,0.54452,0.0,21.89,0,0.6240,6.151,97.9,1.6687,4,437,21.2,396.90,18.46,17.8,2.89
140,141,0.29090,0.0,21.89,0,0.6240,6.174,93.6,1.6119,4,437,21.2,388.08,24.16,14.0,2.27
141,142,1.62864,0.0,21.89,0,0.6240,5.019,100.0,1.4394,4,437,21.2,396.90,34.41,14.4,2.87
142,143,3.32105,0.0,19.58,1,0.8710,5.403,100.0,1.3216,5,403,14.7,396.90,26.82,13.4,2.48
143,144,4.09740,0.0,19.58,0,0.8710,5.468,100.0,1.4118,5,403,14.7,396.90,26.42,15.6,2.85
144,145,2.77974,0.0,19.58,0,0.8710,4.903,97.8,1.3459,5,403,14.7,396.90,29.29,11.8,2.41
145,146,2.37934,0.0,19.58,0,0.8710,6.130,100.0,1.4191,5,403,14.7,172.91,27.80,13.8,2.25
146,147,2.15505,0.0,19.58,0,0.8710,5.628,100.0,1.5166,5,403,14.7,169.27,16.65,15.6,2.77
147,148,2.36862,0.0,19.58,0,0.8710,4.926,95.7,1.4608,5,403,14.7,391.71,29.53,14.6,2.96
148,149,2.33099,0.0,19.58,0,0.8710,5.186,93.8,1.5296,5,403,14.7,356.99,28.32,17.8,3.43
149,150,2.73397,0.0,19.58,0,0.8710,5.597,94.9,1.5257,5,403,14.7,351.85,21.45,15.4,2.75
150,151,1.65660,0.0,19.58,0,0.8710,6.122,97.3,1.6180,5,403,14.7,372.80,14.10,21.5,3.51
151,152,1.49632,0.0,19.58,0,0.8710,5.404,100.0,1.5916,5,403,14.7,341.60,13.28,19.6,3.63
152,153,1.12658,0.0,19.58,1,0.8710,5.012,88.0,1.6102,5,403,14.7,343.28,12.12,15.3,3.05
153,154,2.14918,0.0,19.58,0,0.8710,5.709,98.5,1.6232,5,403,14.7,261.95,15.79,19.4,3.40
154,155,1.41385,0.0,19.58,1,0.8710,6.129,96.0,1.7494,5,403,14.7,321.02,15.12,17.0,2.77
155,156,3.53501,0.0,19.58,1,0.8710,6.152,82.6,1.7455,5,403,14.7,88.01,15.02,15.6,2.54
156,157,2.44668,0.0,19.58,0,0.8710,5.272,94.0,1.7364,5,403,14.7,88.63,16.14,13.1,2.48
157,158,1.22358,0.0,19.58,0,0.6050,6.943,97.4,1.8773,5,403,14.7,363.43,4.59,41.3,5.95
158,159,1.34284,0.0,19.58,0,0.6050,6.066,100.0,1.7573,5,403,14.7,353.89,6.43,24.3,4.01
159,160,1.42502,0.0,19.58,0,0.8710,6.510,100.0,1.7659,5,403,14.7,364.31,7.39,23.3,3.58
160,161,1.27346,0.0,19.58,1,0.6050,6.250,92.6,1.7984,5,403,14.7,338.92,5.50,27.0,4.32
161,162,1.46336,0.0,19.58,0,0.6050,7.489,90.8,1.9709,5,403,14.7,374.43,1.73,50.0,6.68
162,163,1.83377,0.0,19.58,1,0.6050,7.802,98.2,2.0407,5,403,14.7,389.61,1.92,50.0,6.41
163,164,1.51902,0.0,19.58,1,0.6050,8.375,93.9,2.1620,5,403,14.7,388.45,3.32,50.0,5.97
164,165,2.24236,0.0,19.58,0,0.6050,5.854,91.8,2.4220,5,403,14.7,395.11,11.64,22.7,3.88
165,166,2.92400,0.0,19.58,0,0.6050,6.101,93.0,2.2834,5,403,14.7,240.16,9.81,25.0,4.10
166,167,2.01019,0.0,19.58,0,0.6050,7.929,96.2,2.0459,5,403,14.7,369.30,3.70,50.0,6.31
167,168,1.80028,0.0,19.58,0,0.6050,5.877,79.2,2.4259,5,403,14.7,227.61,12.14,23.8,4.05
168,169,2.30040,0.0,19.58,0,0.6050,6.319,96.1,2.1000,5,403,14.7,297.09,11.10,23.8,3.77
169,170,2.44953,0.0,19.58,0,0.6050,6.402,95.2,2.2625,5,403,14.7,330.04,11.32,22.3,3.48
170,171,1.20742,0.0,19.58,0,0.6050,5.875,94.6,2.4259,5,403,14.7,292.29,14.43,17.4,2.96
171,172,2.31390,0.0,19.58,0,0.6050,5.880,97.3,2.3887,5,403,14.7,348.13,12.03,19.1,3.25
172,173,0.13914,0.0,4.05,0,0.5100,5.572,88.5,2.5961,5,296,16.6,396.90,14.69,23.1,4.15
173,174,0.09178,0.0,4.05,0,0.5100,6.416,84.1,2.6463,5,296,16.6,395.50,9.04,23.6,3.68
174,175,0.08447,0.0,4.05,0,0.5100,5.859,68.7,2.7019,5,296,16.6,393.23,9.64,22.6,3.86
175,176,0.06664,0.0,4.05,0,0.5100,6.546,33.1,3.1323,5,296,16.6,390.96,5.33,29.4,4.49
176,177,0.07022,0.0,4.05,0,0.5100,6.020,47.2,3.5549,5,296,16.6,393.23,10.11,23.2,3.85
177,178,0.05425,0.0,4.05,0,0.5100,6.315,73.4,3.3175,5,296,16.6,395.60,6.29,24.6,3.90
178,179,0.06642,0.0,4.05,0,0.5100,6.860,74.4,2.9153,5,296,16.6,391.27,6.92,29.9,4.36
179,180,0.05780,0.0,2.46,0,0.4880,6.980,58.4,2.8290,3,193,17.8,396.90,5.04,37.2,5.33
180,181,0.06588,0.0,2.46,0,0.4880,7.765,83.3,2.7410,3,193,17.8,395.56,7.56,39.8,5.13
181,182,0.06888,0.0,2.46,0,0.4880,6.144,62.2,2.5979,3,193,17.8,396.90,9.45,36.2,5.89
182,183,0.09103,0.0,2.46,0,0.4880,7.155,92.2,2.7006,3,193,17.8,394.12,4.82,37.9,5.30
183,184,0.10008,0.0,2.46,0,0.4880,6.563,95.6,2.8470,3,193,17.8,396.90,5.68,32.5,4.95
184,185,0.08308,0.0,2.46,0,0.4880,5.604,89.8,2.9879,3,193,17.8,391.00,13.98,26.4,4.71
185,186,0.06047,0.0,2.46,0,0.4880,6.153,68.8,3.2797,3,193,17.8,387.11,13.15,29.6,4.81
186,187,0.05602,0.0,2.46,0,0.4880,7.831,53.6,3.1992,3,193,17.8,392.63,4.45,50.0,6.38
187,188,0.07875,45.0,3.44,0,0.4370,6.782,41.1,3.7886,5,398,15.2,393.87,6.68,32.0,4.72
188,189,0.12579,45.0,3.44,0,0.4370,6.556,29.1,4.5667,5,398,15.2,382.84,4.56,29.8,4.55
189,190,0.08370,45.0,3.44,0,0.4370,7.185,38.9,4.5667,5,398,15.2,396.90,5.39,34.9,4.86
190,191,0.09068,45.0,3.44,0,0.4370,6.951,21.5,6.4798,5,398,15.2,377.68,5.10,37.0,5.32
191,192,0.06911,45.0,3.44,0,0.4370,6.739,30.8,6.4798,5,398,15.2,389.71,4.69,30.5,4.53
192,193,0.08664,45.0,3.44,0,0.4370,7.178,26.3,6.4798,5,398,15.2,390.49,2.87,36.4,5.07
193,194,0.02187,60.0,2.93,0,0.4010,6.800,9.9,6.2196,1,265,15.6,393.37,5.03,31.1,4.57
194,195,0.01439,60.0,2.93,0,0.4010,6.604,18.8,6.2196,1,265,15.6,376.70,4.38,29.1,4.41
195,196,0.01381,80.0,0.46,0,0.4220,7.875,32.0,5.6484,4,255,14.4,394.23,2.97,50.0,6.35
196,197,0.04011,80.0,1.52,0,0.4040,7.287,34.1,7.3090,2,329,12.6,396.90,4.08,33.3,4.57
197,198,0.04666,80.0,1.52,0,0.4040,7.107,36.6,7.3090,2,329,12.6,354.31,8.61,30.3,4.26
198,199,0.03768,80.0,1.52,0,0.4040,7.274,38.3,7.3090,2,329,12.6,392.20,6.62,34.6,4.76
199,200,0.03150,95.0,1.47,0,0.4030,6.975,15.3,7.6534,3,402,17.0,396.90,4.56,34.9,5.00
200,201,0.01778,95.0,1.47,0,0.4030,7.135,13.9,7.6534,3,402,17.0,384.30,4.45,32.9,4.61
201,202,0.03445,82.5,2.03,0,0.4150,6.162,38.4,6.2700,2,348,14.7,393.77,7.43,24.1,3.91
202,203,0.02177,82.5,2.03,0,0.4150,7.610,15.7,6.2700,2,348,14.7,395.38,3.11,42.3,5.56
203,204,0.03510,95.0,2.68,0,0.4161,7.853,33.2,5.1180,4,224,14.7,392.78,3.81,48.5,6.18
204,205,0.02009,95.0,2.68,0,0.4161,8.034,31.9,5.1180,4,224,14.7,390.55,2.88,50.0,6.22
205,206,0.13642,0.0,10.59,0,0.4890,5.891,22.3,3.9454,4,277,18.6,396.90,10.87,22.6,3.84
206,207,0.22969,0.0,10.59,0,0.4890,6.326,52.5,4.3549,4,277,18.6,394.87,10.97,24.4,3.86
207,208,0.25199,0.0,10.59,0,0.4890,5.783,72.7,4.3549,4,277,18.6,389.43,18.06,22.5,3.89
208,209,0.13587,0.0,10.59,1,0.4890,6.064,59.1,4.2392,4,277,18.6,381.32,14.66,24.4,4.02
209,210,0.43571,0.0,10.59,1,0.4890,5.344,100.0,3.8750,4,277,18.6,396.90,23.09,20.0,3.74
210,211,0.17446,0.0,10.59,1,0.4890,5.960,92.1,3.8771,4,277,18.6,393.25,17.27,21.7,3.64
211,212,0.37578,0.0,10.59,1,0.4890,5.404,88.6,3.6650,4,277,18.6,395.24,23.98,19.3,3.57
212,213,0.21719,0.0,10.59,1,0.4890,5.807,53.8,3.6526,4,277,18.6,390.94,16.03,22.4,3.86
213,214,0.14052,0.0,10.59,0,0.4890,6.375,32.3,3.9454,4,277,18.6,385.81,9.38,28.1,4.41
214,215,0.28955,0.0,10.59,0,0.4890,5.412,9.8,3.5875,4,277,18.6,348.93,29.55,23.7,4.38
215,216,0.19802,0.0,10.59,0,0.4890,6.182,42.4,3.9454,4,277,18.6,393.63,9.47,25.0,4.04
216,217,0.04560,0.0,13.89,1,0.5500,5.888,56.0,3.1121,5,276,16.4,392.80,13.51,23.3,3.96
217,218,0.07013,0.0,13.89,0,0.5500,6.642,85.1,3.4211,5,276,16.4,392.78,9.69,28.7,4.32
218,219,0.11069,0.0,13.89,1,0.5500,5.951,93.8,2.8893,5,276,16.4,396.90,17.92,21.5,3.61
219,220,0.11425,0.0,13.89,1,0.5500,6.373,92.4,3.3633,5,276,16.4,393.74,10.50,23.0,3.61
220,221,0.35809,0.0,6.20,1,0.5070,6.951,88.5,2.8617,8,307,17.4,391.70,9.71,26.7,3.84
221,222,0.40771,0.0,6.20,1,0.5070,6.164,91.3,3.0480,8,307,17.4,395.24,21.46,21.7,3.52
222,223,0.62356,0.0,6.20,1,0.5070,6.879,77.7,3.2721,8,307,17.4,390.39,9.93,27.5,4.00
223,224,0.61470,0.0,6.20,0,0.5070,6.618,80.8,3.2721,8,307,17.4,396.90,7.60,30.1,4.55
224,225,0.31533,0.0,6.20,0,0.5040,8.266,78.3,2.8944,8,307,17.4,385.05,4.14,44.8,5.42
225,226,0.52693,0.0,6.20,0,0.5040,8.725,83.0,2.8944,8,307,17.4,382.00,4.63,50.0,5.73
226,227,0.38214,0.0,6.20,0,0.5040,8.040,86.5,3.2157,8,307,17.4,387.38,3.13,37.6,4.68
227,228,0.41238,0.0,6.20,0,0.5040,7.163,79.9,3.2157,8,307,17.4,372.08,6.36,31.6,4.41
228,229,0.29819,0.0,6.20,0,0.5040,7.686,17.0,3.3751,8,307,17.4,377.51,3.92,46.7,6.08
229,230,0.44178,0.0,6.20,0,0.5040,6.552,21.4,3.3751,8,307,17.4,380.34,3.76,31.5,4.81
230,231,0.53700,0.0,6.20,0,0.5040,5.981,68.1,3.6715,8,307,17.4,378.35,11.65,24.3,4.06
231,232,0.46296,0.0,6.20,0,0.5040,7.412,76.9,3.6715,8,307,17.4,376.14,5.25,31.7,4.28
232,233,0.57529,0.0,6.20,0,0.5070,8.337,73.3,3.8384,8,307,17.4,385.91,2.47,41.7,5.00

In [83]:
pd.isnull(boston)

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv,Average Price Per Room
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
502,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
503,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
504,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
505,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [97]:
data={'a':[1,2,np.nan], 'b':[3,np.nan, np.nan], 'c':[4,np.nan, 6]}
df=pd.DataFrame(data=data)
df

     a    b    c
0  1.0  3.0  4.0
1  2.0  NaN  NaN
2  NaN  NaN  6.0

In [102]:
df.dropna(axis=0, how='any')df.isnull()

     a    b    c
0  1.0  3.0  4.0

###### Filter out those rows in a separate DataFrame which contains atleast one null value

In [111]:
df[df.isnull().any(axis=1)]

     a   b    c
1  2.0 NaN  NaN
2  NaN NaN  6.0

In [112]:
df.isnull().any(axis=1)

0    False
1     True
2     True
dtype: bool

In [116]:
columns=['c'+str(i) for i in range(3)]
columns

['c0', 'c1', 'c2']

In [117]:
df=pd.DataFrame(data=[[1,2,5],[44, 67, 33], [89, 70, 33]], columns=columns)
df

   c0  c1  c2
0   1   2   5
1  44  67  33
2  89  70  33

In [119]:
df[(df>67).any(1)]

   c0  c1  c2
2  89  70  33